<section class="section">
    <div class="container">
        <div class="content">
            <h1 class="pb-5 mb-5">Contact</h1>

            <h5>E-mails</h5>
            <p>Vous pouvez directement nous envoyer un mail à l'adresse suivante: <a href="mailto:alexandre.venot@lerepairedeletalon.com">alexandre.venot@lerepairedeletalon.com</a></p>
            
            <h5>Réseaux sociaux</h5>
            <p>Il est également possible de nous contacter sur les réseaux sociaux suivants:</p>
            <ul>
                <li>
                    <a href="https://www.linkedin.com/company/lerepairedeletalon" target="_blank" aria-label="Linked in">
                        <span class="icon-text">
                            <span class="icon">
                            <i class="fa-brands fa-linkedin fa-linkedin-custom"></i>
                        </span>Linked in</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/people/Le-Repaire-de-l%C3%89talon/61560091171181" target="_blank" aria-label="Facebook">
                        <span class="icon-text">
                            <span class="icon">
                            <i class="fa-brands fa-facebook fa-facebook-custom"></i>
                        </span>Facebook</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/lerepairedeletalon" target="_blank" aria-label="Instagram">
                        <span class="icon-text">
                            <span class="icon">
                            <i class="fa-brands fa-instagram fa-instagram-custom"></i>
                        </span>Instagram</span>
                    </a>
                </li>
                <li>
                    <a href="https://x.com/lrdeletalon" target="_blank" aria-label="X">
                        <span class="icon-text">
                            <span class="icon">
                            <i class="fa-brands fa-twitter fa-twitter-custom"></i>
                        </span>X, anciennement Twitter</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>