<div class="columns is-vcentered">
    <div class="column">
        <div class="content has-text-left">
            <p class="is-size-5 has-text-weight-bold mb-0">{{item.stallion_name}}</p>
            <p class="is-size-6 has-text-grey has-text-weight-medium">Étalon</p>
            <p class="is-size-5 has-text-weight-bold mb-0">{{item.mare_name}}</p>
            <p class="is-size-6 has-text-grey has-text-weight-medium">Jument</p>
        </div>
    </div>
    <div class="column">
        <div class="block has-text-grey mb-2">
            Statut:
        </div>
        <div class="block">
            <span class="tag is-medium" [ngClass]="statusHelperObject[item.status]">{{item.status}}</span>
        </div>
    </div>
</div>