<div class="columns" *ngIf="clickedProfileStallionId === null">
    <div class="column is-offset-1">
        <section class="section">
            <h3 class="title is-3 has-text-weight-bold">Étalons disponibles à la saillie</h3>
        </section>
    </div>
</div>

<div class="columns">
    <div class="column is-3 is-offset-1" *ngIf="clickedProfileStallionId === null">
        <section class="section">
            <app-filters [loadingStatus]="filtersAreLoading" (updateFiltersEvent)="handleNewFilters($event)"></app-filters>
        </section>
    </div>

    <div class="column">
        <section class="section">
            <app-stallion-panel
            [filters]="currentFilters"
            (loadingEndingEvent)="handleLoadingEnding()"
            (clickedOnProfileEvent)="handleClickOnProfile($event)"
            *ngIf="clickedProfileStallionId === null"
            ></app-stallion-panel>

            <app-stallion-profile [itemId]="clickedProfileStallionId" *ngIf="clickedProfileStallionId !== null"></app-stallion-profile>
        </section>
    </div>
</div>