<h4 class="subtitle is-4 has-text-weight-bold mb-6">Filtres</h4>

<form [formGroup]="filterForm">
    <div class="field">
        <button class="button is-fullwidth is-justify-content-flex-start" [ngClass]="filterIsSelected['breed'] ? 'is-active' : ''" (click)="swapFilter('breed')">
            <span class="icon">
                <i class="fa fa-chevron-up" [ngClass]="filterIsSelected['breed'] ? '' : 'fa-rotate-180'"></i>
            </span>
            <span class="has-text-weight-semibold">Race</span>
        </button>
        <div class="content px-3 py-3">
            <div *ngIf="filterIsSelected['breed']">
                <div *ngFor="let breed of availableBreeds">
                    <label class="checkbox">
                        <input type="checkbox" id={{breed}} (change)="updateCheckbox('breed', $event)" [checked]="selectedBreeds[breed]">
                        {{ breed }}
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="field">
        <button class="button is-fullwidth is-justify-content-flex-start" [ngClass]="filterIsSelected['color'] ? 'is-active' : ''" (click)="swapFilter('color')">
            <span class="icon">
                <i class="fa fa-chevron-up" [ngClass]="filterIsSelected['color'] ? '' : 'fa-rotate-180'"></i>
            </span>
            <span class="has-text-weight-semibold">Robe</span>
        </button>
        <div class="content px-3 py-3">
            <div *ngIf="filterIsSelected['color']">
                <div *ngFor="let color of availableColors">
                    <label class="checkbox">
                        <input type="checkbox" id={{color}} (change)="updateCheckbox('color', $event)" [checked]="selectedColors[color]">
                        {{ color }}
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="field">
        <button class="button is-fullwidth is-justify-content-flex-start" [ngClass]="filterIsSelected['price'] ? 'is-active' : ''" (click)="swapFilter('price')">
            <span class="icon">
                <i class="fa fa-chevron-up" [ngClass]="filterIsSelected['price'] ? '' : 'fa-rotate-180'"></i>
            </span>
            <span class="has-text-weight-semibold">Prix</span>
        </button>
        <div class="content px-3 py-3">
            <div class="columns" *ngIf="filterIsSelected['price']">
                <div class="column">
                    <p class="control has-icons-right">
                        <input class="input" type="text" placeholder="Min." formControlName="lowestPrice">
                        <span class="icon is-small is-right">
                            <i class="fas fa-euro"></i>
                        </span>
                    </p>
                </div>

                <div class="column">
                    <p class="control has-icons-right">
                        <input class="input" type="text" placeholder="Max." formControlName="highestPrice">
                        <span class="icon is-small is-right">
                            <i class="fas fa-euro"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="field">
        <button class="button is-fullwidth is-justify-content-flex-start" [ngClass]="filterIsSelected['distance'] ? 'is-active' : ''" (click)="swapFilter('distance')">
            <span class="icon">
                <i class="fa fa-chevron-up" [ngClass]="filterIsSelected['distance'] ? '' : 'fa-rotate-180'"></i>
            </span>
            <span class="has-text-weight-semibold">Distance</span>
        </button>
        <div class="content px-3 py-3" *ngIf="filterIsSelected['distance']">
            <label class="label has-text-weight-semibold has-text-grey">Votre localisation: ville et code postal</label>
            <p class="help">ex: 'Tourves', 'Tourves 83' ou 'Tourves 83170'</p>
            <div class="field is-grouped">
                <div class="control is-expanded" [ngClass]="locationIsValidated? 'has-icons-right' : ''">
                  <input class="input"[ngClass]="{
                    'is-success': locationIsValidated,
                    'is-danger': !locationIsValidated && isLookingForLocation
                    }" type="text" placeholder="" formControlName="location">
                  <span class="icon is-right" *ngIf="locationIsValidated">
                    <i class="fas fa-check fa-sm"></i>
                  </span>
                </div>
                <div class="control" *ngIf="!locationIsValidated">
                  <button class="button is-primary" (click)="findCity()">Trouver une correspondance</button>
                </div>
                <div class="control" *ngIf="locationIsValidated">
                  <button class="button is-primary" (click)="resetCity()">
                    <span class="icon">
                      <i class="fas fa-arrows-rotate"></i>
                    </span>
                    <span>Changer de ville</span>
                  </button>
                </div>
            </div>
            <p class="help has-text-danger">{{ locationMessage.value }}</p>
            <div class="tags" *ngIf="locationSearchSuccess['status'] && isLookingForLocation">
              <span class="tag is-medium is-clickable" *ngFor="let index of getNumberArrayF(locationTagValues.length)" (click)="confirmLocationValue(index)">{{locationTagValues[index]}}</span>
            </div>
            <label class="label has-text-weight-semibold has-text-grey">Distance maximale</label>
            <div class="field has-addons">
                <p class="control">
                  <input class="input" type="text" placeholder="200" [formControl]="distanceControl">
                </p>
                <p class="control">
                  <a class="button is-static">
                    km
                  </a>
                </p>
              </div>
        </div>
    </div>

    <div class="content px-0 py-3">
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary" type="button" (click)="onSubmit()" [ngClass]="loadingStatus ? 'is-loading' : ''">Appliquer les filtres</button>
            </div>
            <div class="control">
                <button class="button" type="button" (click)="resetFilters()">Réinitialiser les filtres</button>
            </div>
        </div>
    </div>
</form>