<h4 class="subtitle is-4 has-text-weight-bold mb-6">Critères de recherche</h4>

<form [formGroup]="filterForm">

    <div class="field">
        <button class="button is-fullwidth is-justify-content-flex-start" [ngClass]="filterIsSelected['price'] ? 'is-active' : ''" (click)="swapFilter('price')">
            <span class="icon">
                <i class="fa fa-chevron-up" [ngClass]="filterIsSelected['price'] ? '' : 'fa-rotate-180'"></i>
            </span>
            <span class="has-text-weight-semibold">Prix</span>
        </button>
        <div class="content px-3 py-3">
            <div class="columns" *ngIf="filterIsSelected['price']">
                <div class="column">
                    <div class="field has-addons">
                        <p class="control is-expanded">
                          <input class="input" type="text" placeholder="Min." formControlName="lowestPrice">
                        </p>
                        <p class="control">
                          <a class="button is-static">
                            €
                          </a>
                        </p>
                    </div>
                </div>

                <div class="column">
                    <div class="field has-addons">
                        <p class="control is-expanded">
                          <input class="input" type="text" placeholder="Max." formControlName="highestPrice">
                        </p>
                        <p class="control">
                          <a class="button is-static">
                            €
                          </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="field">
        <button class="button is-fullwidth is-justify-content-flex-start" [ngClass]="filterIsSelected['breed'] ? 'is-active' : ''" (click)="swapFilter('breed')">
            <span class="icon">
                <i class="fa fa-chevron-up" [ngClass]="filterIsSelected['breed'] ? '' : 'fa-rotate-180'"></i>
            </span>
            <span class="has-text-weight-semibold">Race de l'étalon</span>
        </button>
        <div class="content px-3 py-3">
            <div *ngIf="filterIsSelected['breed']">
                <div *ngFor="let key of availableBreedTypes">
                    <p class="has-text-weight-bold pt-4">{{key}}</p>
                    <div *ngFor="let breed of breedsRecord[key]">
                        <label class="checkbox">
                            <input type="checkbox" id={{breed}} (change)="updateCheckbox('breed', $event)" [checked]="selectedBreeds[breed]">
                            {{ breed }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="field">
        <button class="button is-fullwidth is-justify-content-flex-start" [ngClass]="filterIsSelected['productionBreed'] ? 'is-active' : ''" (click)="swapFilter('productionBreed')">
            <span class="icon">
                <i class="fa fa-chevron-up" [ngClass]="filterIsSelected['productionBreed'] ? '' : 'fa-rotate-180'"></i>
            </span>
            <span class="has-text-weight-semibold">Race de production</span>
        </button>
        <div class="content px-3 py-3">
            <div *ngIf="filterIsSelected['productionBreed']">
                <div *ngFor="let key of availableBreedTypes">
                    <p class="has-text-weight-bold pt-4">{{key}}</p>
                    <div *ngFor="let productionBreed of breedsRecord[key]">
                        <label class="checkbox">
                            <input type="checkbox" id={{productionBreed}} (change)="updateCheckbox('productionBreed', $event)" [checked]="selectedProductionBreeds[productionBreed]">
                            {{ productionBreed }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="field">
        <button class="button is-fullwidth is-justify-content-flex-start" [ngClass]="filterIsSelected['height'] ? 'is-active' : ''" (click)="swapFilter('height')">
            <span class="icon">
                <i class="fa fa-chevron-up" [ngClass]="filterIsSelected['height'] ? '' : 'fa-rotate-180'"></i>
            </span>
            <span class="has-text-weight-semibold">Taille au garrot de l'étalon</span>
        </button>
        <div class="content px-3 py-3">
            <div class="columns" *ngIf="filterIsSelected['height']">
                <div class="column">
                    <div class="field has-addons">
                        <p class="control is-expanded">
                          <input class="input" type="text" placeholder="Min." formControlName="lowestHeight">
                        </p>
                        <p class="control">
                          <a class="button is-static">
                            cm
                          </a>
                        </p>
                    </div>
                </div>

                <div class="column">
                    <div class="field has-addons">
                        <p class="control is-expanded">
                          <input class="input" type="text" placeholder="Max." formControlName="highestHeight">
                        </p>
                        <p class="control">
                          <a class="button is-static">
                            cm
                          </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="field">
        <button class="button is-fullwidth is-justify-content-flex-start" [ngClass]="filterIsSelected['coverType'] ? 'is-active' : ''" (click)="swapFilter('coverType')">
            <span class="icon">
                <i class="fa fa-chevron-up" [ngClass]="filterIsSelected['coverType'] ? '' : 'fa-rotate-180'"></i>
            </span>
            <span class="has-text-weight-semibold">Type de saillie</span>
        </button>
        <div class="content px-3 py-3">
            <div *ngIf="filterIsSelected['coverType']">
                <div *ngFor="let coverType of availableCoverTypesL">
                    <label class="checkbox">
                        <input type="checkbox" id={{coverType}} (change)="updateCheckbox('coverType', $event)" [checked]="selectedCoverTypes[coverType]">
                        {{ availableCoverTypes[coverType] }}
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="field">
        <button class="button is-fullwidth is-justify-content-flex-start" [ngClass]="filterIsSelected['distance'] ? 'is-active' : ''" (click)="swapFilter('distance')">
            <span class="icon">
                <i class="fa fa-chevron-up" [ngClass]="filterIsSelected['distance'] ? '' : 'fa-rotate-180'"></i>
            </span>
            <span class="has-text-weight-semibold">Distance</span>
        </button>
        <div class="content px-3 py-3" *ngIf="filterIsSelected['distance']">
            <div class="field">
                <label class="label has-text-weight-semibold has-text-grey">Depuis quelle ville cherchez-vous?</label>
                <div class="control is-expanded" [ngClass]="locationIsValidated? 'has-icons-right' : ''">
                    <input class="input"[ngClass]="{
                      'is-success': locationIsValidated,
                      'is-danger': !locationIsValidated && isLookingForLocation
                      }" type="text" placeholder="Toulouse" formControlName="location">
                    <span class="icon is-right" *ngIf="locationIsValidated">
                      <i class="fas fa-check fa-sm"></i>
                    </span>
                  </div>
            </div>
            <div class="control" *ngIf="!locationIsValidated">
                <button class="button is-primary is-fullwidth" (click)="findCity()">Valider la ville</button>
            </div>
            <div class="control" *ngIf="locationIsValidated">
                <button class="button is-primary is-fullwidth" (click)="resetCity()">
                  <span class="icon">
                    <i class="fas fa-arrows-rotate"></i>
                  </span>
                  <span>Changer de ville</span>
                </button>
              </div>
            <p class="help has-text-danger">{{ locationMessage.value }}</p>
            <label class="label has-text-weight-semibold has-text-grey">Distance maximale de l'étalon</label>
            <div class="field has-addons">
                <p class="control">
                  <input class="input" type="text" placeholder="200" [formControl]="distanceControl">
                </p>
                <p class="control">
                  <a class="button is-static">
                    km
                  </a>
                </p>
              </div>
        </div>
    </div>

    <div class="content px-0 py-5">
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary" type="button" (click)="onSubmit()" [ngClass]="loadingStatus ? 'is-loading' : ''">Rechercher les étalons</button>
            </div>
            <div class="control">
                <button class="button" type="button" (click)="resetFilters()">Tout effacer</button>
            </div>
        </div>
    </div>
</form>

<div class="modal" [ngClass]="locationModalIsActive? 'is-active': ''">
    <div class="modal-background" (click)="resetCity()"></div>
    <div class="modal-content">
        <header class="modal-card-head">
            <p class="modal-card-title">Cliquez sur votre code postal:</p>
            <button class="delete" aria-label="close" (click)="resetCity()"></button>
        </header>
        <section class="modal-card-body">
            <div class="tags">
                <span class="tag is-medium is-clickable" *ngFor="let index of getNumberArrayF(locationTagValues.length)" (click)="confirmLocationValue(index)">{{locationTagValues[index]}}</span>
              </div>
        </section>
        <footer class="modal-card-foot is-justify-content-center">
            <div class="buttons">
                <a class="button" (click)="resetCity()">Annuler</a>
            </div>
        </footer>
    </div>
</div>