<app-navbar></app-navbar>
<section class="section">
  <div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <h3 class="subtitle is-3 has-text-weight-semibold mb-6">Créer un compte</h3>

      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label has-text-weight-semibold has-text-grey">Prénom</label>
            <div class="control has-icons-left">
              <input class="input" type="text" placeholder="Michel" formControlName="firstname">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label has-text-weight-semibold has-text-grey">Nom</label>
            <div class="control has-icons-left">
              <input class="input" type="text" placeholder="Dupont" formControlName="lastname">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label has-text-weight-semibold has-text-grey">Email</label>
            <div class="control has-icons-left">
              <input class="input" type="text" placeholder="michel.dupont@gmail.com" formControlName="email">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label has-text-weight-semibold has-text-grey">Numéro de portable</label>
            <div class="control has-icons-left">
              <input class="input" (input)="parsePhoneNumber()" type="text" placeholder="06 12 34 56 78" formControlName="phoneNumber">
              <span class="icon is-small is-left">
                <i class="fas fa-phone"></i>  
              </span>
            </div>
          </div>
        </div>
      </div>



      <div class="field">
        <label class="label has-text-weight-semibold has-text-grey">Mot de passe</label>
        <div class="control has-icons-left">
          <input class="input" type="password" formControlName="password">
          <span class="icon is-small is-left">
            <i class="fas fa-key"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="checkbox mb-4">
          <input type="checkbox" formControlName="cgu"/>
          En cochant cette case, j'accepte les <a (click)="navigateTo('conditions-generales-d-utilisation')">Conditions Générales d'Utilisation</a>.
        </label>
        <div class="control">
          <button class="button is-primary" type="submit"
            [ngClass]="status['status'] == 'Loading' ? 'is-loading' : ''">
            Créer un compte
          </button>
        </div>
      </div>
      <p class="help" [ngClass]="['BackendError', 'UserError'].includes(status['status']) ? 'is-danger': 'is-success'">{{ message.value }}</p>
    </form>
  </div>
</section>