<app-navbar></app-navbar>
<div class="columns">
  <div class="column is-one-third is-offset-one-third">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <h1 class="title mb-6">Créer un compte</h1>

      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label">Prénom</label>
            <div class="control">
              <input class="input" type="text" placeholder="" formControlName="firstname">
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">Nom</label>
            <div class="control">
              <input class="input" type="text" placeholder="" formControlName="lastname">
            </div>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="text" formControlName="email">
        </div>
        <p class="help">{{ message.value }}</p>
      </div>

      <div class="field">
        <label class="label">Mot de passe</label>
        <div class="control">
          <input class="input" type="password" placeholder="" formControlName="password">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button class="button is-primary" type="submit" [ngClass]="buttonIsClicked.status ? 'is-loading' : ''">Créer un compte</button>
        </div>
      </div>

    </form>
  </div>
</div>