<h3 class="subtitle is-3 has-text-weight-semibold">{{title}}</h3>

<section class="section">
  <form [formGroup]="stallionForm">
    <h4 class="subtitle is-4">Première partie: profil de l'étalon</h4>

    <h5 class="subtitle is-5 has-text-weight-bold">Identification de l'étalon</h5>

    <div class="field">
      <div class="columns">
        <div class="column is-two-thirds">
          <label class="label has-text-weight-semibold has-text-grey">Nom de l'étalon</label>
          <div class="control">
            <input class="input" [ngClass]="{
              'is-success': isFilledInForm('name') && triggerEmptyMandatoryFields['status'],
              'is-danger': !isFilledInForm('name') && triggerEmptyMandatoryFields['status']
              }" type="text" placeholder="" formControlName="name">
          </div>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="columns is-align-items-end">
        <div class="column">
          <label class="label has-text-weight-semibold has-text-grey">Stud-book de naissance</label>
          <div class="control" *ngIf="!stallionHasUnregisteredBreed">
            <div class="select" [ngClass]="{
              'is-success': dropdownIsSelected('breed') && triggerEmptyMandatoryFields['status'],
              'is-danger': !dropdownIsSelected('breed') && triggerEmptyMandatoryFields['status']
              }">
              <select formControlName="breed">
                <option>Sélectionner</option>
                <option *ngFor="let breed of availableBreeds">{{breed}}</option>
              </select>
            </div>
          </div>

          <div class="control" *ngIf="stallionHasUnregisteredBreed">
            <input class="input" type="text" placeholder="" formControlName="breed">
          </div>
        </div>
        <div class="column" *ngIf="stallionComponentInput.mode === 'creation'">
          <label class="label has-text-weight-semibold has-text-grey">{{stallionHasUnregisteredBreed? '': 'Stud-book absent de la liste?'}}</label>
          <div class="control" *ngIf="!stallionHasUnregisteredBreed">
            <button class="button is-primary" (click)="swapStallionHasUnregisteredBreed()">
              <span class="icon">
                <i class="fas fa-pencil"></i>
              </span>
              <span>Ajouter un autre Stud-book</span>
            </button>
          </div>
          <div class="control" *ngIf="stallionHasUnregisteredBreed">
            <button class="button is-primary" (click)="swapStallionHasUnregisteredBreed()">
              <span class="icon">
                <i class="fas fa-arrows-rotate"></i>
              </span>
              <span>Revenir à la liste des Stud-books de base</span>
            </button>
          </div>
        </div>

      </div>

    </div>

    <div class="field">
      <div class="columns">
        <div class="column is-two-thirds">
          <label class="label has-text-weight-semibold has-text-grey">N° SIRE</label>
          <div class="control">
            <input class="input" [ngClass]="{
              'is-success': isFilledInForm('nSIRE') && triggerEmptyMandatoryFields['status'],
              'is-danger': !isFilledInForm('nSIRE') && triggerEmptyMandatoryFields['status']
              }" type="text" placeholder="12345678X" formControlName="nSIRE">
          </div>
        </div>
      </div>
    </div>

    <div class="field py-4" *ngIf="stallionComponentInput.mode === 'creation'">
      <label class="label has-text-weight-semibold has-text-grey">Test négatif de l'étalon pour métrite, artérite ou anémie <small>(Formats acceptés: PNG, PDF, JPEG, JPG)</small></label>
      <div class="file is-primary">
        <label class="file-label">
          <div class="control">
            <input class="file-input" type="file" name="resume" (change)="fetchVerificationFile($event)" accept=".png,.pdf,.jpeg,.jpg">
          </div>
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-cloud-upload-alt"></i>
            </span>
            <span class="file-label" *ngIf="!verificationFile">
              Sélectionner un fichier 
            </span>
            <span class="file-label" *ngIf="verificationFile">
              Fichier sélectionné
            </span>
          </span>
          <span class="file-name" *ngIf="verificationFile">
            {{verificationFile.name}}
          </span>
        </label>
      </div>
      <p class="help has-text-danger">{{ verificationFileHelper.value }}</p>
    </div>

    <div class="field py-3">
      <h5 class="subtitle is-5 has-text-weight-bold mb-3">Photos</h5>
      <label class="label has-text-weight-normal has-text-grey-light">La première photo ajoutée, celle à l'extrémité gauche de la liste, sera considérée comme la photo principale.</label>

      <div class="photo-container">
        <figure class="image" *ngFor="let i of getNumberArray(photosURLs.length)">
          <img [src]="photosURLs[i]" alt="Photo" class="is-fullwidth">
          <button class="delete is-large" (click)="deletePhoto(i)"></button>
        </figure>


        <span class="file is-large is-boxed">
          <label class="file-label">
            <input class="file-input" type="file" name="resume" (change)="fetchPhotos($event)" accept=".png,.pdf,.jpeg,.jpg">
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-plus"></i>
              </span>
            </span>
          </label>
        </span>
      </div>
      <p class="help has-text-danger">{{ photosHelper.value }}</p>
    </div>

    <div class="field">
      <h5 class="subtitle is-5 has-text-weight-bold">Description principale</h5>
      <div class="control">
        <textarea class="textarea" [ngClass]="{
          'is-success': isFilledInForm('mainDesc') && triggerEmptyMandatoryFields['status'],
          'is-danger': !isFilledInForm('mainDesc') && triggerEmptyMandatoryFields['status']
          }" placeholder="Décrivez votre étalon en quelques lignes..." formControlName="mainDesc"></textarea>
      </div>
    </div>
    
    <h5 class="subtitle is-5 has-text-weight-bold">Informations de base</h5>
    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label has-text-weight-semibold has-text-grey">Robe</label>
          <div class="control">
            <input class="input" [ngClass]="{
              'is-success': isFilledInForm('color') && triggerEmptyMandatoryFields['status'],
              'is-danger': !isFilledInForm('color') && triggerEmptyMandatoryFields['status']
              }" type="text" placeholder="Noir pie tobiano" formControlName="color">
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <label class="label has-text-weight-semibold has-text-grey">Taille au garrot <small>(centimètres)</small></label>
          <div class="control">
          <input class="input" [ngClass]="{
            'is-success': isFilledInForm('height') && triggerEmptyMandatoryFields['status'],
            'is-danger': !isFilledInForm('height') && triggerEmptyMandatoryFields['status']
            }" type="text" placeholder="160" formControlName="height">
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <label class="label has-text-weight-semibold has-text-grey">Date de naissance <small>(JJ/MM/AAAA)</small></label>
          <div class="control">
          <input class="input" [ngClass]="{
            'is-success': isFilledInForm('birthdate') && triggerEmptyMandatoryFields['status'],
            'is-danger': !isFilledInForm('birthdate') && triggerEmptyMandatoryFields['status']
            }" type="text" placeholder="01/01/2015" formControlName="birthdate">
          </div>
        </div>
      </div>
    </div>

    <h5 class="subtitle is-5 has-text-weight-bold">Localisation de l'étalon</h5>
    <div class="columns is-align-items-self-end">
      <div class="column">
        <div class="field">
          <label class="label has-text-weight-semibold has-text-grey">Ville de résidence</label>
          <div class="control" [ngClass]="locationIsValidated? 'has-icons-right' : ''">
            <input class="input" [ngClass]="{
              'is-success': locationIsValidated,
              'is-danger': !locationIsValidated && (isLookingForLocation || triggerEmptyMandatoryFields['status'])
              }" type="text" placeholder="Toulouse" formControlName="location">
            <span class="icon is-right" *ngIf="locationIsValidated">
              <i class="fas fa-check fa-sm"></i>
            </span>
          </div>
        </div>
      </div>


      <div class="column">
        <div class="control" *ngIf="!locationIsValidated">
          <button class="button is-primary" (click)="findCity()">Valider la ville</button>
        </div>
        <div class="control" *ngIf="locationIsValidated">
          <button class="button is-primary" (click)="resetCity()">
            <span class="icon">
              <i class="fas fa-arrows-rotate"></i>
            </span>
            <span>Sélectionner une autre ville</span>
          </button>
        </div>
      </div>
    </div>
    
    <p class="help has-text-danger pb-5">{{ locationHelper.value }}</p>
    
    <h5 class="subtitle is-5 has-text-weight-bold">Pedigree</h5>

    <div class="columns is-flex is-align-items-center">
      <div class="column">
        <div class="control">
          <input type="text" class="input" placeholder="Père" formControlName="p1">
        </div>
      </div>

      <div class="column">
        <div class="control my-3">
          <input type="text" class="input" placeholder="Grand-père" formControlName="p3">
        </div>
        <div class="control my-3">
          <input type="text" class="input" placeholder="Grand-mère" formControlName="p4">
        </div>
      </div>

      <div class="column">
        <div class="control my-3">
          <input type="text" class="input" placeholder="Arrière-grand-père" formControlName="p7">
        </div>
        <div class="control my-3">
          <input type="text" class="input" placeholder="Arrière-grand-mère" formControlName="p8">
        </div>
        <div class="control my-3">
          <input type="text" class="input" placeholder="Arrière-grand-père" formControlName="p9">
        </div>
        <div class="control my-3">
          <input type="text" class="input" placeholder="Arrière-grand-mère" formControlName="p10">
        </div>
      </div>
    </div>

    <div class="columns is-flex is-align-items-center">
      <div class="column">
        <div class="control">
          <input type="text" class="input" placeholder="Mère" formControlName="p2">
        </div>
      </div>

      <div class="column">
        <div class="control my-3">
          <input type="text" class="input" placeholder="Grand-père" formControlName="p5">
        </div>
        <div class="control my-3">
          <input type="text" class="input" placeholder="Grand-mère" formControlName="p6">
        </div>
      </div>

      <div class="column">
        <div class="control my-3">
          <input type="text" class="input" placeholder="Arrière-grand-père" formControlName="p11">
        </div>
        <div class="control my-3">
          <input type="text" class="input" placeholder="Arrière-grand-mère" formControlName="p12">
        </div>
          <div class="control my-3">
          <input type="text" class="input" placeholder="Arrière-grand-père" formControlName="p13">
        </div>
          <div class="control my-3">
          <input type="text" class="input" placeholder="Arrière-grand-mère" formControlName="p14">
        </div>
      </div>
    </div>

    <div class="field py-3">
      <h5 class="subtitle is-5 has-text-weight-bold">Conseils de croisement</h5>
      <div class="control">
        <textarea class="textarea" placeholder="Indiquez ici les juments pour lesquelles votre étalon conviendra le mieux." formControlName="crossbreedingAdvice"></textarea>
      </div>
    </div>

    <div class="field py-3">
      <h5 class="subtitle is-5 has-text-weight-bold">Tests MST négatifs de l'étalon</h5>
      <label class="label has-text-weight-semibold has-text-grey pb-3">Indiquez les maladies sexuellement transmissibles pour lesquelles votre étalon a été testé.</label>

      <div *ngFor="let std of splitListOrKeysList(stdsRecord, 'obj', 1)[0]">
        <div class="columns is-align-items-center">
          <div class="column">
            <label class="checkbox">
              <input type="checkbox" [id]="std" (change)="updateCheckbox('stallionStdNegativeTests', $event)" [checked]="isChecked('stallionStdNegativeTests', std)">
              {{stdsRecord[std]}}
            </label>
          </div>
          <div class="column">
            <label class="label has-text-weight-semibold has-text-grey">Date du test <small>(JJ/MM/AAAA)</small></label>
            <div class="control">
              <input class="input" type="text" [formControlName]="std + 'StallionTestDate'" placeholder="01/01/2024">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="field py-3">
      <h5 class="subtitle is-5 has-text-weight-bold">Vaccins de l'étalon</h5>
      <label class="label has-text-weight-semibold has-text-grey">Indiquez contre quelles maladies votre étalon a ses vaccins à jour.</label>

      <div class="columns">
        <div class="column">
          <div *ngFor="let vaccine of splitListOrKeysList(vaccinesRecord, 'obj', 3)[0]">
            <label class="checkbox">
              <input type="checkbox" [id]="vaccine" (change)="updateCheckbox('stallionVaccines', $event)" [checked]="isChecked('stallionVaccines', vaccine)">
              {{vaccinesRecord[vaccine]}}
            </label>
          </div>
        </div>

        <div class="column">
          <div *ngFor="let vaccine of splitListOrKeysList(vaccinesRecord, 'obj', 3)[1]">
            <label class="checkbox">
              <input type="checkbox" [id]="vaccine" (change)="updateCheckbox('stallionVaccines', $event)" [checked]="isChecked('stallionVaccines', vaccine)">
              {{vaccinesRecord[vaccine]}}
            </label>
          </div>
        </div>

        <div class="column">
          <div *ngFor="let vaccine of splitListOrKeysList(vaccinesRecord, 'obj', 3)[2]">
            <label class="checkbox">
              <input type="checkbox" [id]="vaccine" (change)="updateCheckbox('stallionVaccines', $event)" [checked]="isChecked('stallionVaccines', vaccine)">
              {{vaccinesRecord[vaccine]}}
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="field py-3">
      <h5 class="subtitle is-5 has-text-weight-bold">Produits</h5>
      <div class="control">
        <textarea class="textarea" placeholder="Ce paragraphe concerne les produits de votre étalon, listez-les et donnez toute information à propos d'eux que vous jugez utile." formControlName="offspring"></textarea>
      </div>
    </div>

    <div class="field">
      <h5 class="subtitle is-5 has-text-weight-bold">Performances</h5>
      <div class="control">
        <textarea class="textarea" placeholder="Présentez ici les performances de votre étalon en compétition." formControlName="performance"></textarea>
      </div>
    </div>

    <div class="field">
      <h5 class="subtitle is-5 has-text-weight-bold">Pedigree: performances et produits</h5>
      <div class="control">
        <textarea class="textarea" placeholder="Dans ce paragraphe, apportez des informations concernant le pedigree de l'étalon, que ce soit à propos de leurs performances en compétition bien de leurs autres produits." formControlName="pedigreePO"></textarea>
      </div>
    </div>

    <div class="field">
      <h5 class="subtitle is-5 has-text-weight-bold">Informations additionnelles</h5>
      <div class="control">
        <textarea class="textarea" placeholder="Ajoutez ici toute information que vous jugez utile à propos de votre étalon." formControlName="stallionAdditionalInfo"></textarea>
      </div>
    </div>

    <h4 class="subtitle is-4 pt-6">Seconde partie: caractéristiques de la saillie</h4>

    <div class="field">
      <h5 class="subtitle is-5 has-text-weight-bold">Stud-books de production</h5>
      <label class="label has-text-weight-semibold has-text-grey">Indiquez les stud-books dans lesquelles votre étalon est approuvé à produire.</label>

      <div *ngFor="let key of availableBreedTypes">
        <p class="has-text-weight-bold pt-4">{{key}}</p>

        <div class="columns">
          <div class="column">
            <div *ngFor="let productionBreed of splitListOrKeysList(breedsRecord[key], 'list', 3)[0]">
              <label class="checkbox">
                <input type="checkbox" [id]="productionBreed" (change)="updateCheckbox('productionBreeds', $event)" [checked]="isChecked('productionBreeds', productionBreed)">
                {{productionBreed}}
              </label>
            </div>
          </div>

          <div class="column">
            <div *ngFor="let productionBreed of splitListOrKeysList(breedsRecord[key], 'list', 3)[1]">
              <label class="checkbox">
                <input type="checkbox" [id]="productionBreed" (change)="updateCheckbox('productionBreeds', $event)" [checked]="isChecked('productionBreeds', productionBreed)">
                {{productionBreed}}
              </label>
            </div>
          </div>

          <div class="column">
            <div *ngFor="let productionBreed of splitListOrKeysList(breedsRecord[key], 'list', 3)[2]">
              <label class="checkbox">
                <input type="checkbox" [id]="productionBreed" (change)="updateCheckbox('productionBreeds', $event)" [checked]="isChecked('productionBreeds', productionBreed)">
                {{productionBreed}}
              </label>
            </div>
          </div>
        </div>
      </div>

      <p class="has-text-weight-bold pt-4" *ngIf="productionBreedsAddedByHand.length >= 1">Ajoutés à la main</p>
      <div *ngFor="let i of getNumberArray(productionBreedsAddedByHand.length)">
        <label class="checkbox pr-4">
          <input type="checkbox" [id]="productionBreedsAddedByHand[i]" onclick="return false;" checked>
          {{productionBreedsAddedByHand[i]}}
        </label>
        <button class="delete" [id]="productionBreedsAddedByHand[i]" (click)="deleteAddedByHandProductionBreed(i)"></button>
      </div>

      <div class="py-5" *ngIf="!stallionHasUnregisteredProductionBreeds">
        <label class="label has-text-weight-semibold has-text-grey">Il manque des stud-books?</label>
        <div class="control">
          <button class="button is-primary" (click)="triggerOtherProductionBreeds()">
            <span class="icon">
              <i class="fas fa-pencil"></i>
            </span>
            <span>Ajouter d'autres Stud-books</span>
          </button>
        </div>
      </div>

      <div class="py-5" *ngIf="stallionHasUnregisteredProductionBreeds">
        <div class="columns is-align-items-end">
          <div class="column">
            <label class="label has-text-weight-semibold has-text-grey">Stud-book à ajouter</label>
            <div class="control">
              <input class="input" type="text" placeholder="" formControlName="newProductionBreed">
            </div>
          </div>
          <div class="column">
            <div class="control">
              <button class="button is-primary" (click)="addAnotherProductionBreed()">
                <span class="icon">
                  <i class="fas fa-plus"></i>
                </span>
                <span>Ajouter</span>
              </button>
            </div>
          </div>
  
        </div>
      </div>

    </div>

    <div class="field pt-3">
      <h5 class="subtitle is-5 has-text-weight-bold">Type de saillie</h5>
      <label class="label has-text-weight-semibold has-text-grey">Indiquez quel(s) type(s) de saillie sont proposés pour votre étalon.</label>
      <div class="columns">
        <div class="column">
          <div *ngFor="let coverType of splitListOrKeysList(coverTypes, 'obj', 2)[0]">
            <label class="checkbox">
              <input type="checkbox" [id]="coverType" (change)="updateCheckbox('coverTypes', $event)" [checked]="isChecked('coverTypes', coverType)">
              {{availableCoverTypes[coverType]}}
            </label>
          </div>
        </div>

        <div class="column">
          <div *ngFor="let coverType of splitListOrKeysList(coverTypes, 'obj', 2)[1]">
            <label class="checkbox">
              <input type="checkbox" [id]="coverType" (change)="updateCheckbox('coverTypes', $event)" [checked]="isChecked('coverTypes', coverType)">
              {{availableCoverTypes[coverType]}}
            </label>
          </div>
        </div>
      </div>
    </div>

    <h5 class="subtitle is-5 has-text-weight-bold mt-5">Caractéristiques des saillies</h5>
    <label class="label has-text-weight-semibold" [ngClass]="{
      'has-text-grey': getSelectedCheckboxes('coverTypes').length > 0 && triggerEmptyMandatoryFields['status'],
      'has-text-danger': !(getSelectedCheckboxes('coverTypes').length > 0) && triggerEmptyMandatoryFields['status']
      }" *ngIf="getSelectedCheckboxes('coverTypes').length === 0">
      Commencez par sélectionner un type de saillie disponible pour votre étalon.
    </label>

    <div class="box py-4" *ngFor="let coverType of getSelectedCheckboxes('coverTypes')">
      <label class="label has-text-weight-bold">Si l'acheteur choisit une {{availableCoverTypes[coverType]}} :</label>

      <div class="field pt-4">
        <label class="label has-text-weight-semibold has-text-grey">Indiquez le prix de la saillie.</label>
        <div class="control has-icons-right">
          <input class="input" type="text" placeholder="400" formControlName="{{coverType}}Price">
          <span class="icon is-small is-right">
            <i class="fas fa-euro"></i>
          </span>
        </div>
      </div>

      <div class="field pt-4" *ngIf="['lib', 'hand', 'iai'].includes(coverType)">
        <label class="label has-text-weight-semibold has-text-grey">{{"Indiquez l'adresse du " + coverPlaceNames[coverType]}}</label>
        <div class="control">
          <input class="input" type="text" formControlName="{{coverType}}CoverPlace">
        </div>
      </div>

      <div class="field pt-4">
        <label class="label has-text-weight-semibold has-text-grey">Quel pourcentage du prix total doit constituer l'acompte de la saillie? <small>(Min. 15%, Max. 50%)</small></label>
        <div class="control has-icons-right">
          <input class="input" type="text" placeholder="50" formControlName="{{coverType}}AdvancePercentage">
          <span class="icon is-small is-right">
            <i class="fas fa-percentage"></i>
          </span>
        </div>
      </div>

      <div class="field pt-4">
        <label class="label has-text-weight-semibold has-text-grey">Dans quel cas l'acheteur doit-il payer le solde de la saillie?</label>
        <div class="control" *ngFor="let balancePaymentCondition of splitListOrKeysList(balancePaymentConditions, 'obj', 1)[0]">
          <label class="radio has-text-weight-semibold">
            <input type="radio" [value]="balancePaymentCondition" [formControlName]="coverType + 'BalancePaymentCondition'">
            {{balancePaymentConditions[balancePaymentCondition]}}
          </label>
        </div>
      </div>

      <div class="field pt-4" *ngIf="['iac', 'iart'].includes(coverType)">
        <label class="label has-text-weight-semibold has-text-grey">Combien de paillettes sont fournies?</label>
        <div class="control">
          <input class="input" type="text" placeholder="9" [formControlName]="coverType + 'NbProvidedStraws'">
        </div>
      </div>

      <div class="field pt-4" *ngIf="['iac'].includes(coverType)">
        <label class="label has-text-weight-semibold has-text-grey pt-4">De qui les paillettes non utilisées sont-elles la propriété?</label>
        <div class="control">
          <label class="radio has-text-weight-semibold" *ngFor="let leftStrawsOwner of ['buyer', 'seller']">
            <input type="radio" [value]="leftStrawsOwner" [formControlName]="coverType + 'LeftStrawsOwner'">
            {{leftStrawsOwner === "seller"? "Vous": "L'acheteur"}}
          </label>
        </div>
      </div>

      <div class="field pt-4" *ngIf="['lib', 'hand', 'iai'].includes(coverType)">
        <label class="label has-text-weight-semibold has-text-grey">Sur combien de chaleurs au maximum des tentatives de saillies seront réalisées?</label>
        <div class="control">
          <input class="input" type="text" placeholder="3" [formControlName]="coverType + 'MaximumNumberOfAttempts'">
        </div>
      </div>

      <div class="field pt-4" *ngIf="['lib', 'hand'].includes(coverType)">
        <label class="label has-text-weight-semibold has-text-grey">Pour quelles maladies sexuellement transmissibles la jument devra-t-elle être testée?</label>
  
        <div *ngFor="let std of splitListOrKeysList(stdsRecord, 'obj', 1)[0]">
          <div class="columns is-align-items-center">
            <div class="column">
              <label class="checkbox has-text-weight-semibold">
                  <input type="checkbox" [id]="std" (change)="updateNestedCheckbox(coverType, coverType + std + 'MareTestOldness', 'mareSTDs', $event)"
                    [checked]="isCheckedNested(coverType, 'mareSTDs', std)">
                {{stdsRecord[std]}}
              </label>
            </div>
            <div class="column">
              <label class="label has-text-weight-semibold has-text-grey">Quand avant l'arrivée au centre, au maximum?</label>
              <div class="field has-addons">
                <p class="control">
                  <input class="input" type="text" placeholder="30" [formControlName]="coverType + std + 'MareTestOldness'">
                </p>
                <p class="control">
                  <a class="button is-static">
                    jours
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field pt-4" *ngIf="['lib', 'hand'].includes(coverType)">
        <label class="label has-text-weight-semibold has-text-grey">Contre quelles maladies la jument devra-t-elle avoir ses vaccins à jour?</label>
  
        <div class="columns has-text-weight-semibold">
          <div class="column">
            <div *ngFor="let vaccine of splitListOrKeysList(vaccinesRecord, 'obj', 3)[0]">
              <label class="checkbox">
                <input type="checkbox" [id]="vaccine" (change)="updateNestedCheckbox(coverType, '', 'mareVaccines', $event)"
                  [checked]="isCheckedNested(coverType, 'mareVaccines', vaccine)">
                {{vaccinesRecord[vaccine]}}
              </label>
            </div>
          </div>
  
          <div class="column">
            <div *ngFor="let vaccine of splitListOrKeysList(vaccinesRecord, 'obj', 3)[1]">
              <label class="checkbox">
                <input type="checkbox" [id]="vaccine" (change)="updateNestedCheckbox(coverType, '', 'mareVaccines', $event)"
                  [checked]="isCheckedNested(coverType, 'mareVaccines', vaccine)">
                {{vaccinesRecord[vaccine]}}
              </label>
            </div>
          </div>
  
          <div class="column">
            <div *ngFor="let vaccine of splitListOrKeysList(vaccinesRecord, 'obj', 3)[2]">
              <label class="checkbox">
                <input type="checkbox" [id]="vaccine" (change)="updateNestedCheckbox(coverType, '', 'mareVaccines', $event)"
                  [checked]="isCheckedNested(coverType, 'mareVaccines', vaccine)">
                {{vaccinesRecord[vaccine]}}
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="field pt-4" *ngIf="['lib', 'hand', 'iai'].includes(coverType)">
        <label class="label has-text-weight-semibold has-text-grey">Comment la jument pourra-t-elle être hébergée?</label>
  
        <div *ngFor="let hostingType of splitListOrKeysList(hostingTypesRecord, 'obj', 1)[0]">
          <div class="columns is-align-items-center">
            <div class="column">
              <label class="checkbox has-text-weight-semibold">
                <input type="checkbox" [id]="hostingType" (change)="updateNestedCheckbox(coverType, coverType + hostingType + 'Price', 'hostingTypes', $event)"
                  [checked]="isCheckedNested(coverType, 'hostingTypes', hostingType)">
                {{hostingTypesRecord[hostingType]}}
              </label>
            </div>
            <div class="column">
              <label class="label has-text-weight-semibold has-text-grey">À quel prix?</label>
              <div class="field has-addons">
                <p class="control">
                  <input class="input" type="text" placeholder="5" [formControlName]="coverType + hostingType + 'Price'">
                </p>
                <p class="control">
                  <a class="button is-static">
                    €/jour
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="field mt-5">
      <h5 class="subtitle is-5 has-text-weight-bold">Informations additionnelles</h5>
      <div class="control">
        <textarea class="textarea" [ngClass]="{
          'is-success': isFilledInForm('coverAdditionalInfo') && triggerEmptyMandatoryFields['status'],
          'is-danger': !isFilledInForm('coverAdditionalInfo') && triggerEmptyMandatoryFields['status']
          }" placeholder="Ajoutez ici les informations additionnelles sur les saillies..." formControlName="coverAdditionalInfo"></textarea>
      </div>
    </div>

    <div class="field is-grouped mt-6">
      <div class="control">
        <button class="button is-primary" type="button" (click)="onSubmit()" [ngClass]="submitted['status'] ? 'is-loading' : ''">
          {{stallionComponentInput.mode === "creation"? "Ajouter l'étalon": "Enregistrer les changements"}}</button>
      </div>
      <div class="control">
        <button class="button is-light" (click)="getBackToDashboard()">Annuler</button>
      </div>
      <p class="help">{{ submitHelper.value }}</p>
    </div>
  </form>
</section>

<div class="modal" [ngClass]="locationModalIsActive? 'is-active': ''">
  <div class="modal-background" (click)="resetCity()"></div>
  <div class="modal-content">
      <header class="modal-card-head">
          <p class="modal-card-title">Cliquez sur votre code postal:</p>
          <button class="delete" aria-label="close" (click)="resetCity()"></button>
      </header>
      <section class="modal-card-body">
          <div class="tags">
              <span class="tag is-medium is-clickable" *ngFor="let index of getNumberArray(locationTagValues.length)" (click)="confirmLocationValue(index)">{{locationTagValues[index]}}</span>
            </div>
      </section>
      <footer class="modal-card-foot is-justify-content-center">
          <div class="buttons">
              <a class="button" (click)="resetCity()">Annuler</a>
          </div>
      </footer>
  </div>
</div>