<h3 class="subtitle is-3 has-text-weight-semibold">{{title}}</h3>

<section class="section">
  <form [formGroup]="stallionForm">
    <h4 class="subtitle is-4">Première partie: profil de l'étalon</h4>

    <h5 class="subtitle is-5 has-text-weight-bold">Identification de l'étalon</h5>

    <div class="field">
      <div class="columns">
        <div class="column is-two-thirds">
          <label class="label has-text-weight-semibold has-text-grey">Nom de l'étalon</label>
          <div class="control">
            <input class="input" [ngClass]="{
                'is-success': getValueInStallionForm('name') && 'UserError' == stallionFormStatus['status'],
                'is-danger': !getValueInStallionForm('name') && 'UserError' == stallionFormStatus['status']
                }" type="text" placeholder="Rosembert" formControlName="name">
          </div>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="columns is-align-items-end">
        <div class="column">
          <label class="label has-text-weight-semibold has-text-grey">Stud-book de naissance</label>
          <div class="control" *ngIf="!stallionHasUnregisteredBreed">
            <div class="select" [ngClass]="{
              'is-success': dropdownIsSelected('breed') && 'UserError' == stallionFormStatus['status'],
              'is-danger': !dropdownIsSelected('breed') && 'UserError' == stallionFormStatus['status']
              }">
              <select formControlName="breed">
                <option>Sélectionner</option>
                <option *ngFor="let breed of availableBreeds">{{breed}}</option>
              </select>
            </div>
          </div>

          <div class="control" *ngIf="stallionHasUnregisteredBreed">
            <input class="input" type="text" placeholder="" formControlName="breed">
          </div>
        </div>
        <div class="column" *ngIf="stallionComponentInput.mode === 'creation'">
          <label class="label has-text-weight-semibold has-text-grey">{{stallionHasUnregisteredBreed? '': 'Stud-book absent de la liste?'}}</label>
          <div class="control" *ngIf="!stallionHasUnregisteredBreed">
            <button class="button is-primary" (click)="swapStallionHasUnregisteredBreed()">
              <span class="icon">
                <i class="fas fa-pencil"></i>
              </span>
              <span>Ajouter un autre Stud-book</span>
            </button>
          </div>
          <div class="control" *ngIf="stallionHasUnregisteredBreed">
            <button class="button is-primary" (click)="swapStallionHasUnregisteredBreed()">
              <span class="icon">
                <i class="fas fa-arrows-rotate"></i>
              </span>
              <span>Revenir à la liste des Stud-books de base</span>
            </button>
          </div>
        </div>

      </div>

    </div>

    <div class="field">
      <div class="columns">
        <div class="column is-two-thirds">
          <label class="label has-text-weight-semibold has-text-grey">N° SIRE</label>
          <div class="control">
            <input class="input" [ngClass]="{
              'is-success': getValueInStallionForm('nSIRE') && 'UserError' == stallionFormStatus['status'],
              'is-danger': !getValueInStallionForm('nSIRE') && 'UserError' == stallionFormStatus['status']
              }" type="text" placeholder="12345678X" formControlName="nSIRE">
          </div>
        </div>
      </div>
    </div>

    <div class="field py-3">
      <h5 class="subtitle is-5 has-text-weight-bold mb-3">Identité du propriétaire de l'étalon</h5>

      <label class="label has-text-weight-semibold has-text-grey">Qui est le propriétaire de l'étalon?</label>

      <div class="control">
        <div class="select" [ngClass]="{
          'is-success': !['Moi', 'Sélectionner'].includes(getValueInStallionForm('stallionOwner')) && 'UserError' == stallionFormStatus['status'],
          'is-danger': ['Moi', 'Sélectionner'].includes(getValueInStallionForm('stallionOwner')) && 'UserError' == stallionFormStatus['status']
          }">
          <select formControlName="stallionOwner">
            <option>Sélectionner</option>
            <option>Moi</option>
            <option *ngFor="let stallionOwnerId of availableStallionOwnerIds" [ngValue]="stallionOwnerId">{{stallionOwnerIdToName[stallionOwnerId]}}</option>
            <option>Ajouter un propriétaire</option>
          </select>
        </div>
      </div>

      <form class="box mt-6" [formGroup]="stallionOwnersForm" *ngIf="displayStallionOwnerForm">

        <div class="columns is-align-items-center">
          <div class="column is-3 has-text-right">
            <label class="label">Le propriétaire est un *</label>
          </div>
  
          <div class="column">
            <div class="field">
              <div class="control">
                <label class="radio has-text-weight-semibold">
                  <input type="radio" value="company" formControlName="companyOrIndividualRadio">
                  Professionel
                </label>
  
                <label class="radio has-text-weight-semibold">
                  <input type="radio" value="individual" formControlName="companyOrIndividualRadio">
                  Particulier
                </label>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="selectedStallionOwnerBusinessType == 'company'">
          <div class="columns is-align-items-end">
            <div class="column is-3 has-text-right">
              <label class="label pb-4">Immatriculation de l'entreprise</label>
            </div>
  
            <div class="column">
              <label class="label has-text-grey-light has-text-weight-semibold">Nom légal *</label>
              <div class="field">
                <p class="control is-expanded">
                  <input class="input" type="text" placeholder="Élevage de ..." formControlName="companyName"
                    [readonly]="!stallionOwnersFormIsBeingModified && !aStallionOwnerIsBeingCreated">
                </p>
              </div>
            </div>
  
            <div class="column">
              <label class="label has-text-grey-light has-text-weight-semibold">Forme juridique *</label>
              <div class="field">
                <p class="control is-expanded">
                  <input class="input" type="text" placeholder="SARL" formControlName="companyStructure"
                  [readonly]="!stallionOwnersFormIsBeingModified && !aStallionOwnerIsBeingCreated">
                </p>
              </div>
            </div>
  
            <div class="column">
              <label class="label has-text-grey-light has-text-weight-semibold">Capital *</label>
              <div class="field has-addons">
                <p class="control is-expanded">
                  <input class="input" type="text" placeholder="10000" formControlName="capital"
                  [readonly]="!stallionOwnersFormIsBeingModified && !aStallionOwnerIsBeingCreated">
                </p>
                <p class="control">
                  <a class="button is-static">
                    €
                  </a>
                </p>
              </div>
            </div>
          </div>
  
          <div class="columns is-align-items-center">
            <div class="column is-3 has-text-right">
              <label class="label"></label>
            </div>
  
            <div class="column">
              <label class="label has-text-grey-light has-text-weight-semibold">SIREN *</label>
              <div class="field">
                <p class="control is-expanded">
                  <input class="input" type="text" placeholder="123456789" formControlName="siren"
                  [readonly]="!stallionOwnersFormIsBeingModified && !aStallionOwnerIsBeingCreated">
                </p>
              </div>
            </div>
  
            <div class="column">
              <label class="label has-text-grey-light has-text-weight-semibold">RCS d'immatriculation</label>
              <div class="field">
                <p class="control is-expanded">
                  <input class="input" type="text" placeholder="Toulouse" formControlName="rcs"
                  [readonly]="!stallionOwnersFormIsBeingModified && !aStallionOwnerIsBeingCreated">
                </p>
              </div>
            </div>
          </div>
  
          <div class="columns is-align-items-center">
            <div class="column is-3 has-text-right">
              <label class="label">Adresse du siège social</label>
            </div>
  
            <div class="column">
              <label class="label has-text-grey-light has-text-weight-semibold">Nom et numéro de la voie *</label>
              <div class="field">
                <p class="control is-expanded">
                  <input class="input" type="text" placeholder="5 allée des Platanes" formControlName="headOfficeAddressLine1"
                  [readonly]="!stallionOwnersFormIsBeingModified && !aStallionOwnerIsBeingCreated">
                </p>
              </div>
            </div>
            <div class="column">
              <label class="label has-text-grey-light has-text-weight-semibold">Complément d'adresse</label>
              <div class="field">
                <p class="control is-expanded">
                  <input class="input" type="text" placeholder="Appartement 13, Bâtiment K" formControlName="headOfficeAddressLine2"
                  [readonly]="!stallionOwnersFormIsBeingModified && !aStallionOwnerIsBeingCreated">
                </p>
              </div>
            </div>
          </div>
  
          <div class="columns is-align-items-center">
            <div class="column is-3 has-text-right">
              <label class="label"></label>
            </div>
  
            <div class="column">
              <label class="label has-text-grey-light has-text-weight-semibold">Ville *</label>
              <div class="field">
                <p class="control is-expanded">
                  <input class="input" type="text" placeholder="Toulouse" formControlName="headOfficeAddressCity"
                  [readonly]="!stallionOwnersFormIsBeingModified && !aStallionOwnerIsBeingCreated">
                </p>
              </div>
            </div>
  
            <div class="column">
              <label class="label has-text-grey-light has-text-weight-semibold">Code postal *</label>
              <div class="field">
                <p class="control is-expanded">
                  <input class="input" type="text" placeholder="31000" formControlName="headOfficeAddressPostalCode"
                  [readonly]="!stallionOwnersFormIsBeingModified && !aStallionOwnerIsBeingCreated">
                </p>
              </div>
            </div>
          </div>
  
          <div class="columns is-align-items-center">
            <div class="column is-3 has-text-right">
              <label class="label">Informations du propriétaire</label>
            </div>
  
            <div class="column">
              <label class="label has-text-grey-light has-text-weight-semibold">Prénom *</label>
              <div class="field">
                <p class="control is-expanded">
                  <input class="input" type="text" placeholder="Philibert" formControlName="firstname"
                  [readonly]="!stallionOwnersFormIsBeingModified && !aStallionOwnerIsBeingCreated">
                </p>
              </div>
            </div>
  
            <div class="column">
              <label class="label has-text-grey-light has-text-weight-semibold">Nom *</label>
              <div class="field">
                <p class="control is-expanded">
                  <input class="input" type="text" placeholder="Miquet" formControlName="lastname"
                  [readonly]="!stallionOwnersFormIsBeingModified && !aStallionOwnerIsBeingCreated">
                </p>
              </div>
            </div>
          </div>

          <div class="columns is-align-items-center">
            <div class="column is-3 has-text-right">
              <label class="label"></label>
            </div>
  
            <div class="column">
              <label class="label has-text-grey-light has-text-weight-semibold">Titre de civilité *</label>
              <div class="field">
                <div class="control is-expanded">
                  <div class="select is-fullwidth">
                    <select formControlName="gender">
                      <option>Titre de civilité</option>
                      <option value="Monsieur">Monsieur</option>
                      <option value="Madame">Madame</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="column">
              <label class="label has-text-grey-light has-text-weight-semibold">Rôle dans l'entreprise *</label>
              <div class="field">
                <p class="control is-expanded">
                  <input class="input" type="text" placeholder="Président" formControlName="roleInCompany"
                  [readonly]="!stallionOwnersFormIsBeingModified && !aStallionOwnerIsBeingCreated">
                </p>
              </div>
            </div>
          </div>
        </div>
  
        <div *ngIf="selectedStallionOwnerBusinessType == 'individual'">
          <div class="columns is-align-items-center">
            <div class="column is-3 has-text-right">
              <label class="label">Informations du propriétaire</label>
            </div>
  
            <div class="column">
              <label class="label has-text-grey-light has-text-weight-semibold">Prénom *</label>
              <div class="field">
                <p class="control is-expanded">
                  <input class="input" type="text" placeholder="Philibert" formControlName="firstname"
                  [readonly]="!stallionOwnersFormIsBeingModified && !aStallionOwnerIsBeingCreated">
                </p>
              </div>
            </div>
  
            <div class="column">
              <label class="label has-text-grey-light has-text-weight-semibold">Nom *</label>
              <div class="field">
                <p class="control is-expanded">
                  <input class="input" type="text" placeholder="Miquet" formControlName="lastname"
                  [readonly]="!stallionOwnersFormIsBeingModified && !aStallionOwnerIsBeingCreated">
                </p>
              </div>
            </div>
          </div>

          <div class="columns is-align-items-end">
            <div class="column is-3 has-text-right">
              <label class="label pb-4"></label>
            </div>
  
            <div class="column">
              <label class="label has-text-grey-light has-text-weight-semibold">Titre de civilité *</label>
              <div class="field">
                <div class="control is-expanded">
                  <div class="select is-fullwidth">
                    <select formControlName="gender">
                      <option>Titre de civilité</option>
                      <option value="Monsieur">Monsieur</option>
                      <option value="Madame">Madame</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="column">
              <label class="label has-text-grey-light has-text-weight-semibold">Nationalité *</label>
              <div class="field">
                <p class="control is-expanded">
                  <input class="input" type="text" placeholder="Française" formControlName="citizenship"
                  [readonly]="!stallionOwnersFormIsBeingModified && !aStallionOwnerIsBeingCreated">
                </p>
              </div>
            </div>
  
          </div>
  
          <div class="columns is-align-items-center">
            <div class="column is-3 has-text-right">
              <label class="label"></label>
            </div>
  
            <div class="column">
              <label class="label has-text-grey-light has-text-weight-semibold">Date de naissance <small>(JJ/MM/AAAA)</small>*</label>
              <div class="field">
                <p class="control is-expanded">
                  <input class="input" type="text" placeholder="01/01/2000" formControlName="birthdate"
                    [readonly]="!stallionOwnersFormIsBeingModified && !aStallionOwnerIsBeingCreated">
                </p>
              </div>
            </div>
  
            <div class="column">
              <label class="label has-text-grey-light has-text-weight-semibold">Lieu de naissance *</label>
              <div class="field">
                <p class="control is-expanded">
                  <input class="input" type="text" placeholder="Toulouse" formControlName="birthplace"
                    [readonly]="!stallionOwnersFormIsBeingModified && !aStallionOwnerIsBeingCreated">
                </p>
              </div>
            </div>
  
          </div>
  
          <div class="columns is-align-items-center">
            <div class="column is-3 has-text-right">
              <label class="label">Adresse</label>
            </div>
  
            <div class="column">
              <label class="label has-text-grey-light has-text-weight-semibold">Nom et numéro de la voie *</label>
              <div class="field">
                <p class="control is-expanded">
                  <input class="input" type="text" placeholder="5 allée des Platanes" formControlName="addressLine1"
                    [readonly]="!stallionOwnersFormIsBeingModified && !aStallionOwnerIsBeingCreated">
                </p>
              </div>
            </div>
            <div class="column">
              <label class="label has-text-grey-light has-text-weight-semibold">Complément d'adresse</label>
              <div class="field">
                <p class="control is-expanded">
                  <input class="input" type="text" placeholder="Appartement 13, Bâtiment K" formControlName="addressLine2"
                    [readonly]="!stallionOwnersFormIsBeingModified && !aStallionOwnerIsBeingCreated">
                </p>
              </div>
            </div>
          </div>
  
          <div class="columns is-align-items-center">
            <div class="column is-3 has-text-right">
              <label class="label"></label>
            </div>
  
            <div class="column">
              <label class="label has-text-grey-light has-text-weight-semibold">Ville *</label>
              <div class="field">
                <p class="control is-expanded">
                  <input class="input" type="text" placeholder="Toulouse" formControlName="addressCity"
                    [readonly]="!stallionOwnersFormIsBeingModified && !aStallionOwnerIsBeingCreated">
                </p>
              </div>
            </div>
  
            <div class="column">
              <label class="label has-text-grey-light has-text-weight-semibold">Code postal *</label>
              <div class="field">
                <p class="control is-expanded">
                  <input class="input" type="text" placeholder="31000" formControlName="addressPostalCode"
                    [readonly]="!stallionOwnersFormIsBeingModified && !aStallionOwnerIsBeingCreated">
                </p>
              </div>
            </div>
          </div>
        </div>
  
  
  
        <div class="columns is-align-items-center">
          <div class="column is-3 has-text-right">
  
          </div>
  
          <div class="column">
  
            <p class="help pb-3" [ngClass]="{
              'has-text-success': stallionOwnersFormPostPutStatus['status'] == 'Success',
              'has-text-danger': ['UserError', 'BackendError'].includes(stallionOwnersFormPostPutStatus['status'])
            }">{{
              stallionOwnersFormHelper.value }}</p>
  
            <div class="control">
              <button class="button is-primary is-outlined"
                *ngIf="!stallionOwnersFormIsBeingModified && !aStallionOwnerIsBeingCreated" (click)="askForStallionOwnersFormEdit()">
                <span class="icon">
                  <i class="fas fa-pen-to-square"></i>
                </span>
                <span>Éditer</span>
              </button>

              <button class="button is-danger is-outlined ml-2"
              *ngIf="!stallionOwnersFormIsBeingModified && !aStallionOwnerIsBeingCreated" (click)="triggerStallionOwnerDeletionModal()">
              <span class="icon">
                <i class="fas fa-pen-to-square"></i>
              </span>
              <span>Supprimer ce propriétaire</span>
            </button>
            </div>
  
            <div class="field is-grouped py-2">
              <p class="control">
                <button class="button is-primary" [ngClass]="stallionOwnersFormPostPutStatus['status'] == 'Loading' ? 'is-loading': ''"
                  (click)="handleStallionOwnersValidation()"
                  *ngIf="stallionOwnersFormIsBeingModified || aStallionOwnerIsBeingCreated">
                  <span class="icon">
                    <i class="fas fa-check"></i>
                  </span>
                  <span>{{!aStallionOwnerIsBeingCreated? 'Enregistrer les changements' : 'Enregistrer les
                    informations'}}</span>
                </button>
              </p>
              <p class="control">
                <button class="button is-danger is-outlined" [ngClass]="stallionOwnersFormDeleteStatus['status'] == 'Loading' ? 'is-loading': ''"
                (click)="cancelStallionOwnersFormEdition()"
                *ngIf="stallionOwnersFormIsBeingModified && stallionOwnersFormPostPutStatus['status'] != 'Loading'">
                  <span class="icon">
                    <i class="fas fa-xmark"></i>
                  </span>
                  <span>Annuler</span>
                </button>
              </p>
            </div>
  
          </div>

        </div>  

      </form>
    </div>

    <div class="field py-3">
      <h5 class="subtitle is-5 has-text-weight-bold mb-3">Photos</h5>
      <label class="label has-text-weight-normal has-text-grey-light">La première photo ajoutée, celle à l'extrémité gauche de la liste, sera considérée comme la photo principale.</label>

      <div class="photo-container">
        <figure class="image" *ngFor="let i of getNumberArray(photosURLs.length)">
          <img [src]="photosURLs[i]" [alt]="'Photo numéro ' + i + 'de l\'étalon'" class="is-fullwidth">
          <button class="delete is-large" (click)="deletePhoto(i)"></button>
        </figure>


        <span class="file is-large is-boxed">
          <label class="file-label">
            <input class="file-input" type="file" name="resume" (change)="fetchPhotos($event)" accept=".png,.jpeg,.jpg">
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-plus"></i>
              </span>
            </span>
          </label>
        </span>
      </div>
      <p class="help has-text-danger">{{ photosHelper.value }}</p>
    </div>

    <div class="field">
      <h5 class="subtitle is-5 has-text-weight-bold">Description principale</h5>
      <div class="control">
        <textarea class="textarea" [ngClass]="{
          'is-success': getValueInStallionForm('mainDesc') && 'UserError' == stallionFormStatus['status'],
          'is-danger': !getValueInStallionForm('mainDesc') && 'UserError' == stallionFormStatus['status']
          }" placeholder="Décrivez votre étalon en quelques lignes..." formControlName="mainDesc"></textarea>
      </div>
    </div>
    
    <h5 class="subtitle is-5 has-text-weight-bold">Informations de base</h5>
    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label has-text-weight-semibold has-text-grey">Robe</label>
          <div class="control">
            <input class="input" [ngClass]="{
              'is-success': getValueInStallionForm('color') && 'UserError' == stallionFormStatus['status'],
              'is-danger': !getValueInStallionForm('color') && 'UserError' == stallionFormStatus['status']
              }" type="text" placeholder="Noir pie tobiano" formControlName="color">
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <label class="label has-text-weight-semibold has-text-grey">Taille au garrot <small>(centimètres)</small></label>
          <div class="control">
          <input class="input" (input)="makeNumberInteger('height')" [ngClass]="{
            'is-success': getValueInStallionForm('height') && 'UserError' == stallionFormStatus['status'],
            'is-danger': !getValueInStallionForm('height') && 'UserError' == stallionFormStatus['status']
            }" type="text" placeholder="160" formControlName="height">
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <label class="label has-text-weight-semibold has-text-grey">Date de naissance <small>(JJ/MM/AAAA)</small></label>
          <div class="control">
          <input class="input" [ngClass]="{
            'is-success': getValueInStallionForm('birthdate') && 'UserError' == stallionFormStatus['status'],
            'is-danger': (!birthdateFormatIsCorrect() || !getValueInStallionForm('birthdate')) && 'UserError' == stallionFormStatus['status']
            }" type="text" placeholder="01/01/2015" formControlName="birthdate">
          </div>
          <p class="help has-text-danger">{{ birthdateHelper.value }}</p>
        </div>
      </div>
    </div>

    <h5 class="subtitle is-5 has-text-weight-bold">Localisation de l'étalon</h5>

    <div class="field">
      <label class="label has-text-weight-semibold has-text-grey">Ville de résidence</label>
      <div class="control" [ngClass]="locationIsValidated? 'has-icons-right' : ''">
        <input class="input" [ngClass]="{
                  'is-success': locationIsValidated,
                  'is-danger': !locationIsValidated && 'Init' != geolocStatus['status']
                  }" type="text" placeholder="Toulouse" formControlName="location" (input)="onGeolocationInput()"
          (focus)="onGeolocationFocus()" (blur)="onGeolocationBlur()">
          <span class="icon is-right" *ngIf="locationIsValidated">
            <i class="fas fa-check fa-sm"></i>
          </span>
      </div>
      <div class="dropdown is-active" *ngIf="displayGeolocDd">
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <a class="dropdown-item" *ngFor="let index of getNumberArray(locationTagValues.length)"
              (click)="confirmLocationValue(index)">
              {{locationTagValues[index]}}
            </a>
          </div>
        </div>
      </div>
    </div>
    
    <p class="help has-text-danger pb-5">{{ locationHelper.value }}</p>
    
    <h5 class="subtitle is-5 has-text-weight-bold">Pedigree</h5>

    <div class="columns is-flex is-align-items-center">
      <div class="column">
        <label class="label has-text-weight-semibold has-text-grey-light">Père</label>
        <div class="control">
          <input type="text" class="input" placeholder="Adolbert" formControlName="p1">
        </div>
      </div>

      <div class="column">
        <label class="label has-text-weight-semibold has-text-grey-light">Père</label>
        <div class="control mb-6 pb-5">
          <input type="text" class="input" placeholder="Chlodomir" formControlName="p3">
        </div>
        <label class="label has-text-weight-semibold has-text-grey-light mt-6 pt-5">Mère</label>
        <div class="control">
          <input type="text" class="input" placeholder="Donaldine" formControlName="p4">
        </div>
      </div>

      <div class="column">
        <label class="label has-text-weight-semibold has-text-grey-light">Père</label>
        <div class="control mb-2">
          <input type="text" class="input" placeholder="Gondolfus" formControlName="p7">
        </div>
        <label class="label has-text-weight-semibold has-text-grey-light">Mère</label>
        <div class="control mb-3">
          <input type="text" class="input" placeholder="Hildégonde" formControlName="p8">
        </div>
        <label class="label has-text-weight-semibold has-text-grey-light">Père</label>
        <div class="control mb-2">
          <input type="text" class="input" placeholder="Imeldard" formControlName="p9">
        </div>
        <label class="label has-text-weight-semibold has-text-grey-light">Mère</label>
        <div class="control">
          <input type="text" class="input" placeholder="Jausmonde" formControlName="p10">
        </div>
      </div>
    </div>

    <div class="columns is-flex is-align-items-center">
      <div class="column">
        <label class="label has-text-weight-semibold has-text-grey-light">Mère</label>
        <div class="control">
          <input type="text" class="input" placeholder="Berthilde" formControlName="p2">
        </div>
      </div>

      <div class="column">
        <label class="label has-text-weight-semibold has-text-grey-light">Père</label>
        <div class="control mb-6 pb-5">
          <input type="text" class="input" placeholder="Ephanuel" formControlName="p5">
        </div>
        <label class="label has-text-weight-semibold has-text-grey-light mt-6 pt-5">Mère</label>
        <div class="control">
          <input type="text" class="input" placeholder="Florenciette" formControlName="p6">
        </div>
      </div>

      <div class="column">
        <label class="label has-text-weight-semibold has-text-grey-light">Père</label>
        <div class="control mb-2">
          <input type="text" class="input" placeholder="Kléber" formControlName="p11">
        </div>
        <label class="label has-text-weight-semibold has-text-grey-light">Mère</label>
        <div class="control mb-3">
          <input type="text" class="input" placeholder="Lézéanne" formControlName="p12">
        </div>
        <label class="label has-text-weight-semibold has-text-grey-light">Père</label>
        <div class="control mb-2">
          <input type="text" class="input" placeholder="Méricius" formControlName="p13">
        </div>
        <label class="label has-text-weight-semibold has-text-grey-light">Mère</label>
        <div class="contro">
          <input type="text" class="input" placeholder="Néphélie" formControlName="p14">
        </div>
      </div>
    </div>

    <div class="field py-3">
      <h5 class="subtitle is-5 has-text-weight-bold">Conseils de croisement</h5>
      <div class="control">
        <textarea class="textarea" placeholder="Indiquez ici les juments pour lesquelles votre étalon conviendra le mieux." formControlName="crossbreedingAdvice"></textarea>
      </div>
    </div>

    <div class="field py-3">
      <h5 class="subtitle is-5 has-text-weight-bold">Tests MST négatifs de l'étalon</h5>
      <label class="label has-text-weight-semibold has-text-grey pb-3">Indiquez les maladies sexuellement transmissibles pour lesquelles votre étalon a été testé.</label>

      <div *ngFor="let std of splitListOrKeysList(stdsRecord, 'obj', 1)[0]">
        <div class="columns is-align-items-center">
          <div class="column">
            <label class="checkbox">
              <input type="checkbox" [id]="std" (change)="updateCheckbox('stallionStdNegativeTests', $event)" [checked]="isChecked('stallionStdNegativeTests', std)">
              {{stdsRecord[std]}}
            </label>
          </div>
          <div class="column">
            <label class="label has-text-weight-semibold has-text-grey">Date du test <small>(JJ/MM/AAAA)</small></label>
            <div class="control">
              <input class="input" type="text" [formControlName]="std + 'StallionTestDate'" placeholder="01/01/2024">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="field py-3">
      <h5 class="subtitle is-5 has-text-weight-bold">Vaccins de l'étalon</h5>
      <label class="label has-text-weight-semibold has-text-grey">Indiquez contre quelles maladies votre étalon a ses vaccins à jour.</label>

      <div class="columns">
        <div class="column">
          <div *ngFor="let vaccine of splitListOrKeysList(vaccinesRecord, 'obj', 3)[0]">
            <label class="checkbox">
              <input type="checkbox" [id]="vaccine" (change)="updateCheckbox('stallionVaccines', $event)" [checked]="isChecked('stallionVaccines', vaccine)">
              {{vaccinesRecord[vaccine]}}
            </label>
          </div>
        </div>

        <div class="column">
          <div *ngFor="let vaccine of splitListOrKeysList(vaccinesRecord, 'obj', 3)[1]">
            <label class="checkbox">
              <input type="checkbox" [id]="vaccine" (change)="updateCheckbox('stallionVaccines', $event)" [checked]="isChecked('stallionVaccines', vaccine)">
              {{vaccinesRecord[vaccine]}}
            </label>
          </div>
        </div>

        <div class="column">
          <div *ngFor="let vaccine of splitListOrKeysList(vaccinesRecord, 'obj', 3)[2]">
            <label class="checkbox">
              <input type="checkbox" [id]="vaccine" (change)="updateCheckbox('stallionVaccines', $event)" [checked]="isChecked('stallionVaccines', vaccine)">
              {{vaccinesRecord[vaccine]}}
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="field py-3">
      <h5 class="subtitle is-5 has-text-weight-bold">Produits</h5>
      <div class="control">
        <textarea class="textarea" placeholder="Ce paragraphe concerne les produits de votre étalon, listez-les et donnez toute information à propos d'eux que vous jugez utile." formControlName="offspring"></textarea>
      </div>
    </div>

    <div class="field">
      <h5 class="subtitle is-5 has-text-weight-bold">Performances</h5>
      <div class="control">
        <textarea class="textarea" placeholder="Présentez ici les performances de votre étalon en compétition." formControlName="performance"></textarea>
      </div>
    </div>

    <div class="field">
      <h5 class="subtitle is-5 has-text-weight-bold">Pedigree: performances et produits</h5>
      <div class="control">
        <textarea class="textarea" placeholder="Dans ce paragraphe, apportez des informations concernant le pedigree de l'étalon, que ce soit à propos de leurs performances en compétition ou bien de leurs autres produits." formControlName="pedigreePO"></textarea>
      </div>
    </div>

    <div class="field">
      <h5 class="subtitle is-5 has-text-weight-bold">Informations additionnelles</h5>
      <div class="control">
        <textarea class="textarea" placeholder="Ajoutez ici toute information que vous jugez utile à propos de votre étalon." formControlName="stallionAdditionalInfo"></textarea>
      </div>
    </div>

    <h4 class="subtitle is-4 pt-6">Seconde partie: caractéristiques de la saillie</h4>

    <div class="field">
      <h5 class="subtitle is-5 has-text-weight-bold">Stud-books de production</h5>
      <label class="label has-text-weight-semibold" [ngClass]="{
        'has-text-success': getSelectedCheckboxes('productionBreeds').length > 0 && 'UserError' == stallionFormStatus['status'],
        'has-text-grey': getSelectedCheckboxes('productionBreeds').length > 0 && 'UserError' != stallionFormStatus['status'],
        'has-text-danger': !(getSelectedCheckboxes('productionBreeds').length > 0) && 'UserError' == stallionFormStatus['status']
        }">Indiquez les stud-books dans lesquelles votre étalon est approuvé à produire.</label>

      <div *ngFor="let key of availableBreedTypes">
        <p class="has-text-weight-bold pt-4">{{key}}</p>

        <div class="columns">
          <div class="column">
            <div *ngFor="let productionBreed of splitListOrKeysList(breedsRecord[key], 'list', 3)[0]">
              <label class="checkbox">
                <input type="checkbox" [id]="productionBreed" (change)="updateCheckbox('productionBreeds', $event)" [checked]="isChecked('productionBreeds', productionBreed)">
                {{productionBreed}}
              </label>
            </div>
          </div>

          <div class="column">
            <div *ngFor="let productionBreed of splitListOrKeysList(breedsRecord[key], 'list', 3)[1]">
              <label class="checkbox">
                <input type="checkbox" [id]="productionBreed" (change)="updateCheckbox('productionBreeds', $event)" [checked]="isChecked('productionBreeds', productionBreed)">
                {{productionBreed}}
              </label>
            </div>
          </div>

          <div class="column">
            <div *ngFor="let productionBreed of splitListOrKeysList(breedsRecord[key], 'list', 3)[2]">
              <label class="checkbox">
                <input type="checkbox" [id]="productionBreed" (change)="updateCheckbox('productionBreeds', $event)" [checked]="isChecked('productionBreeds', productionBreed)">
                {{productionBreed}}
              </label>
            </div>
          </div>
        </div>
      </div>

      <p class="has-text-weight-bold pt-4" *ngIf="productionBreedsAddedByHand.length >= 1">Ajoutés à la main</p>
      <div *ngFor="let i of getNumberArray(productionBreedsAddedByHand.length)">
        <label class="checkbox pr-4">
          <input type="checkbox" [id]="productionBreedsAddedByHand[i]" onclick="return false;" checked>
          {{productionBreedsAddedByHand[i]}}
        </label>
        <button class="delete" [id]="productionBreedsAddedByHand[i]" (click)="deleteAddedByHandProductionBreed(i)"></button>
      </div>

      <div class="py-5" *ngIf="!stallionHasUnregisteredProductionBreeds">
        <label class="label has-text-weight-semibold has-text-grey">Il manque des stud-books?</label>
        <div class="control">
          <button class="button is-primary" (click)="triggerOtherProductionBreeds()">
            <span class="icon">
              <i class="fas fa-pencil"></i>
            </span>
            <span>Ajouter d'autres Stud-books</span>
          </button>
        </div>
      </div>

      <div class="py-5" *ngIf="stallionHasUnregisteredProductionBreeds">
        <div class="columns is-align-items-end">
          <div class="column">
            <label class="label has-text-weight-semibold has-text-grey">Stud-book à ajouter</label>
            <div class="control">
              <input class="input" type="text" placeholder="" formControlName="newProductionBreed">
            </div>
          </div>
          <div class="column">
            <div class="control">
              <button class="button is-primary" (click)="addAnotherProductionBreed()">
                <span class="icon">
                  <i class="fas fa-plus"></i>
                </span>
                <span>Ajouter</span>
              </button>
            </div>
          </div>
  
        </div>
      </div>

    </div>

    <div class="field pt-3">
      <h5 class="subtitle is-5 has-text-weight-bold">Type de saillie</h5>
      <label class="label has-text-weight-semibold has-text-grey">Indiquez quel(s) type(s) de saillie sont proposés pour votre étalon.</label>
      <div class="columns">
        <div class="column">
          <div *ngFor="let coverType of splitListOrKeysList(coverTypes, 'obj', 2)[0]">
            <label class="checkbox">
              <input type="checkbox" [id]="coverType" (change)="updateCheckbox('coverTypes', $event)" [checked]="isChecked('coverTypes', coverType)">
              {{availableCoverTypes[coverType]}}
            </label>
          </div>
        </div>

        <div class="column">
          <div *ngFor="let coverType of splitListOrKeysList(coverTypes, 'obj', 2)[1]">
            <label class="checkbox">
              <input type="checkbox" [id]="coverType" (change)="updateCheckbox('coverTypes', $event)" [checked]="isChecked('coverTypes', coverType)">
              {{availableCoverTypes[coverType]}}
            </label>
          </div>
        </div>
      </div>
    </div>

    <h5 class="subtitle is-5 has-text-weight-bold mt-5">Caractéristiques des saillies</h5>
    <label class="label has-text-weight-semibold" [ngClass]="{
        'has-text-grey': 'UserError' != stallionFormStatus['status'],
        'has-text-danger': 'UserError' == stallionFormStatus['status']
        }" *ngIf="getSelectedCheckboxes('coverTypes').length === 0">
      Commencez par sélectionner un type de saillie disponible pour votre étalon.
    </label>

    <div class="box py-4" *ngFor="let coverType of getSelectedCheckboxes('coverTypes')">
      <label class="label has-text-weight-bold">Si l'acheteur choisit une {{availableCoverTypes[coverType]}} :</label>

      <div class="field pt-4">
        <label class="label has-text-weight-semibold has-text-grey">Indiquez le prix HT de la saillie en euros <small>(pas de nombres à virgule)</small></label>
        <div class="control has-icons-right">
          <input class="input" (input)="makeNumberInteger(coverType + 'Price')" [ngClass]="{
            'is-success': getValueInStallionForm(coverType + 'Price') && 'UserError' == stallionFormStatus['status'],
            'is-danger': !getValueInStallionForm(coverType + 'Price') && 'UserError' == stallionFormStatus['status']
            }" type="text" placeholder="400" formControlName="{{coverType}}Price">
          <span class="icon is-small is-right">
            <i class="fas fa-euro"></i>
          </span>
        </div>
      </div>

      <div class="field pt-4">
        <label class="label has-text-weight-semibold has-text-grey">{{"Indiquez l'adresse du " + coverPlaceNames[coverType]}}</label>
        <div class="control">
          <input class="input" [ngClass]="{
            'is-success': getValueInStallionForm(coverType + 'CoverPlace') && 'UserError' == stallionFormStatus['status'],
            'is-danger': !getValueInStallionForm(coverType + 'CoverPlace') && 'UserError' == stallionFormStatus['status']
            }" type="text" formControlName="{{coverType}}CoverPlace" placeholder="Le Haras des Prés, ...">
        </div>
      </div>

      <div class="field pt-4">
        <label class="label has-text-weight-semibold has-text-grey">Quel pourcentage du prix total doit constituer l'acompte de la saillie? <small>(Min. 15%, Max. 50%, pas de nombres à virgule)</small></label>
        <div class="control has-icons-right">
          <input class="input" (input)="makeNumberInteger(coverType + 'AdvancePercentage')" [ngClass]="{
            'is-success': getValueInStallionForm(coverType + 'AdvancePercentage') && 'UserError' == stallionFormStatus['status'],
            'is-danger': (!getValueInStallionForm(coverType + 'AdvancePercentage') || !formControlValueIsBetween15and50(coverType + 'AdvancePercentage')) && 'UserError' == stallionFormStatus['status']
            }" type="text" placeholder="50" formControlName="{{coverType}}AdvancePercentage">
          <span class="icon is-small is-right">
            <i class="fas fa-percentage"></i>
          </span>
        </div>
      </div>

      <div class="field pt-4">
        <label class="label has-text-weight-semibold"
          [ngClass]="!getValueInStallionForm(coverType + 'BalancePaymentCondition') && 'UserError' == stallionFormStatus['status']? 'has-text-danger': 'has-text-grey'">
          Dans quel cas l'acheteur doit-il payer le solde de la saillie?
        </label>
        <div class="control" *ngFor="let balancePaymentCondition of splitListOrKeysList(balancePaymentConditions, 'obj', 1)[0]">
          <label class="radio has-text-weight-semibold">
            <input type="radio" [value]="balancePaymentCondition" [formControlName]="coverType + 'BalancePaymentCondition'">
            {{balancePaymentConditions[balancePaymentCondition]}}
          </label>
        </div>
      </div>

      <div class="field pt-4">
        <label class="label has-text-weight-semibold has-text-grey">Sur combien de chaleurs au maximum des tentatives de saillies seront réalisées?</label>
        <div class="control">
          <input class="input" (input)="makeNumberInteger(coverType + 'MaximumNumberOfAttempts')" [ngClass]="{
            'is-success': getValueInStallionForm(coverType + 'MaximumNumberOfAttempts') && 'UserError' == stallionFormStatus['status'],
            'is-danger': !getValueInStallionForm(coverType + 'MaximumNumberOfAttempts') && 'UserError' == stallionFormStatus['status']
            }" type="text" placeholder="3" [formControlName]="coverType + 'MaximumNumberOfAttempts'">
        </div>
      </div>

      <div class="field pt-4">
        <label class="label has-text-weight-semibold has-text-grey">Pour quelles maladies sexuellement transmissibles la jument devra-t-elle être testée?</label>
  
        <div *ngFor="let std of splitListOrKeysList(stdsRecord, 'obj', 1)[0]">
          <div class="columns is-align-items-center">
            <div class="column">
              <label class="checkbox has-text-weight-semibold">
                  <input type="checkbox" [id]="std" (change)="updateNestedCheckbox(coverType, coverType + std + 'MareTestOldness', 'mareSTDs', $event)"
                    [checked]="isCheckedNested(coverType, 'mareSTDs', std)">
                {{stdsRecord[std]}}
              </label>
            </div>
            <div class="column">
              <label class="label has-text-weight-semibold has-text-grey">Quand avant l'arrivée au centre, au maximum?</label>
              <div class="field has-addons">
                <p class="control">
                  <input class="input" [ngClass]="{
                    'is-success': mareSTDs[coverType][std] && getValueInStallionForm(coverType + std + 'MareTestOldness') && 'UserError' == stallionFormStatus['status'],
                    'is-danger': mareSTDs[coverType][std] && !getValueInStallionForm(coverType + std + 'MareTestOldness') && 'UserError' == stallionFormStatus['status']
                    }" type="text" placeholder="30" [formControlName]="coverType + std + 'MareTestOldness'">
                </p>
                <p class="control">
                  <a class="button is-static">
                    jours
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field pt-4">
        <label class="label has-text-weight-semibold has-text-grey">Contre quelles maladies la jument devra-t-elle avoir ses vaccins à jour?</label>
  
        <div class="columns has-text-weight-semibold">
          <div class="column">
            <div *ngFor="let vaccine of splitListOrKeysList(vaccinesRecord, 'obj', 3)[0]">
              <label class="checkbox">
                <input type="checkbox" [id]="vaccine" (change)="updateNestedCheckbox(coverType, '', 'mareVaccines', $event)"
                  [checked]="isCheckedNested(coverType, 'mareVaccines', vaccine)">
                {{vaccinesRecord[vaccine]}}
              </label>
            </div>
          </div>
  
          <div class="column">
            <div *ngFor="let vaccine of splitListOrKeysList(vaccinesRecord, 'obj', 3)[1]">
              <label class="checkbox">
                <input type="checkbox" [id]="vaccine" (change)="updateNestedCheckbox(coverType, '', 'mareVaccines', $event)"
                  [checked]="isCheckedNested(coverType, 'mareVaccines', vaccine)">
                {{vaccinesRecord[vaccine]}}
              </label>
            </div>
          </div>
  
          <div class="column">
            <div *ngFor="let vaccine of splitListOrKeysList(vaccinesRecord, 'obj', 3)[2]">
              <label class="checkbox">
                <input type="checkbox" [id]="vaccine" (change)="updateNestedCheckbox(coverType, '', 'mareVaccines', $event)"
                  [checked]="isCheckedNested(coverType, 'mareVaccines', vaccine)">
                {{vaccinesRecord[vaccine]}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="field mt-5">
      <h5 class="subtitle is-5 has-text-weight-bold">Informations additionnelles</h5>
      <div class="control">
        <textarea class="textarea" placeholder="Ajoutez ici les informations additionnelles à propos des saillies..."
        formControlName="coverAdditionalInfo"></textarea>
      </div>
    </div>

    <div class="field is-grouped mt-6">
      <div class="control">
        <button class="button is-primary" type="button" (click)="onSubmit()" [ngClass]="stallionFormStatus['status'] == 'Loading'? 'is-loading' : ''" [disabled]="saveButtonIsDisabled">
          {{stallionComponentInput.mode === "creation"? "Ajouter l'étalon": "Enregistrer les changements"}}</button>
      </div>
      <div class="control">
        <button class="button is-light" (click)="getBackToMyStallions()">Annuler</button>
      </div>
    </div>
    <p class="help" [ngClass]="{
      '': ['Init', 'Loading'].includes(stallionFormStatus['status']),
      'is-success': ['Success'].includes(stallionFormStatus['status']),
      'is-danger': ['UserError', 'BackendError'].includes(stallionFormStatus['status'])
      }">{{ submitHelper.value }}</p>
  </form>

  <div class="modal" [ngClass]="deleteStallionOwnerModalIsActive? 'is-active': ''">
    <div class="modal-background" (click)="closeStallionOwnerDeletionModal()">
    </div>
    <div class="modal-content">
        <header class="modal-card-head">
            <p class="modal-card-title">Êtes-vous sûr de vouloir supprimer ce propriétaire?</p>
            <button class="delete" aria-label="close" (click)="closeStallionOwnerDeletionModal()"></button>
        </header>
        <section class="modal-card-body">
            <p>Si vous souhaitez utiliser ce propriétaire à l'avenir, il faudra l'ajouter à nouveau.</p>
        </section>
        <footer class="modal-card-foot is-justify-content-center">
            <div class="buttons">
                <a class="button is-danger" (click)="confirmStallionOwnerDeletion()">Supprimer ce propriétaire</a>
                <a class="button" (click)="closeStallionOwnerDeletionModal()">Annuler</a>
            </div>
        </footer>
    </div>
  </div>
</section>
