@charset "utf-8";

// Set your brand colors

// Update Bulma's global variables
$primary: #3B7C35;

$navbar-item-img-max-height: 100px;
// $navbar-background-color: #3B3E3A;
$navbar-background-color: #ffffff;
$navbar-item-color: #000000;
$navbar-item-hover-color: #000000;
$navbar-item-hover-background-color: #ffffff;
$menu-item-active-background-color: $primary;

$file-cta-background-color: #ffffff;
$file-radius: 6px;

$card-radius: 6px;

// Import only what you need from Bulma
@import "../../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../../node_modules/bulma/sass/form/_all.sass";
@import "../../../../node_modules/bulma/sass/components/navbar.sass";
@import "../../../../node_modules/bulma/sass/layout/hero.sass";
@import "../../../../node_modules/bulma/sass/layout/section.sass";