<section class="section">
    <div class="container">
        <div class="content">
            <h1 class="pb-5 mb-5">Qu'est-ce que c'est que ce site?</h1>

            <p>Ce site permet d'acheter et de vendre des saillies dans la filière équine.</p>
            <p>Si vous avez des étalons disponibles à la saillie, ce site vous permet de leur créer un profil qui sera visible par
                des acheteurs potentiels.</p>
            <p>Si vous cherchez un étalon disponible à la saillie, ce site vous donne l'accès à un catalogue d'étalons, que vous
                pouvez dès à présent consulter en cliquant sur "Rechercher un étalon"<span class="icon">
                    <i class="fas fa-arrow-turn-up"></i>
                </span>.</p>

            <h5 class="mt-5 pt-5">Ok, c'est donc un site de petites annonces, mais pour les saillies, c'est ça?</h5>
            <p>Et bien c'est un peu plus que ça. En fait, le site propose d'autres fonctionnalités assez intéressantes, voici les principales:</p>
            <ul>
                <li><strong>Un contrat de saillie fiable et modulable:</strong> nous savons que la valeur juridique des contrats de saillie utilisés par
                    les étalonniers et éleveurs est ... approximative. Mais c'est normal, étant donné qu'on ne le signe que quelques
                    fois par an, et qu'en rédiger un vrai coûterait bien trop cher. En revanche, pour
                    notre entreprise qui en fait signer très régulièrement, l'investissement vaut le coup. Nous avons donc demandé les
                    services
                    d'un cabinet d'avocats toulousain, pour rédiger un contrat de saillie pensé pour couvrir un maximum de situations,
                    et
                    protéger acheteurs comme vendeurs.<br>Cela dit, nous savons que tous les étalonniers ne travaillent pas de la même manière: par
                    exemple, certains font payer le solde de la saillie dès que la jument est gestante, d'autres lorsqu'un poulain est
                    vivant. Pour palier ce problème, notre contrat contient un grand nombre de variables: lorsque vous inscrirez votre étalon,
                    vous aurez des cases à cocher, et votre contrat se modifiera en fonction de vos choix.</li>
                <li><strong>La signature des contrats directement sur le site:</strong> en effet, fini les contrats à imprimer et
                    envoyer par la poste. Avec les nouvelles technologies, il est désormais possible de signer ses contrats directement
                    sur l'ordinateur, tout en gardant la même valeur juridique. Lorsque vous voudrez signer un contrat, vous pourrez
                    donc le
                    faire directement sur notre site, en quelques clics. Vous recevrez ensuite votre contrat signé directement dans votre boîte
                    mail, et la personne avec qui vous aurez signé pareil.</li>
                <li><strong>Le paiement des saillies en ligne:</strong> pareil que pour les contrats, on utilise les moyens modernes.
                    Plus de chèques, les paiements se font en carte bleue directement sur le site. De leur côté, les vendeurs reçoivent
                    l'argent directement sur leur compte bancaire.</li>
            </ul>

            <p>Le site propose aussi d'autres fonctionnalités, de second plan mais tout de même confortables: les notifications par
                mail pour des nouvelles demandes de saillies, un système d'évaluation avec note sur 5 et commentaire des acheteurs
                et des vendeurs, un récapitulatif des saillies demandées/en cours/terminées...</p>

            <h5 class="mt-5 pt-5">Bon d'accord, mais ça coûte combien tout ça?</h5>
            <p><strong>Réponse:</strong> 8% des sommes payées pour la saillie hors taxes. Ces frais prennent la forme de frais de
                service, qui viennent s'ajouter à la note quand l'acheteur réalise un paiement. Tout le reste du site est gratuit
                d'utilisation.</p>
            <p>L'expression « des sommes payées pour la saillie hors taxes » n'est probablement pas claire. C'est parce qu'elle est
                adaptée au système d'acompte et de solde. Un exemple pour que vous compreniez mieux:</p>
            <p>Un vendeur, pour son étalon, indique vouloir facturer 400 euros hors taxes la saillie au total. Il indique aussi que
                l'acompte
                représente 40% du prix total (oui, c'est lui qui choisit).<br>40% de 400 = 160. L'acompte pour la saillie hors taxes
                sera donc de 160 euros, et le solde du reste, 240 euros.</p>
            <p>Pour l'acompte, on calculera les frais comme suit: 8% de 160 = 12,80. Les frais hors taxes pour l'acompte s'élèvent à
                12,80€.</p>
            <p>On applique maintenant la TVA:</p>
            <ul>
                <li>à la partie concernant la saillie: 160€ HT x 1,055 = 168,80€ TTC.</li>
                <li>à la partie concernant les frais: 12,80€ HT x 1,2 = 15,36€ TTC.</li>
            </ul>
            <p>Finalement, l'acompte sera facturé 168,80€ TTC + 15,36€ TTC = 184,16€ TTC à l'acheteur, dont 168,80 seront versés au
                vendeur, et 15,36 à la plateforme.</p>
            <p>Avec le même calcul, on obtient que le solde sera facturé 253,20€ TTC + 23,04€ TTC = 276,24€ TTC à l'acheteur, dont 253,20 seront
                versés au vendeur, et 23,04 à la plateforme.</p>
            <p>Seulement, il arrive parfois que le solde ne soit pas à payer (si le vendeur fonctionne en poulain vivant, et
                qu'aucun poulain n'est né de la saillie, par exemple). Dans ce cas, la plateforme ne touchera pas non plus le solde
                de ses frais! La plateforme touchera simplement 8% de l'acompte. D'où l'expression « 8% des sommes payées pour la saillie hors taxes », et non pas « 8% du prix total
                de la saillie hors taxes ».</p>
            <p>Enfin, il peut arriver qu'un acompte doive être remboursé (exemple: l'étalon n'est pas capable de saillir la jument). Dans ce cas, la plateforme rembourse également les frais de service à l'acheteur.</p>

            <h5 class="mt-5 pt-5">Qui sommes-nous?</h5>
            <div class="columns">
                <div class="column">
                    <div class="content">
                        <p>En fait, « nous », c'est plutôt « je », je m'appelle Alexandre Venot, j'ai 25 ans, et j'ai créé ce site moi-même au
                            nom de LRDE, ma SAS créée en janvier 2024. Je suis ingénieur en cybersécurité de formation, mais pour créer cette
                            plateforme
                            j'ai bien évidemment dû étudier la filière équine, avec des professionnels du milieu mais aussi grâce aux
                            nombreuses données que l'on trouve sur internet.</p>
                    </div>
                </div>
                <div class="column is-4">
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="https://storage.googleapis.com/lerepairedeletalon-public/alexandrevenot.jpg" />
                      </figure>
                </div>
            </div>

            <h5 class="mt-5 pt-5">Quelques informations importantes avant de commencer</h5>
            <ul>
                <li>Si vous avez un souci avec le site, ou bien que vous ne comprenez pas quelque chose: envoyez moi un mail à
                    alexandre.venot@lerepairedeletalon.com</li>
                <li>Que vous soyez acheteur ou vendeur, vous avez le choix entre vous déclarer comme particulier ou comme
                    professionnel.</li>
                <li>Vous pouvez être acheteur et vendeur sur le même compte.</li>
                <li>Le contrat de saillie ne permet à l'heure actuelle que de couvrir les saillies en <strong>monte en
                        liberté</strong> et <strong>monte en main</strong>. Nous n'avons pas encore de contrat pour les
                    inséminations artificielles.</li>
                <li>Vous souhaitez probablement savoir à quoi ressemble le contrat: pour l'instant, il n'est pas possible de le
                    prévisionner, mais pour votre première saillie vous pourrez prendre le temps de le lire entièrement, et bien
                    évidemment ne pas le signer s'il ne vous convient pas (dans ce cas, n'hésitez pas à m'envoyer un mail pour me
                    dire ce qui ne vous convient pas!).</li>
                <li>Quand vous créerez les profils de vos étalons, assurez-vous bien que les informations que vous entrez ne sont
                    pas erronées; en effet la plupart des choses que vous écrirez se retrouvera dans le contrat final.</li>
                <li>Pour créer un profil d'étalon, nous demandons un « Test négatif de l'étalon pour métrite, artérite ou anémie ».
                    C'est simplement pour éviter les faux profils, et pour s'assurer d'un minimum de sérieux de la part des vendeurs
                    avec qui nous travaillons.</li>
                <li>Au niveau de la facturation, si vous êtes vendeur et professionnel, c'est à vous d'émettre une facture à l'acheteur,
                    pour la partie saillie uniquement. De notre côté, nous lui émettrons une autre facture, pour les frais de service.
                </li>
                <li>Nous ne proposons pas encore d'assurance pour que vous soyez sûr(e) d'avoir votre solde. En effet, c'est à
                    l'acheteur de revenir sur la plateforme pour à nouveau entrer sa carte et payer le solde, s'il doit le payer.
                    Cependant, il peut arriver qu'un acheteur refuse de payer le solde. Si vous avez rempli votre partie du contrat,
                    sachez que ce dernier devrait aisément vous donner raison en cas de contentieux. Envoyez-nous un mail si cela se
                    produit. De manière générale, privilégiez les profils qui ont déjà de bonnes évaluations. En effet, un acheteur qui ne
                    paye pas le solde d'une saillie n'aura probablement plus aucune de ses demandes de saillies acceptées, en raison de
                    la mauvaise évaluation qui apparaîtra sur son profil.</li>
                <li>Au cours de votre utilisation du site, vous serez amenés à entrer un certain nombre d'informations, qui peuvent
                    être
                    plus ou moins sensibles. En quelques mots, sachez que vos données sont stockées sur un serveur situé en France,
                    que nous avons fait tout notre
                    possible pour qu'elles soient stockées de manière sécurisée, et que certaines informations ne nous sont même
                    pas connues (par exemple, seule l'entreprise du secteur bancaire avec qui nous travaillons connaît votre IBAN,
                    nous n'en connaissons que les 4 derniers chiffres).
                    Si ce genre
                    d'informations vous intéresse, consultez nos <a (click)="navigateTo('mentions-legales')">mentions légales</a>, à
                    la section données personnelles.
                </li>
            </ul>
        </div>
    </div>
</section>