<section class="section">
    <div class="container">
        <div class="content">
            <h1 class="pb-5 mb-5">Fonctionnement du site</h1>

            <p>Ce site permet d'acheter et de vendre des saillies dans la filière équine.</p>
            <p>Si vous avez des étalons disponibles à la saillie, ce site vous permet de leur créer un profil qui sera visible par
                des acheteurs potentiels.</p>
            <p>Si vous cherchez un étalon disponible à la saillie, ce site vous donne l'accès à un catalogue d'étalons, que vous
                pouvez dès à présent consulter en cliquant sur "Rechercher un étalon"<span class="icon">
                    <i class="fas fa-arrow-turn-up"></i>
                </span>.</p>

            <h5 class="mt-5 pt-5">Ok, c'est donc un site de petites annonces, mais pour les saillies, c'est ça?</h5>
            <p>Et bien c'est un peu plus que ça. En fait, le site propose d'autres fonctionnalités assez intéressantes, voici les principales:</p>
            <ul>
                <li><strong>Un contrat de saillie fiable et modulable:</strong> nous savons que la valeur juridique des contrats de saillie utilisés par
                    les étalonniers et éleveurs est ... approximative. Mais c'est normal, étant donné qu'on ne le signe que quelques
                    fois par an, et qu'en rédiger un vrai coûterait bien trop cher. En revanche, pour
                    notre entreprise qui en fait signer très régulièrement, l'investissement vaut le coup. Nous avons donc demandé les
                    services
                    d'un cabinet d'avocats toulousain, pour rédiger un contrat de saillie pensé pour couvrir un maximum de situations,
                    et
                    protéger acheteurs comme vendeurs.<br>Cela dit, nous savons que tous les étalonniers ne travaillent pas de la même manière: par
                    exemple, certains font payer le solde de la saillie dès que la jument est gestante, d'autres lorsqu'un poulain est
                    vivant. Pour palier ce problème, notre contrat contient un grand nombre de variables: lorsque vous inscrirez votre étalon,
                    vous aurez des cases à cocher, et votre contrat se modifiera en fonction de vos choix.</li>
                <li><strong>La signature des contrats directement sur le site:</strong> en effet, fini les contrats à imprimer et
                    envoyer par la poste. Avec les nouvelles technologies, il est désormais possible de signer ses contrats directement
                    sur l'ordinateur, tout en gardant la même valeur juridique. Lorsque vous voudrez signer un contrat, vous pourrez
                    donc le
                    faire directement sur notre site, en quelques clics. Vous recevrez ensuite votre contrat signé directement dans votre boîte
                    mail, tout comme la personne avec qui vous aurez signé.</li>
                <li><strong>Le paiement des saillies en ligne:</strong> de même que pour les contrats, on utilise les moyens modernes.
                    Plus de chèques, les paiements se font en carte bleue directement sur le site. De leur côté, les vendeurs reçoivent
                    l'argent directement sur leur compte bancaire.</li>
            </ul>

            <p>Le site propose aussi d'autres fonctionnalités, de second plan mais tout de même confortables: les notifications par
                mail pour des nouvelles demandes de saillies, un système d'évaluation avec note sur 5 et commentaire des acheteurs
                et des vendeurs, un récapitulatif des saillies demandées/en cours/terminées...</p>

            <h5 class="mt-5 pt-5">Que contient le contrat?</h5>
            <p>Tout d'abord, une information importante est que le contrat de saillie ne permet à l'heure actuelle que de couvrir les
                saillies en <strong>monte en liberté</strong> et <strong>monte en main</strong>. Nous n'avons pas encore de contrat pour
                les inséminations artificielles.</p>
            <p>Maintenant, voici une liste non exhaustive de points présents dans notre contrat de saillie:</p>
            <ul>
                <li>Toutes les caractéristiques indiquées par le vendeur à propos de son étalon sur son profil. De cette manière, s'il a
                    menti, une preuve apparaîtra dans le contrat.
                </li>
                <li>Les caractéristiques indiquées par l'acheteur à propos de sa jument, même si elles sont beaucoup moins nombreuses
                    (antécédents de gestation par exemple).</li>
                <li>La jument doit être vermifugée, au plus tard 3 jours avant son arrivée au centre, au plus tôt 3 mois.</li>
                <li>La jument doit avoir les 4 pieds déferrés, et le parage fait à bords arrondis.</li>
                <li>La jument a été testée/vaccinée contre les maladies demandées par le vendeur.</li>
                <li>Si la jument a eu la teigne, la gourme ou une emphysème pulmonaire, l'acheteur doit en informer le vendeur.</li>
                <li>L'acheteur doit informer le vendeur des troubles généraux de la jument.</li>
                <li>Évidemment, le type de saillie (monte en liberté ou monte en main), le lieu de la saillie et la date d'arrivée
                    de la jument sur le lieu de la saillie.</li>
                <li>Le fait que c'est l'acheteur qui décide quand amener sa jument, tant que c'est dans un délai de trois semaines
                    après la date d'arrivée.</li>
                <li>Le nombre de chaleurs maximal sur lequel des tentatives de saillie seront réalisées, avec un minimum de 1 saut
                    par chaleur.</li>
                <li>Le vendeur n'est pas tenu responsable si la jument n'est pas pleine, tant qu'il respecte les termes du contrat.</li>
                <li>L'acceptation des risques associées à la saillie, tant que le contrat est respecté.</li>
                <li>Le choix du vendeur concernant la condition de paiement du solde:
                    <ol>
                        <li>Dès que la jument est gestante</li>
                        <li>Si la jument est gestante au premier octobre</li>
                        <li>Dès qu'un poulain vivant naît</li>
                        <li>Dès qu'un poulain vivant naît et atteint les 48 heures en vie</li>
                    </ol>
                <li>L'acheteur dispose de deux semaines après l'évènement déclencheur pour régler le solde de la saillie.</li>
                <li>Si naissance multiple il y a, c'est tant mieux pour l'acheteur, cependant si l'acheteur laisse arriver à terme une
                    gestation gémellaire et qu'il arrive quelque chose à la jument ou aux poulains, alors on considère que l'acheteur
                    a pris des risques inconsidérés. Donc, si la condition de paiement du solde était "Poulain Vivant" ou "Poulain Vivant 48h",
                    et qu'elle ne peut pas être remplie à cause de cette prise de risque inconsidérée, l'acheteur devra quand même payer le solde.</li>
                <li>Les causes d'impossibilité de la saillie, par exemple si l'étalon décède et ne peut donc pas saillir la jument,
                    ou bien si une catastrophe naturelle survient et rend impossible la saillie (oui, il faut tout prévoir). Dans ces cas, le vendeur doit
                    rembourser l'acompte.</li>
                <li>Le transfert de responsabilité de la garde de la jument, le fait que l'acheteur doit remettre au vendeur l'original du
                    document d'identification de la jumnent, que le vendeur assure l'alimentation, l'hébergement et les soins de la jument. Le
                    fait que l'acheteur mandate le vendeur pour requérir en son nom un vétérinaire si besoin, mais qu'il peut exclure des soins
                    s'il en informe le vendeur avant l'arrivée de la jument sur le lieu de la saillie.
                </li>
                <li>Enfin, le fait que si vous signez un contrat de pension à côté (ce qui est conseillé, étant donné que celui-ci concerne
                    principalement la saillie), alors s'il y a des causes contradictoires entre ce contrat de saillie et votre contrat de pension,
                    c'est votre contrat de pension qui prévaudra.
                </li>
            </ul>

            <h5 class="mt-5 pt-5">Bon d'accord, mais combien ça coûte?</h5>
            <p><strong>Réponse:</strong> 8% des sommes payées pour la saillie. Ces frais prennent la forme de frais de
                service, qui viennent s'ajouter à la note quand l'acheteur effectue un paiement. Tout le reste du site est gratuit
                d'utilisation.</p>
            <p>Il est bien écrit « des sommes payées pour la saillie » et non pas « du prix total pour la saillie », parce que l'application des frais est
                adaptée au système d'acompte et de solde. Un exemple pour que vous compreniez mieux:</p>
            <p>Un vendeur, pour son étalon, indique vouloir toucher 400 euros pour la saillie au total. Il indique aussi que
                l'acompte
                représente 40% du prix total (oui, c'est lui qui choisit).<br>40% de 400 = 160. L'acompte pour la saillie
                sera donc de 160 euros, et le solde du reste, 240 euros.</p>
            <p>Pour l'acompte, on calculera les frais comme suit: 8% de 160 = 12,80. Les frais TTC pour l'acompte s'élèvent donc à 12,80€.</p>
            <p>Par conséquent, l'acompte sera facturé 160€ TTC + 12,80€ TTC = 172,80€ TTC à l'acheteur, dont 160 seront versés au
                vendeur, et 12,80 à la plateforme.</p>
            <p>Avec le même calcul, on obtient que le solde sera facturé 240€ TTC + 19,20€ TTC = 259,20€ TTC à l'acheteur, dont 240 seront
                versés au vendeur, et 19,20 à la plateforme.</p>
            <p>Seulement, il arrive parfois que le solde ne soit pas à payer (si le vendeur fonctionne en poulain vivant, et
                qu'aucun poulain n'est né de la saillie, par exemple). Dans ce cas, la plateforme ne touchera pas non plus le solde
                de ses frais! La plateforme touchera simplement 8% de l'acompte. D'où l'expression « 8% des sommes payées pour la saillie », et non pas « 8% du prix total
                pour la saillie ».</p>
            <p>Enfin, il peut arriver qu'un acompte doive être remboursé (exemple: l'étalon n'est pas capable de saillir la jument). Dans ce cas, la plateforme rembourse également les frais de service à l'acheteur.</p>

            <h5 class="mt-5 pt-5">Qui sommes-nous?</h5>
            <div class="columns">
                <div class="column">
                    <div class="content">
                        <p>En fait, « nous », c'est plutôt « je », je m'appelle Alexandre Venot, j'ai 26 ans, et j'ai créé ce site moi-même au
                            nom de LRDE, ma SAS créée en janvier 2024. Je suis ingénieur en cybersécurité de formation, mais pour créer cette
                            plateforme
                            j'ai bien évidemment dû étudier la filière équine, avec des professionnels du milieu mais aussi grâce aux
                            nombreuses données que l'on trouve sur internet.</p>
                    </div>
                </div>
                <div class="column is-4">
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="https://storage.googleapis.com/lerepairedeletalon-public/alexandrevenot.jpg" />
                      </figure>
                </div>
            </div>

            <h5 class="mt-5 pt-5">Quelques informations importantes avant de commencer</h5>
            <ul>
                <li>Si vous avez un souci avec le site, ou bien que vous ne comprenez pas quelque chose: rendez-vous dans la section <a
                        (click)="navigateTo('contact')">Contact</a> et envoyez moi un message.</li>
                <li>Que vous soyez acheteur ou vendeur, vous avez le choix entre vous déclarer comme particulier ou comme
                    professionnel.</li>
                <li>Vous pouvez être acheteur et vendeur sur le même compte.</li>
                <li>Au niveau de la facturation, si vous êtes vendeur et professionnel, c'est à vous d'émettre une facture à l'acheteur,
                    pour la partie saillie uniquement. De notre côté, nous lui émettrons une autre facture, pour les frais de service.
                </li>
                <li>Nous ne proposons pas encore d'assurance pour que vous soyez sûr(e) d'avoir votre solde. En effet, c'est à
                    l'acheteur de revenir sur la plateforme pour à nouveau entrer sa carte et payer le solde, s'il doit le payer.
                    Cependant, il peut arriver qu'un acheteur refuse de payer le solde. Si vous avez rempli votre partie du contrat,
                    sachez que ce dernier devrait aisément vous donner raison en cas de contentieux. De manière générale, privilégiez les profils qui ont déjà de bonnes évaluations. En effet, un acheteur qui ne
                    paye pas le solde d'une saillie n'aura probablement plus aucune de ses demandes de saillies acceptées, en raison de
                    la mauvaise évaluation qui apparaîtra sur son profil.</li>
                <li>Au cours de votre utilisation du site, vous serez amenés à entrer un certain nombre d'informations, qui peuvent
                    être
                    plus ou moins sensibles. En quelques mots, sachez que vos données sont stockées sur un serveur situé en France,
                    que nous avons fait tout notre
                    possible pour qu'elles soient stockées de manière sécurisée, et que certaines informations ne nous sont même
                    pas connues (par exemple, seule l'entreprise du secteur bancaire avec qui nous travaillons connaît votre IBAN,
                    nous n'en connaissons que les 4 derniers chiffres).
                    Si ce genre
                    d'informations vous intéresse, consultez nos <a (click)="navigateTo('mentions-legales')">mentions légales</a>, à
                    la section données personnelles.
                </li>
            </ul>
        </div>
    </div>
</section>