<div class="columns">
    <div class="column is-3 is-offset-1">
        <section class="section">
            <h1 class="title is-1">Tableau de bord</h1>
        </section>

        <section class="section">
            <aside class="menu">
                <p class="menu-label">
                    Achat
                </p>
                <ul class="menu-list">
                    <li><a [ngClass]="isHighlighted('MyCoversComponent', 'buyer')? 'is-active' : ''" (click)="onClick('MyCoversComponent', null, 'buyer')">Mes saillies</a>
                        <ul *ngIf="isExpanded['buyer']['MyCoversComponent']">
                            <li><a [ngClass]="isHighlighted('pendingApproval', 'buyer')? 'is-active' : ''" (click)="onClick('pendingApproval', 'MyCoversComponent', 'buyer')">Demandées</a></li>
                            <li><a [ngClass]="isHighlighted('pendingSignature', 'buyer')? 'is-active' : ''" (click)="onClick('pendingSignature', 'MyCoversComponent', 'buyer')">En cours de signature</a></li>
                            <li><a [ngClass]="isHighlighted('onGoing', 'buyer')? 'is-active' : ''" (click)="onClick('onGoing', 'MyCoversComponent', 'buyer')">Engagées</a></li>
                            <li><a [ngClass]="isHighlighted('done', 'buyer')? 'is-active' : ''" (click)="onClick('done', 'MyCoversComponent', 'buyer')">Terminées</a></li>
                        </ul>
                    </li>
                    <li><a>Mes favoris</a></li>
                    <li><a>Mes avis donnés</a></li>
                </ul>
                <p class="menu-label">
                    Vente
                </p>
                <ul class="menu-list">
                    <li><a [ngClass]="isHighlighted('myStallionsComponent', 'seller')? 'is-active' : ''" (click)="onClick('myStallionsComponent', null, 'seller')">Mes étalons</a>
                        <ul *ngIf="isExpanded['seller']['myStallionsComponent']">
                            <li><a [ngClass]="isHighlighted('stallionsList', 'seller')? 'is-active' : ''" (click)="onClick('stallionsList', 'myStallionsComponent', 'seller')">Liste de mes étalons</a></li>
                            <li><a [ngClass]="isHighlighted('registerNewStallion', 'seller')? 'is-active' : ''" (click)="onClick('registerNewStallion', 'myStallionsComponent', 'seller')">Ajouter un nouvel étalon</a></li>
                        </ul>
                    </li>

                    <li><a [ngClass]="isHighlighted('MyCoversComponent', 'seller')? 'is-active' : ''" (click)="onClick('MyCoversComponent', null, 'seller')">Mes saillies</a>
                        <ul *ngIf="isExpanded['seller']['MyCoversComponent']">
                            <li><a [ngClass]="isHighlighted('pendingApproval', 'seller')? 'is-active' : ''" (click)="onClick('pendingApproval', 'MyCoversComponent', 'seller')">Demandes</a></li>
                            <li><a [ngClass]="isHighlighted('pendingSignature', 'seller')? 'is-active' : ''" (click)="onClick('pendingSignature', 'MyCoversComponent', 'seller')">En cours de signature</a></li>
                            <li><a [ngClass]="isHighlighted('onGoing', 'seller')? 'is-active' : ''" (click)="onClick('onGoing', 'MyCoversComponent', 'seller')">Engagées</a></li>
                            <li><a [ngClass]="isHighlighted('done', 'seller')? 'is-active' : ''" (click)="onClick('done', 'MyCoversComponent', 'seller')">Terminées</a></li>
                        </ul>
                    </li>
                </ul>
                <p class="menu-label">
                    Paramètres
                </p>
                <ul class="menu-list">
                    <li><a [ngClass]="isHighlighted('ProfileInformationComponent', 'parameters')? 'is-active' : ''" (click)="onClick('ProfileInformationComponent', null, 'parameters')">Informations du profil</a></li>
                    <li><a>RIB</a></li>
                </ul>
            </aside>
        </section>
    </div>

    <div class="column is-7">
        <div [ngSwitch]="selectedComponentKey">
            <ng-container *ngSwitchCase="'myStallionsComponent'">
            <app-my-stallions-list *ngIf="highlightedLabel === 'stallionsList'"></app-my-stallions-list>
            <app-register-new-stallion *ngIf="highlightedLabel === 'registerNewStallion'"></app-register-new-stallion>
            </ng-container>

            <ng-container *ngSwitchCase="'MyCoversComponent'">
            <app-my-covers [coverStatus]="'pendingApproval'" [pointOfView]="'seller'" *ngIf="highlightedLabel === 'pendingApproval' && selectedCategory === 'seller'" (goToCoverPageEvent)="goToCoverPage($event)"></app-my-covers>
            <app-my-covers [coverStatus]="'pendingSignature'" [pointOfView]="'seller'" *ngIf="highlightedLabel === 'pendingSignature' && selectedCategory === 'seller'" (goToCoverPageEvent)="goToCoverPage($event)"></app-my-covers>
            <app-my-covers [coverStatus]="'onGoing'" [pointOfView]="'seller'" *ngIf="highlightedLabel === 'onGoing' && selectedCategory === 'seller'" (goToCoverPageEvent)="goToCoverPage($event)"></app-my-covers>
            <app-my-covers [coverStatus]="'done'" [pointOfView]="'seller'" *ngIf="highlightedLabel === 'done' && selectedCategory === 'seller'" (goToCoverPageEvent)="goToCoverPage($event)"></app-my-covers>

            <app-my-covers [coverStatus]="'pendingApproval'" [pointOfView]="'buyer'" *ngIf="highlightedLabel === 'pendingApproval' && selectedCategory === 'buyer'" (goToCoverPageEvent)="goToCoverPage($event)"></app-my-covers>
            <app-my-covers [coverStatus]="'pendingSignature'" [pointOfView]="'buyer'" *ngIf="highlightedLabel === 'pendingSignature' && selectedCategory === 'buyer'" (goToCoverPageEvent)="goToCoverPage($event)"></app-my-covers>
            <app-my-covers [coverStatus]="'onGoing'" [pointOfView]="'buyer'" *ngIf="highlightedLabel === 'onGoing' && selectedCategory === 'buyer'" (goToCoverPageEvent)="goToCoverPage($event)"></app-my-covers>
            <app-my-covers [coverStatus]="'done'" [pointOfView]="'buyer'" *ngIf="highlightedLabel === 'done' && selectedCategory === 'buyer'" (goToCoverPageEvent)="goToCoverPage($event)"></app-my-covers>
            </ng-container>
            
            <ng-container *ngSwitchCase="'CoverPageComponent'">
                <app-cover-page [coverId]="selectedCoverId" (goToCoverPageActionEvent)="goToCoverPageAction($event)"></app-cover-page>
            </ng-container>

            <ng-container *ngSwitchCase="'CoverPageActionComponent'">
                <app-cover-page-action [coverId]="selectedCoverId" [coverActionType]="selectedCoverActionType"></app-cover-page-action>
            </ng-container>

            <ng-container *ngSwitchCase="'ProfileInformationComponent'">
                <app-profile-information></app-profile-information>
            </ng-container>
        </div>
    </div>
</div>
