<div class="columns">
    <div class="column is-3 is-offset-1">
        <h3 class="title is-3 has-text-weight-bold">Tableau de bord</h3>
        <section class="section">
            <aside class="menu">
                <p class="menu-label">
                    Achat
                </p>
                <ul class="menu-list">
                    <li>
                        <a class="is-flex is-align-items-center" [ngClass]="isHighlighted('MyCoversComponent', 'buyer')? 'is-active' : ''" (click)="onClick('MyCoversComponent', null, 'buyer')">Mes saillies
                            <span class="tag is-rounded is-danger ml-2"
                                *ngIf="hasCoverNotifications('buyer') && !isExpanded['buyer']['MyCoversComponent']"
                                [ngClass]="isHighlighted('MyCoversComponent', 'buyer')? 'is-light' : ''">
                                    {{sumCoverNotifications('buyer')}}
                            </span>
                            <span class="icon ml-auto"><i class="fas fa-chevron-up" [ngClass]="isExpanded['buyer']['MyCoversComponent']? 'fa-rotate-180' : 'fa-rotate-90'"></i></span>
                        </a>
                        <ul *ngIf="isExpanded['buyer']['MyCoversComponent']">
                            <li *ngFor="let group of ['pendingApproval', 'pendingSignature', 'onGoing', 'done', 'denied']">
                                <a [ngClass]="isHighlighted(group, 'buyer')? 'is-active' : ''"
                                (click)="onClick(group, 'MyCoversComponent', 'buyer')">
                                    {{mappingGroupToName['buyer'][group]}}
                                    <span class="tag is-rounded is-danger ml-2"
                                        *ngIf="coverNotifications['buyer'] && coverNotifications['buyer'][group] && coverNotifications['buyer'][group].length > 0">
                                        {{coverNotifications['buyer'][group]? coverNotifications['buyer'][group].length: 0}}
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li><a [ngClass]="isHighlighted('FavoriteStallionsComponent', 'buyer')? 'is-active' : ''" (click)="onClick('FavoriteStallionsComponent', null, 'buyer')">Mes étalons favoris</a></li>
                </ul>
                <p class="menu-label">
                    Vente
                </p>
                <ul class="menu-list">
                    <li><a class="is-flex is-align-items-center" [ngClass]="isHighlighted('myStallionsComponent', 'seller')? 'is-active' : ''" (click)="onClick('myStallionsComponent', null, 'seller')">Mes étalons
                        <span class="icon ml-auto"><i class="fas fa-chevron-up" [ngClass]="isExpanded['seller']['myStallionsComponent']? 'fa-rotate-180' : 'fa-rotate-90'"></i></span>
                    </a>
                        <ul *ngIf="isExpanded['seller']['myStallionsComponent']">
                            <li><a [ngClass]="isHighlighted('stallionsList', 'seller')? 'is-active' : ''" (click)="onClick('stallionsList', 'myStallionsComponent', 'seller')">Liste de mes étalons</a></li>
                            <li><a [ngClass]="isHighlighted('stallion', 'seller')? 'is-active' : ''" (click)="onClick('stallion', 'myStallionsComponent', 'seller')">Ajouter un nouvel étalon</a></li>
                        </ul>
                    </li>

                    <li><a class="is-flex is-align-items-center" [ngClass]="isHighlighted('MyCoversComponent', 'seller')? 'is-active' : ''" (click)="onClick('MyCoversComponent', null, 'seller')">Mes saillies
                        <span class="tag is-rounded is-danger ml-2"
                            *ngIf="hasCoverNotifications('seller') && !isExpanded['seller']['MyCoversComponent']"
                            [ngClass]="isHighlighted('MyCoversComponent', 'seller')? 'is-light' : ''">
                                {{sumCoverNotifications('seller')}}
                        </span>
                        <span class="icon ml-auto"><i class="fas fa-chevron-up" [ngClass]="isExpanded['seller']['MyCoversComponent']? 'fa-rotate-180' : 'fa-rotate-90'"></i></span>
                    </a>
                        <ul *ngIf="isExpanded['seller']['MyCoversComponent']">
                            <li *ngFor="let group of ['pendingApproval', 'pendingSignature', 'onGoing', 'done', 'denied']">
                                <a [ngClass]="isHighlighted(group, 'seller')? 'is-active' : ''"
                                (click)="onClick(group, 'MyCoversComponent', 'seller')">
                                    {{mappingGroupToName['seller'][group]}}
                                    <span class="tag is-rounded is-danger ml-2"
                                        *ngIf="coverNotifications['seller'] && coverNotifications['seller'][group] && coverNotifications['seller'][group].length > 0">
                                        {{coverNotifications['seller'][group]? coverNotifications['seller'][group].length: 0}}
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <p class="menu-label">
                    Administratif
                </p>
                <ul class="menu-list">
                    <li><a [ngClass]="isHighlighted('MyAccountComponent', 'admin')? 'is-active' : ''" (click)="onClick('MyAccountComponent', null, 'admin')">Mon compte</a></li>
                </ul>
                <ul class="menu-list disconnect">
                    <li><a (click)="triggerDisconnectionModal()">Se déconnecter</a></li>
                </ul>
            </aside>
        </section>
    </div>

    <div class="column is-7">
        <div [ngSwitch]="selectedComponentKey">
            <ng-container *ngSwitchCase="'myStallionsComponent'">
            <app-my-stallions-list *ngIf="highlightedLabel === 'stallionsList'" (editStallionEvent)="goToStallionEdition($event)"></app-my-stallions-list>
            <app-stallion *ngIf="highlightedLabel === 'stallion'" [stallionComponentInput]="stallionComponentInput"></app-stallion>
            </ng-container>

            <ng-container *ngSwitchCase="'MyCoversComponent'">
            <app-my-covers [coverStatus]="'pendingApproval'" [pointOfView]="'seller'" *ngIf="highlightedLabel === 'pendingApproval' && selectedCategory === 'seller'" (goToCoverPageEvent)="goToCoverPage($event)"></app-my-covers>
            <app-my-covers [coverStatus]="'pendingSignature'" [pointOfView]="'seller'" *ngIf="highlightedLabel === 'pendingSignature' && selectedCategory === 'seller'" (goToCoverPageEvent)="goToCoverPage($event)"></app-my-covers>
            <app-my-covers [coverStatus]="'onGoing'" [pointOfView]="'seller'" *ngIf="highlightedLabel === 'onGoing' && selectedCategory === 'seller'" (goToCoverPageEvent)="goToCoverPage($event)"></app-my-covers>
            <app-my-covers [coverStatus]="'done'" [pointOfView]="'seller'" *ngIf="highlightedLabel === 'done' && selectedCategory === 'seller'" (goToCoverPageEvent)="goToCoverPage($event)"></app-my-covers>
            <app-my-covers [coverStatus]="'denied'" [pointOfView]="'seller'" *ngIf="highlightedLabel === 'denied' && selectedCategory === 'seller'" (goToCoverPageEvent)="goToCoverPage($event)"></app-my-covers>

            <app-my-covers [coverStatus]="'pendingApproval'" [pointOfView]="'buyer'" *ngIf="highlightedLabel === 'pendingApproval' && selectedCategory === 'buyer'" (goToCoverPageEvent)="goToCoverPage($event)"></app-my-covers>
            <app-my-covers [coverStatus]="'pendingSignature'" [pointOfView]="'buyer'" *ngIf="highlightedLabel === 'pendingSignature' && selectedCategory === 'buyer'" (goToCoverPageEvent)="goToCoverPage($event)"></app-my-covers>
            <app-my-covers [coverStatus]="'onGoing'" [pointOfView]="'buyer'" *ngIf="highlightedLabel === 'onGoing' && selectedCategory === 'buyer'" (goToCoverPageEvent)="goToCoverPage($event)"></app-my-covers>
            <app-my-covers [coverStatus]="'done'" [pointOfView]="'buyer'" *ngIf="highlightedLabel === 'done' && selectedCategory === 'buyer'" (goToCoverPageEvent)="goToCoverPage($event)"></app-my-covers>
            <app-my-covers [coverStatus]="'denied'" [pointOfView]="'buyer'" *ngIf="highlightedLabel === 'denied' && selectedCategory === 'buyer'" (goToCoverPageEvent)="goToCoverPage($event)"></app-my-covers>
            </ng-container>
            
            <ng-container *ngSwitchCase="'CoverPageComponent'">
                <app-cover-page [coverId]="selectedCoverId" (goToCoverPageActionEvent)="goToCoverPageAction($event)"></app-cover-page>
            </ng-container>

            <ng-container *ngSwitchCase="'CoverPageActionComponent'">
                <app-cover-page-action [coverId]="selectedCoverId" [coverActionType]="selectedCoverActionType" [signUrl]="signUrl" [paymentPart]="paymentPart"></app-cover-page-action>
            </ng-container>

            <ng-container *ngSwitchCase="'FavoriteStallionsComponent'">
                <app-favorite-stallions></app-favorite-stallions>
            </ng-container>

            <ng-container *ngSwitchCase="'MyAccountComponent'">
                <app-my-account></app-my-account>
            </ng-container>
        </div>
    </div>
</div>

<div class="modal" [ngClass]="disconnectionModalIsActive? 'is-active': ''">
    <div class="modal-background" (click)="closeDisconnectionModal()"></div>
    <div class="modal-content">
        <header class="modal-card-head">
            <p class="modal-card-title">Êtes-vous sûr de vouloir vous déconnecter?</p>
            <button class="delete" aria-label="close" (click)="closeDisconnectionModal()"></button>
        </header>
        <section class="modal-card-body">
            <p>À votre prochaine visite sur le site, vous devrez vous connecter à nouveau.</p>
        </section>
        <footer class="modal-card-foot is-justify-content-center">
            <div class="buttons">
                <a class="button is-danger" (click)="disconnect()">Se déconnecter</a>
                <a class="button" (click)="closeDisconnectionModal()">Annuler</a>
            </div>
        </footer>
    </div>
</div>
