<section class="section">
    <div class="container" ngSkipHydration>
        <div class="content">
            <h1 class="pb-5 mb-5">Conditions Générales d'Utilisation (CGU)</h1>

            <h5>1. Définitions</h5>
            <p>Chaque fois qu'ils seront utilisés dans les présentes conditions générales de vente ou en relation avec
                leur exécution, les termes suivants, au pluriel comme au singulier, commençant par une lettre majuscule,
                auront le sens défini ci-après:</p>
            <table>
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>L'Acheteur</td>
                        <td>désigne la personne physique ou morale s'étant déclarée intéressée par l'achat d'une saillie
                            au Vendeur.</td>
                    </tr>
                    <tr>
                        <td>Le Vendeur</td>
                        <td>désigne la personne physique ou morale s'étant déclarée intéressée par la vente d'une
                            saillie à l'Acheteur.</td>
                    </tr>
                    <tr>
                        <td>La Plateforme</td>
                        <td>désigne LRDE, SAS au capital de 1000€, immatriculée au RCS de Toulouse sous le numéro
                            984638379, dont le siège
                            social est situé 66 avenue de Fronton, Appartement 13, 31200 Toulouse.</td>
                    </tr>
                    <tr>
                        <td>Le Site</td>
                        <td>désigne le site internet situé sur les noms de domaine lerepairedeletalon.fr et
                            lerepairedeletalon.com,
                            développé et maintenu par la Plateforme.</td>
                    </tr>
                </tbody>
            </table>

            <h5>2. Objet</h5>
            <p>Les présentes conditions générales d'utilisation établissent les termes et conditions sous lesquels la
                Plateforme met à disposition le Site aux utilisateurs, personnes physiques comme morales.</p>
            <p>Leur lecture dans leur entièreté et leur acceptation est nécessaire à la navigation sur le Site.</p>

            <h5>3. Services proposés</h5>
            <p>Ce Site est une plateforme de mise en relation dans la filière équine, qui a pour but de simplifier et/ou
                d'améliorer l'achat et la vente de saillies.</p>
            <p>Chaque utilisateur du site peut être un acheteur, un vendeur, ou bien les deux en même temps.</p>
            <p>Les services uniquement proposés aux acheteurs sont:</p>
            <ul>
                <li>un catalogue d'étalons disponibles à la saillie</li>
                <li>une liste modifiable d'étalons favoris</li>
                <li>pour chaque étalon, un formulaire permettant de contacter la personne qui s'occupe de ses saillies
                </li>
                <li>un système de paiement en ligne, permettant de régler les saillies directement sur le Site</li>
            </ul>
            <p>Les services uniquement proposés aux vendeurs sont:</p>
            <ul>
                <li>un formulaire permettant de créer un profil pour chacun de leurs étalons sur le Site, mais aussi de
                    modifier ces profils</li>
                <li>un fomulaire permettant de se créer un compte Stripe, afin de recevoir des virements directement sur
                    leur compte bancaire</li>
            </ul>
            <p>Les services proposés aux acheteurs et aux vendeurs sont:</p>
            <ul>
                <li>un système de visualisation des saillies demandées, en cours, et terminées</li>
                <li>un système de notifications par mail pour être tenu au courant des actions sur les saillies</li>
                <li>un contrat de saillie pensé pour protéger à la fois acheteur et vendeur</li>
                <li>un système de signature électronique de ce même contrat, permettant de le signer
                    directement sur le Site</li>
                <li>un système d'évaluation des vendeurs, étalons et acheteurs, avec note sur 5 et commentaire</li>
            </ul>

            <h5>4. Flux financiers, rémunération et facturation</h5>
            <h6>4.1. Frais de service</h6>
            <p>Outre les frais de service, dont le fonctionnement est décrit ci-après, l'utilisation du Site est
                gratuite.</p>
            <p>La vente d'une saillie sur le Site s'effectue généralement en deux paiements de l'Acheteur au Vendeur: un
                acompte, puis un solde. Cependant, sous certaines conditions, la vente ne nécessite pas le paiement du
                solde; sous d'autres conditions, l'acompte peut également être remboursé à l'Acheteur.</p>
            <p>Aussi, lorsque le Vendeur crée un profil pour son étalon sur le Site, il doit pour chaque type de saillie
                proposé pour l'étalon indiquer, dans les limites imposées par le Site, le montant total hors taxes pour
                la saillie, et le pourcentage que représente l'acompte. À partir de ces données sont calculés le montant
                hors taxes de l'acompte pour la saillie, et le montant hors taxes du solde de la saillie.</p>
            <p>La Plateforme se rémunère grâce à des frais de service, qui sont à la charge de l'Acheteur, et
                interviennent lors de chaque paiement, acompte comme solde, en venant s'ajouter au montant total. Ils
                s'élèvent à hauteur de 8% du montant hors taxes payé au Vendeur lors de la transaction en question.</p>
            <p>De cette manière, si l'acompte et le solde sont tous les deux payés lors de la vente, alors la Plateforme
                touchera 8% du montant de l'acompte hors taxes plus 8% du montant du solde hors taxes, soit 8% du
                montant total hors taxes pour la saillie.</p>
            <p>Cependant, si le solde n'est pas payé, alors la Plateforme ne touchera que 8% de l'acompte hors taxes, et
                non pas 8% du montant total hors taxes pour la saillie.</p>
            <p>De plus, si l'acompte vient à être remboursé à l'Acheteur, alors les frais de service lui sont aussi
                remboursés.</p>

            <h6>4.2. Modalités de paiement</h6>
            <p>Le paiement de l'acompte comme du solde ne peut être effectué que sur la page du Site prévue à cet effet.
            </p>
            <p>Pour permettre aux Acheteurs de payer leurs saillies sur le Site, la Plateforme utilise des services de
                paiement fournis par Stripe Inc., via leur filiale européenne Stripe Technology Europe, Limited.</p>
            <p>En utilisant notre système de paiement, vous acceptez donc les conditions générales de Stripe Technology Europe, Limited., qui
                sont consultables juste en dessous du formulaire permettant d'entrer les informations de paiement.</p>

            <h6>4.3 Flux financiers</h6>
            <p>La Plateforme met simplement en relation les acheteurs et les vendeurs. Les vendeurs ne sont pas
                sous-traitants de la Plateforme.</p>
            <p>En effet, à partir d'un prix hors taxes demandé par le Vendeur pour la saillie, la Plateforme calcule le
                prix toutes taxes comprises correspondant, et le facture à l'acheteur.</p>
            <p>À ce montant toutes taxes comprises pour la saillie viennent s'ajouter les frais de services de la
                Plateforme, facturés eux aussi toutes taxes comprises.</p>
            <p>Quand l'acheteur paie un acompte ou un solde, le montant toutes taxes comprises pour la saillie est versé
                sur le compte bancaire du Vendeur, et le montant toutes taxes comprises pour les frais de service sont
                versés sur le compte Stripe de la Plateforme.</p>
            <p>Par conséquent, c'est le Vendeur qui se charge de reverser la TVA perçue lors des transactions.</p>

            <h6>4.4 Facturation</h6>
            <p>La même relation entre la Plateforme et les vendeurs est gardée pour la facturation.</p>
            <p>En effet, pour chaque paiement, le Vendeur doit émettre une facture pour l'acheteur, du montant qui lui a été
                versé. De son côté, la Plateforme émettra une seconde facture à l'Acheteur pour les frais de services.
            </p>

            <h5>5. Données personnelles</h5>
            <p>Aucune donnée personnelle qui n'est pas strictement nécessaire au fonctionnement du site n'est collectée.
                Cependant, les données personnelles strictement nécessaires au fonctionnement du site sont nombreuses.
            </p>
            <p>Une première fonctionnalité nécessitant la collecte de données personnelles potentiellement sensibles est
                le remplissage du contrat de saillie. En effet, l'identification des parties doit être remplie avec des
                champs qui identifient précisément l'Acheteur et le Vendeur.</p>
            <p>Ces données nous sont fournies par le biais d'un formulaire sur le Site que les utilisateurs remplissent, nous
                parviennent par une connexion chiffrée et sont stockées sur un serveur situé en France, et sécurisé par
                l'hébergeur français OVH.</p>
            <p>L'entreprise avec qui nous travaillons pour permettre la signature électronique des contrats est la solution
                eSignatures.io, qui appartient à Galamian Pty Ltd, une société de droit australienne. Elle aussi a accès aux données
                des contrats, qui contiennent notamment l'identification des parties. Vous trouverez plus d'informations à leur
                propos en lisant la <a href="https://esignatures.io/legal/privacy-policy-20230321.pdf">politique de gestion des
                    données personnelles de eSignatures.io</a>.</p>
            <p>Une seconde fonctionnalité nécessitant la collecte de données personnelles potentiellement sensibles est
                la création
                d'un compte Stripe pour les vendeurs. En effet, les réglementations françaises requièrent aux entreprises
                du secteur
                bancaire, dont fait partie Stripe, de vérifier l'identité des utilisateurs du service pour pouvoir régulièrement virer des
                fonds vers leurs comptes bancaires, et ce dans le cadre de la lutte contre le blanchiment d'argent et le financement du
                terrorisme. À cette fin, il est donc encore une fois nécessaire pour la Plateforme de
                collecter ces données, mais elles doivent en plus être adressées à Stripe. Cet envoi est naturellement réalisé via
                une connexion chiffrée, et à leur réception par Stripe, c'est leur politique de gestion des données personnelles qui
                s'applique. Voici le lien vers le <a
                    href="https://assets.ctfassets.net/fzn2n1nzq965/2yk7w33MygF5M1MMMBXMiY/e0cb4bf6a10dec306e7c6ed20b1a8a35/FR_CH_-_Contrat_de_comptes_connecte_s_Stripe.pdf">contrat
                    de comptes connectés Stripe</a> auquel vous adhérez lorsque vous créez un compte Stripe. Il contient également
                un lien vers leur politique de confidentialité, qui détaille précisément la manière dont ils gèrent vos données personnelles.</p>
            <p>Cependant, certaines informations n'ont pas besoin d'être stockées sur notre serveur: c'est le cas des IBAN. Quand la
                Plateforme souhaite virer des fonds sur le compte bancaire d'un utilisateur, elle en fait la demande à Stripe, et
                c'est Stripe qui s'en occupe. Ne sont stockés sur notre serveur que les quatre derniers caractères de l'IBAN, ce qui nous permet de vous l'afficher et vous permet de deviner quel IBAN est utilisé par votre compte Stripe, dans le cas où vous auriez un doute.</p>
            <p>Enfin, un mot sur des données moins sensibles: les photos des étalons que les vendeurs ajoutent sur le site sont publiques. En effet, si elles ne l'étaient pas, il serait impossible pour les acheteurs de les consulter.</p>

            <h5>6. Le contrat de saillie</h5>
            <h6>6.1 Nature du contrat</h6>
            <p>Dans la version actuelle du site, le contrat de saillie est un contrat qui encadre la vente du saillie du Vendeur à l'Acheteur, qui mentionne le rôle de la Plateforme dans cette vente, et qui ne peut couvrir que deux types de saillie: la monte en liberté et la monte en main.</p>
            <p>Pour convenir au maximum de vendeurs, le contrat contient un grand nombre de variables, qui vont être remplies en fonction des caractéristiques du profil de l'étalon impliqué dans la saillie, et de l'identité de l'Acheteur et du Vendeur, entres autres.</p>
            <p>Ce contrat a été rédigé avec l'aide de notre partenaire FIDAL, qui est une société d'avocats.</p>

            <h6>6.2 Valeurs des variables du contrat</h6>
            <p>Il nous est impossible de vérifier toutes les informations rentrées par les utilisateurs, qui apparaissent automatiquement dans le contrat. De ce fait, la responsabilité de la Plateforme ne peut pas être recherchée si un utilisateur a entré sur le Site une information erronée, et qu'elle se retrouve dans le contrat signé.</p>
            <p>Cela dit, le contrat est rédigé de manière à mettre en défaut l'utilisateur qui entrerait une information erronée: en effet, il stipule qu'Acheteur comme Vendeur attestent que les informations qu'ils ont entrées sont vraies.</p>
            <p>Cependant, il vous est vivement conseillé de bien relire le contrat au moment de sa signature, de manière à éviter de futurs litiges.</p>

            <h5>7. Modification des conditions générales d'utilisation</h5>
            <p>Toute modification des conditions générales d'utilisation sera communiquée par mail aux utilisateurs du Site.</p>

            <h5>8. Obligations de l'utilisateur</h5>
            <p>Nous demandons aux utilisateurs de créer des comptes avec des mots de passe suffisamment complexes pour ne pas
                compromettre la sécurité du Site. Si vous ne savez pas comment faire, cette <a
                    href="https://www.cnil.fr/fr/generer-un-mot-de-passe-solide">page proposée par la CNIL</a> est un bon départ.
                Dans tous les cas, ne surtout pas utiliser des mot de passes génériques, comme "123456", ou bien "azerty", qui sont
                automatiquement essayés par des robots sur internet.</p>
            <p>Une fois que le compte est créé, nous demandons aux utilisateurs de garder le mot de passe confidentiel.</p>
            <p>Nous demandons également aux utilisateurs d'utiliser le site conformément à sa destination, et de ne pas tenter de nuire au bon fonctionnement du site.</p>

            <h5>9. Propriété intellectuelle</h5>
            <p>Tous les logos disponibles sur le site relèvent de la propriété de la Plateforme et sont protégés par le droit de la propriété intellectuelle et plus particulièrement le droit d'auteur.</p>
            <p>Les informations figurant sur le site sont uniquement disponibles à des fins de consultation par les utilisateurs, à défaut d'un accord préalable et exprès.</p>
            <p>Toute utilisation totale ou partielle du site ou de son contenu, par quelque procédé que ce soit ou sur quelque support que ce soit, à des fins commerciales ou publicitaires, est interdite et engage la responsabilité de l'utilisateur.</p>

            <h5>10. Responsabilité de la Plateforme</h5>
            <p>La Plateforme n'intervient qu'en qualité d'intermédiaire lors de la vente des saillies. En aucun cas la responsabilité de la Plateforme ne pourra être recherchée en cas de défaut ou de non conformité de la saillie.</p>
            <p>La Plateforme ne vérifie pas les informations entrées par les utilisateurs. C'est à vous de vous assurer de la véracité des informations entrées par les autres utilisateurs, si elle vous importe.</p>
            <p>Il est impossible d'être complètement à l'abri d'un problème technique rendant le Site indisponible, ou perturbant certaines fonctionnalités. Cela dit, nous mettons tout en oeuvre pour maintenir le site fonctionnel et disponible.</p>
            <p>La Plateforme permet également aux utilisateurs de donner leur avis à propos des saillies qu'ils ont achetées ou vendues. Notre responsabilité ne peut pas être recherchée quant au caractère injurieux ou offensant de certains commentaires.</p>

            <h5>11. Droit applicable et juridiction compétente</h5>
            <p>Tout litige relatif à l'interprétation ou à l'exécution des présentes conditions générales d'utilisation est soumis au droit français.</p>
            <p>En cas de survenance d'un litige, les parties concernées s'engagent à rechercher une solution amiable avant
                toute action judiciaire.</p>
            <p>À défaut d'accord amiable, le litige sera alors porté devant les tribunaux compétents conformément aux règles de droit commun.</p>
        </div>
    </div>
</section>