<div class="columns">
    <div class="column has-text-right">
        <h4 class="subtitle is-4 has-text-weight-semibold">{{item.stallion_name}}</h4>
    </div>

    <div class="column middle-column is-1">
        
    </div>

    <div class="column has-text-left">
        <h4 class="subtitle is-4 has-text-weight-semibold">{{item.mare_name}}</h4>
    </div>
</div>

<div class="columns is-vcentered">
    <div class="column">
        <div class="block has-text-grey mb-2">
            Statut:
        </div>
        <div class="block">
            <span class="tag is-medium" [ngClass]="statusHelperObject[item.status]">{{statusMappingObject[item.status]}}, {{statusCommentaryMappingObject[item.status]}}</span>
        </div>
    </div>
    <div class="column">
        <div class="content has-text-centered">
            <div class="block has-text-grey mb-2">
                {{priceName[item.pov]}}:
            </div>
            <div class="block">
                <span class="tag is-medium has-text-weight-semibold">{{item.price.toFixed(2)}} €</span>
            </div>
        </div>
    </div>
</div>

<button class="button is-centered is-light is-fullwidth is-small" (click)="goToCoverPage(item.id)">
    <span class="icon">
        <i class="fas fa-eye"></i>
    </span>
    <span>
        Gérer / Consulter les détails
    </span>
</button>

