<section class="section">
    <div class="container" ngSkipHydration>
        <div class="content">
            <h1 class="pb-5 mb-5">Conditions Générales de Vente (CGV)</h1>

            <h5>1. Définitions</h5>
            <p>Chaque fois qu'ils seront utilisés dans les présentes conditions générales de vente ou en relation avec leur exécution, les termes suivants, au pluriel comme au singulier, commençant par une lettre majuscule, auront le sens défini ci-après:</p>
            <table>
                <thead>
                </thead>
                <tbody>
                  <tr>
                    <td>L'Acheteur</td>
                    <td>désigne la personne physique ou morale s'étant déclarée intéressée par l'achat d'une saillie au Vendeur.</td>
                  </tr>
                  <tr>
                    <td>Le Vendeur</td>
                    <td>désigne la personne physique ou morale s'étant déclarée intéressée par la vente d'une saillie à l'Acheteur.</td>
                  </tr>
                  <tr>
                    <td>La Plateforme</td>
                    <td>désigne LRDE, SAS au capital de 1000€, immatriculée au RCS de Toulouse sous le numéro 984638379, dont le siège social est situé 66 avenue de Fronton, Appartement 13, 31200 Toulouse.</td>
                  </tr>
                  <tr>
                    <td>Le Site</td>
                    <td>désigne le site internet situé sur les noms de domaine lerepairedeletalon.fr et lerepairedeletalon.com, développé et maintenu par la Plateforme.</td>
                  </tr>
                </tbody>
            </table>

            <h5>2. Objet</h5>
            <p>Les présentes conditions générales de vente établissent les termes et conditions sous lesquels la Plateforme vend ses services, qui sont:</p>
            <ul>
                <li>l'apport de visibilité pour les étalons du Vendeur, par le biais des profils qu'il leur crée</li>
                <li>la mise en relation du Vendeur avec des Acheteurs de saillies potentiels</li>
                <li>la mise à disposition d'un contrat de saillie modulable aux besoins du Vendeur mais jusqu'aux limites constatées sur le Site, et d'un système de signature électronique de ce même contrat</li>
                <li>la mise à disposition d'un système de paiement en ligne, permettant aux Acheteurs de régler leurs achats directement sur le Site, et aux Vendeurs de recevoir leurs profits directement sur leur compte bancaire</li>
            </ul>
            <p>Ne font notamment pas partie des services proposés par la Plateforme:</p>
            <ul>
                <li>La réalisation de la saillie</li>
                <li>La vérification des informations rentrées par l'Acheteur et le Vendeur sur le Site</li>
            </ul>

            <h5>3. Prix et modalités de paiement</h5>
            <h6>3.1. Frais de service</h6>
            <p>La vente d'une saillie sur le Site s'effectue généralement en deux paiements de l'Acheteur au Vendeur: un
              acompte, puis un solde. Cependant, sous certaines conditions, la vente ne nécessite pas le paiement du
              solde; sous d'autres conditions, l'acompte peut également être remboursé à l'Acheteur.</p>
            <p>Aussi, lorsque le Vendeur crée un profil pour son étalon sur le Site, il doit pour chaque type de saillie
              proposé pour l'étalon indiquer, dans les limites imposées par le Site, le montant total qu'il souhaite percevoir pour
              la saillie, et le pourcentage que représente l'acompte. À partir de ces données sont calculés le montant
              de l'acompte pour la saillie, et le montant du solde de la saillie.</p>
            <p>La Plateforme se rémunère grâce à des frais de service, qui sont à la charge de l'Acheteur, et
              interviennent lors de chaque paiement, acompte comme solde, en venant s'ajouter au montant pour la saillie. Ils
              s'élèvent à hauteur de 8% TTC du montant payé pour l'acompte/le solde.</p>
            <p>De cette manière, si l'acompte et le solde sont tous les deux payés, alors la Plateforme
              touchera 8% du montant de l'acompte plus 8% du montant du solde, soit 8% du
              montant total pour la saillie.</p>
            <p>Cependant, si le solde n'est pas payé, alors la Plateforme ne touchera que 8% de l'acompte, et
              non pas 8% du montant total pour la saillie.</p>
            <p>De plus, si l'acompte vient à être remboursé à l'Acheteur, alors les frais de service lui sont aussi
              remboursés.</p>

            <h6>3.2. Modalités de paiement</h6>
            <p>Le paiement de l'acompte comme du solde ne peut être effectué que sur la page du Site prévue à cet effet.</p>
            <p>Pour permettre aux Acheteurs de payer leurs saillies sur le Site, la Plateforme utilise des services de paiement fournis par Stripe Inc., via leur filiale européenne Stripe Technology Europe, Limited.</p>
            <p>En utilisant notre système de paiement, vous acceptez donc les conditions générales de Stripe Technology Europe, Limited, qui sont consultables juste en dessous du formulaire permettant d'entrer les informations de paiement.</p>

            <h5>4. Responsabilité</h5>
            <p>La Plateforme n'intervient qu'en qualité d'intermédiaire lors de la vente des saillies. En aucun cas la responsabilité de la Plateforme ne pourra être recherchée en cas de défaut ou de non conformité de la saillie.</p>

            <h5>5. Données à caractère personnel</h5>
            <p>La Plateforme ne collecte pas de données lors du paiement des saillies sur le Site. Cependant, la politique de Stripe concernant les données à caractère personnel s'applique et est consultable dans leurs conditions générales, disponibles en dessous du formulaire permettant d'entrer les informations de paiement.</p>

            <h5>6. Loi applicable: Règlement des différends</h5>
            <p>Les présentes conditions générales de vente et l'intégralité des opérations et relations qui en découlent sont expressément soumises au droit français.</p>
            <p>À défaut de règlement amiable, tout litige contractuel ou extracontractuel qui pourrait survenir au sujet de l'existence, la validité, l'interprétation, l'exécution, l'inexécution, la résiliation et ses conséquences des présentes et des opérations et relations contractuelles qui en découlent, sera soumis aux juridictions compétentes dans les conditions de droit commun.</p>
        </div>
    </div>
</section>