<footer class="footer" style="background-color: #ffffff;">
    <div class="notification is-primary" *ngIf="cookiesAreAccepted && !firstCoverDiscountIsAcknowledged">
        <div class="columns">
            <div class="column">
                <div class="content">
                    <span class="icon is-small">
                        <i class="fas fa-gift"></i>
                    </span>
                    <span> En ce moment, profitez d'une <strong>première saillie sans frais</strong> en tant que vendeur!! </span>
                    <span class="icon is-small">
                        <i class="fas fa-gift"></i>
                    </span>
                </div>
            </div>
            <div class="column is-3">
                <button class="button is-light is-pulled-right" (click)="acknowledgeFirstCoverDiscount()">
                    Super! :)
                </button>
            </div>
        </div>
    </div>
    <div class="notification is-primary" *ngIf="!cookiesAreAccepted">
        <div class="columns">
            <div class="column">
                <div class="content">
                    Ce site utilise des cookies, mais ils sont tous strictement nécessaires au fonctionnement du site.
                </div>
            </div>
            <div class="column is-3">
                <button class="button is-light is-pulled-right" (click)="acceptCookies()">D'accord</button>
            </div>
        </div>
    </div>
    <div class="content has-text-centered">
        <hr>
        <p>
            © 2024 SAS LRDE · <a (click)="navigateTo('mentions-legales')">Mentions légales</a> · <a
                (click)="navigateTo('cgu')">Conditions Générales d'Utilisation</a> · <a
                href="https://www.linkedin.com/company/lerepairedeletalon" target="_blank" aria-label="Linked in">
                <i class="fa-brands fa-linkedin fa-linkedin-custom"></i>
            </a> · <a href="https://www.facebook.com/people/Le-Repaire-de-l%C3%89talon/61560091171181" target="_blank"
                aria-label="Facebook">
                <i class="fa-brands fa-facebook fa-facebook-custom"></i>
            </a> · <a href="https://www.instagram.com/lerepairedeletalon" target="_blank" aria-label="Instagram">
                <i class="fa-brands fa-instagram fa-instagram-custom"></i>
            </a> · <a href="https://x.com/lrdeletalon" target="_blank" aria-label="X">
                <i class="fa-brands fa-twitter fa-twitter-custom"></i>
            </a>
        </p>
    </div>
</footer>