<footer class="footer" style="background-color: #ffffff;">
    <div class="notification is-primary" *ngIf="!cookiesAreAccepted">
        <div class="columns">
            <div class="column">
                <div class="content">
                    Ce site utilise des cookies, mais ils sont tous strictement nécessaires au fonctionnement du site.
                </div>
            </div>
            <div class="column is-3">
                <button class="button is-light is-pulled-right" (click)="acceptCookies()">D'accord</button>
            </div>
        </div>
    </div>
    <div class="content has-text-centered">
        <hr>
        <p>
            © 2024 SAS LRDE · <a (click)="navigateTo('mentions-legales')">Mentions légales</a> · <a (click)="navigateTo('cgu')">Conditions Générales d'Utilisation</a>
        </p>
    </div>
</footer>