<section class="section">
    <div class="container">
        <div class="content">
            <h1 class="pb-5 mb-5">Mentions Légales</h1>

            <h5>Identification</h5>
            <p>Ce site internet est la propriété de LRDE, SAS au capital de 1 000 € immatriculée au RCS de Toulouse sous le numéro
                de SIRET 984 638 379 00011, et dont le siège social se situe au 66 avenue de Fronton, Appartement 13, 31200
                Toulouse, France. Le numéro de TVA de LRDE est 48 984 638 379.</p>
            <p>Ce site internet est hébergé par OVH, SAS au capital de 10 174 560 € immatriculée au RCS de Lille Métropole sous le
                numéro de SIRET 424 761 419 00045, et dont le siège social se situe au 2 rue Kellermann, 59100 Roubaix, France.
                Cet hébergeur peut-être contacté avec le numéro de téléphone suivant: 1007.</p>
            
            <h5>Propriété intellectuelle</h5>
            <p>Tous les logos disponibles sur le site relèvent de la propriété de la Plateforme et sont protégés par le droit de la
                propriété intellectuelle et plus particulièrement le droit d'auteur.</p>

            <h5>Données personnelles</h5>
            <h6>Base juridique du traitement des données</h6>
            <p>La base légale de l'article 6 du RGPD sur laquelle le traitement des données personnelles par LRDE repose est le
                contrat: en effet, le traitement des données personnelles est nécessaire à l'exécution ou à la préparation d'un contrat avec chaque
                utilisateur.</p>

            <h6>Données personnelles collectées</h6>
            <p>Aucune donnée personnelle qui n'est pas strictement nécessaire au fonctionnement du site n'est collectée.
                Cependant, les données personnelles strictement nécessaires au fonctionnement du site sont nombreuses.
            </p>
            <p>La fonctionnalité principale du site nécessitant que nous collections les données personnelles des utilisateurs est
                le remplissage du contrat de saillie. En effet, l'identification des parties doit être remplie avec des
                champs qui identifient précisément l'acheteur et le vendeur.</p>
            <p>Ces données nous sont fournies par le biais d'un formulaire sur le site que les utilisateurs remplissent, nous
                parviennent par une connexion chiffrée et sont stockées sur un serveur situé en France, et sécurisé par
                l'hébergeur français OVH.</p>
            <p>Une fonctionnalité additionnelle nécessitant que nous collections des données personnelles est la création d'un
                compte Stripe pour les vendeurs. Mais en principe, lorsqu'un vendeur crée un compte Stripe via notre formulaire, la
                majorité de ses données personnelles nécessaires nous est déjà connue, parce que nous sommes déjà en mesure de remplir des
                contrats avec une identification complète du vendeur.</p>
            <p>Cependant, certaines informations n'ont pas besoin d'être stockées sur notre serveur: c'est le cas des IBAN. Quand
                nous souhaitons virer des fonds sur le compte bancaire d'un utilisateur, nous en faisons la demande à Stripe, et
                c'est Stripe qui s'en occupe. Ne sont stockés sur notre serveur que les quatre derniers caractères de l'IBAN, ce qui
                nous permet de l'afficher aux utilisateurs et leur permet de deviner quel IBAN est utilisé par leur compte Stripe, dans le cas
                où ils auraient un doute.</p>
            <p>Enfin, un mot sur des données moins sensibles: les photos des étalons que les vendeurs ajoutent sur le site sont
                publiques. En effet, si elles ne l'étaient pas, il serait impossible pour les acheteurs de les consulter.</p>

            <h6>Destinataires des données personnelles</h6>
            <p>L'entreprise avec qui nous travaillons pour permettre la signature électronique des contrats est la solution
                eSignatures.io, qui appartient à Galamian Pty Ltd, une société de droit australienne. Elle aussi a accès aux données
                des contrats, qui contiennent notamment l'identification des parties. Plus d'informations sont trouvables à leur
                propos en lisant la <a href="https://esignatures.io/legal/privacy-policy-20230321.pdf">politique de gestion des
                    données personnelles de eSignatures.io</a>.</p>
            <p>Nous devons également partager des données personnelles avec Stripe. En effet, les réglementations françaises
                requièrent aux entreprises
                du secteur
                bancaire, dont fait partie Stripe, de vérifier l'identité des utilisateurs du service pour pouvoir régulièrement
                virer des
                fonds vers leurs comptes bancaires, et ce dans le cadre de la lutte contre le blanchiment d'argent et le financement
                du
                terrorisme. À cette fin, il est donc encore une fois nécessaire pour la Plateforme de
                collecter ces données, mais elles doivent en plus être adressées à Stripe. Cet envoi est naturellement réalisé via
                une connexion chiffrée, et à leur réception par Stripe, c'est leur politique de gestion des données personnelles qui
                s'applique. Voici le lien vers le <a
                    href="https://assets.ctfassets.net/fzn2n1nzq965/2yk7w33MygF5M1MMMBXMiY/e0cb4bf6a10dec306e7c6ed20b1a8a35/FR_CH_-_Contrat_de_comptes_connecte_s_Stripe.pdf">contrat
                    de comptes connectés Stripe</a> auquel les utilisateurs adhèrent lorsqu'ils créez un compte Stripe. Il contient également
                un lien vers leur politique de confidentialité, qui détaille précisément la manière dont ils gèrent les données
                personnelles.</p>
            
            <h6>Droits des utilisateur sur leurs données personnelles</h6>
            <p>Les utilisateurs peuvent à tout moment faire valoir leurs droits sur leurs données personnelles, que ce soit pour leurs droits d'accès, de rectification, d'opposition ou bien d'effacement.</p>
            <p>Si l'interface du site vous empêche de faire valoir un de vos droits susmentionnés, rendez-vous dans la section <a (click)="navigateTo('contact')">Contact</a> et faites nous votre demande.</p>

            <h5>Gestion des cookies</h5>
            <p>Tous les cookies que nous utilisons sont strictement nécessaires au bon fonctionnement du site.</p>
        </div>
    </div>
</section>