<section class="section">
    <div class="container">
        <h3 class="subtitle is-3 has-text-weight-bold mb-3">Informations du profil</h3>
    </div>
</section>
<section class="section">
    <div class="container">
        <form [formGroup]="profileInformationForm" class="box">
            <h4 class="subtitle is-4 has-text-weight-bold pb-4 has-text-centered">Identité dans les contrats</h4>

            <div class="columns is-align-items-center">
                <div class="column is-2 has-text-right">
                    <label class="label">Je suis un</label>
                </div>

                <div class="column">
                    <div class="field">

                        <div class="control" *ngIf="formIsBeingModified || !theUserAlreadyHasProfileInformation['status']">
                          <label class="radio has-text-weight-semibold">
                            <input type="radio" value="company" formControlName="companyOrIndividualRadio">
                            Professionel
                          </label>

                          <label class="radio has-text-weight-semibold">
                            <input type="radio" value="individual" formControlName="companyOrIndividualRadio">
                            Particulier
                          </label>
                        </div>

                        <div class="control" *ngIf="!formIsBeingModified && theUserAlreadyHasProfileInformation['status']">
                          <label class="radio has-text-weight-semibold">
                            <input type="radio" value="company" formControlName="companyOrIndividualRadio" [attr.disabled]="true">
                            Professionel
                          </label>

                          <label class="radio has-text-weight-semibold">
                            <input type="radio" value="individual" formControlName="companyOrIndividualRadio" [attr.disabled]="true">
                            Particulier
                          </label>
                        </div>

                    </div>
                </div>
            </div>

            <div *ngIf="selectedProfileType == 'company'">
              <div class="columns is-align-items-center">
                <div class="column is-2 has-text-right">
                    <label class="label">Mon entreprise</label>
                </div>

                <div class="column">
                    <div class="field">
                        <p class="control is-expanded">
                          <input class="input" type="text" placeholder="Nom de l'entreprise" formControlName="companyName" [readonly]="!formIsBeingModified && theUserAlreadyHasProfileInformation['status']">
                        </p>
                    </div>
                </div>

                <div class="column">
                    <div class="field">
                        <p class="control is-expanded">
                          <input class="input" type="text" placeholder="Statut de l'entreprise" formControlName="companyStatus" [readonly]="!formIsBeingModified && theUserAlreadyHasProfileInformation['status']">
                        </p>
                    </div>
                </div>

                <div class="column">
                  <div class="field has-addons">
                    <p class="control is-expanded">
                      <input class="input" type="text" placeholder="Capital de l'entreprise" formControlName="capital" [readonly]="!formIsBeingModified && theUserAlreadyHasProfileInformation['status']">
                    </p>
                    <p class="control">
                      <a class="button is-static">
                        €
                      </a>
                    </p>
                  </div>
                </div>
              </div>

              <div class="columns is-align-items-center">
                <div class="column is-2 has-text-right">
                    <label class="label"></label>
                </div>

                <div class="column">
                    <div class="field">
                        <p class="control is-expanded">
                          <input class="input" type="text" placeholder="Adresse du siège social" formControlName="headOfficeAddress" [readonly]="!formIsBeingModified && theUserAlreadyHasProfileInformation['status']">
                        </p>
                      </div>
                </div>

                <div class="column">
                    <div class="field">
                        <p class="control is-expanded">
                          <input class="input" type="text" placeholder="N° SIRET" formControlName="siret" [readonly]="!formIsBeingModified && theUserAlreadyHasProfileInformation['status']">
                        </p>
                      </div>
                </div>
              </div>
            </div>

            <div class="columns is-align-items-center">
              <div class="column is-2 has-text-right">
                  <label class="label">Mes informations</label>
              </div>

              <div class="column">
                <div class="field">
                    <div class="control is-expanded" *ngIf="formIsBeingModified || !theUserAlreadyHasProfileInformation['status']">
                        <div class="select is-fullwidth">
                            <select  formControlName="gender">
                              <option>Sexe</option>
                              <option *ngFor="let gender of ['Monsieur', 'Madame']">{{gender}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="control is-expanded" *ngIf="!formIsBeingModified && theUserAlreadyHasProfileInformation['status']">
                      <input class="input" type="text" [value]="selectedGender" readonly>
                    </div>
                </div>
              </div>

              <div class="column">
                <div class="field">
                    <p class="control is-expanded">
                      <input class="input" type="text" placeholder="Date de naissance" formControlName="birthdate" [readonly]="!formIsBeingModified && theUserAlreadyHasProfileInformation['status']">
                    </p>
                </div>
              </div>

              <div class="column">
                <div class="field">
                    <p class="control is-expanded">
                      <input class="input" type="text" placeholder="Lieu de naissance" formControlName="birthplace" [readonly]="!formIsBeingModified && theUserAlreadyHasProfileInformation['status']">
                    </p>
                </div>
              </div>

              <div class="column">
                <div class="field">
                    <p class="control is-expanded">
                      <input class="input" type="text" placeholder="Nationalité" formControlName="citizenship" [readonly]="!formIsBeingModified && theUserAlreadyHasProfileInformation['status']">
                    </p>
                </div>
              </div>

            </div>

            <div class="columns is-align-items-center">
              <div class="column is-2 has-text-right">
                  <label class="label"></label>
              </div>

              <div class="column">
                <div class="field">
                    <p class="control is-expanded">
                      <textarea class="textarea" type="text" placeholder="Adresse postale complète" formControlName="postalAddress" rows="2" [readonly]="!formIsBeingModified && theUserAlreadyHasProfileInformation['status']"></textarea>
                    </p>
                </div>
              </div>

            </div>



            <div class="columns is-align-items-center">
                <div class="column is-2 has-text-right">

                </div>

                <div class="column">

                  <p class="help" [ngClass]="!backendErrorStatus['status'] ? 'has-text-success' : 'has-text-danger'">{{ updateFormMessage.value }}</p>

                  <div class="control">
                  <button class="button is-primary is-outlined" *ngIf="!formIsBeingModified && theUserAlreadyHasProfileInformation['status']" (click)="askForFormEdit()">
                      <span class="icon">
                          <i class="fas fa-pen-to-square"></i>
                      </span>
                      <span>Éditer</span>
                  </button>
              </div>

                  <div class="field is-grouped py-2">
                      <p class="control">
                          <button class="button is-primary" (click)="saveProfileInformation()" *ngIf="formIsBeingModified || !theUserAlreadyHasProfileInformation['status']">
                              <span class="icon">
                                <i class="fas fa-check"></i>
                              </span>
                              <span>{{theUserAlreadyHasProfileInformation['status']? 'Enregistrer les changements' : 'Enregistrer les informations du profil'}}</span>
                          </button>
                      </p>
                      <p class="control">
                          <button class="button is-danger is-outlined" (click)="cancelFormEdition()" *ngIf="formIsBeingModified">
                              <span class="icon">
                                <i class="fas fa-xmark"></i>
                              </span>
                              <span>Annuler</span>
                          </button>
                      </p>
                  </div>

                </div>
            </div>

        </form>
    </div>
</section>