<h3 class="subtitle is-3 has-text-weight-semibold">Détails de la saillie</h3>

<section class="section">
    <div class="container">

        <h4 class="subtitle is-4 has-text-weight-bold">Étalon</h4>
        <div class="columns content is-align-items-end">

            <div class="column">
                <label class="label has-text-weight-semibold has-text-grey-light">Nom </label>
                <input class="input is-primary" [value]="stallionName" readonly>
            </div>

            <div class="column">
                <label class="label has-text-weight-semibold has-text-grey-light">Race</label>
                <input class="input is-primary" [value]="stallionBreed" readonly>
            </div>

            <div class="column">
                <label class="label has-text-weight-semibold has-text-grey-light">N° SIRE</label>
                <input class="input is-primary" [value]="stallionNSIRE" readonly>
            </div>

        </div>

        <div class="content">
            <label class="label has-text-weight-semibold has-text-grey-light">Races de production</label>
            <input class="input is-primary" [value]="stallionProductionBreeds" readonly>
        </div>

        <div class="content">
            <label class="label has-text-weight-semibold has-text-grey-light">Vaccins</label>
            <input class="input is-primary" [value]="stallionVaccines != ''? stallionVaccines : 'Pas de vaccin déclaré à jour'" readonly>
        </div>

        <div class="content">
            <label class="label has-text-weight-semibold has-text-grey-light">Tests MST négatifs</label>
            <input class="input is-primary" [value]="'Pas de test MST négatif déclaré'" readonly *ngIf="stallionSTDNegativeTests.length == 0">
            <div [ngClass]="i+1 == stallionSTDNegativeTests.length? '' : 'pb-2'" *ngFor="let std of stallionSTDNegativeTests; let i = index">
                <input class="input is-primary" [value]="std" readonly>
            </div>
        </div>

        <h4 class="subtitle is-4 has-text-weight-bold pt-4">Jument</h4>
        <div class="columns content is-align-items-end">
            <div class="column">
                <label class="label has-text-weight-semibold has-text-grey-light">Nom</label>
                <input class="input is-primary" [value]="mareName" readonly>
            </div>

            <div class="column">
                <label class="label has-text-weight-semibold has-text-grey-light">Race</label>
                <input class="input is-primary" [value]="mareBreed" readonly>
            </div>

            <div class="column">
                <label class="label has-text-weight-semibold has-text-grey-light">N° SIRE</label>
                <input class="input is-primary" [value]="mareNSIRE" readonly>
            </div>
        </div>


        <h4 class="subtitle is-4 has-text-weight-bold pt-4">{{pov == 'seller'? 'Acheteur': 'Vendeur'}}</h4>

        <label class="label has-text-weight-semibold has-text-grey-light" *ngIf="['requested', 'denied'].includes(status) && pov == 'buyer'? 'Masqué' : ''">Le numéro de téléphone et l'adresse mail du vendeur restent masqués tant que la saillie n'a pas été acceptée.</label>

        <div class="columns content is-align-items-end">
            <div class="column">
                <label class="label has-text-weight-semibold has-text-grey-light">Nom</label>
                <div class="control has-icons-left">
                    <input class="input is-primary" [value]="contactFirstname + ' ' + contactLastname" readonly>
                    <span class="icon is-left">
                        <i class="fa-solid fa-user" style="color: hsl(0, 0%, 71%);"></i>
                    </span>
                </div>
            </div>

            <div class="column is-3">
                <label class="label has-text-weight-semibold has-text-grey-light">Numéro de téléphone</label>
                <div class="control has-icons-left">
                    <input class="input is-primary" [value]="contactPhoneNumber" readonly [disabled]="['requested', 'denied'].includes(status) && pov == 'buyer'">
                    <span class="icon is-left">
                        <i class="fa-solid fa-phone" style="color: hsl(0, 0%, 71%);"></i>
                    </span>
                </div>
            </div>

            <div class="column">
                <label class="label has-text-weight-semibold has-text-grey-light">Adresse mail</label>
                <div class="control has-icons-left">
                    <input class="input is-primary" [value]="contactEmail" readonly [disabled]="['requested', 'denied'].includes(status) && pov == 'buyer'">
                    <span class="icon is-left">
                        <i class="fa-solid fa-envelope" style="color: hsl(0, 0%, 71%);"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="columns content is-align-items-end">
            <div class="column">
                <label class="label has-text-weight-semibold has-text-grey-light">Nombre d'évaluations {{pov == 'buyer' ? "avec l'étalon": ""}}</label>
                <input class="input is-primary" [value]="contactNbReviewsString" readonly>
            </div>

            <div class="column is-2">
                <label class="label has-text-weight-semibold has-text-grey-light">Note moyenne</label>
                <input class="input is-primary" [value]="contactScoreString" readonly>
            </div>

            <div class="column">
                <button class="button is-primary is-fullwidth" (click)="openReviews(pov=='seller'? 'buyer': 'seller')">Voir toutes les évaluations de {{contactFirstname}}</button>
            </div>
        </div>

        <h4 class="subtitle is-4 has-text-weight-bold pt-4">Saillie</h4>
        <div class="columns content is-align-items-end">
            <div class="column">
                <label class="label has-text-weight-semibold has-text-grey-light">Type</label>
                <input class="input is-primary" [value]="availableCoverTypes[coverType]" readonly>
            </div>

            <div class="column">
                <label class="label has-text-weight-semibold has-text-grey-light" *ngIf="coverPlaceNames[coverType]">{{coverPlaceNames[coverType].slice(0,1).toUpperCase()}}{{coverPlaceNames[coverType].slice(1,coverPlaceNames[coverType].length)}}</label>
                <input class="input is-primary"  [value]="coverPlace" readonly>
            </div>

            <div class="column is-2">
                <label class="label has-text-weight-semibold has-text-grey-light" *ngIf="pov == 'buyer'">Prix</label>
                <label class="label has-text-weight-semibold has-text-grey-light" *ngIf="pov == 'seller'">Revenus bruts</label>
                <div class="control has-icons-right">
                    <input class="input is-primary" [value]="price.toFixed(2)" readonly>
                    <span class="icon is-right">
                        <i class="fa-solid fa-euro" style="color: hsl(0, 0%, 71%);"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="content">
            <label class="label has-text-weight-semibold has-text-grey-light">Condition de paiement du solde</label>
            <input class="input is-primary" [value]="balancePaymentCondition" readonly>
        </div>

        <div class="content">
            <label class="label has-text-weight-semibold has-text-grey-light">Montant de l'acompte</label>
            <input class="input is-primary" [value]="advancePercentage" readonly>
        </div>

        <div class="content">
            <label class="label has-text-weight-semibold has-text-grey-light">Nombre maximum de tentatives de saillie</label>
            <input class="input is-primary" [value]="maxNbOfAttempts" readonly>
        </div>

        <div class="content">
            <label class="label has-text-weight-semibold has-text-grey-light">Tests MST négatifs demandés pour la jument</label>
            <input class="input is-primary" [value]="'Aucun test MST à effectuer'" readonly *ngIf="demandedSTDNegativeTests.length == 0">
            <div [ngClass]="i+1 == demandedSTDNegativeTests.length? '' : 'pb-2'" *ngFor="let std of demandedSTDNegativeTests; let i = index">
                <input class="input is-primary" [value]="std" readonly>
            </div>
        </div>

        <div class="content">
            <label class="label has-text-weight-semibold has-text-grey-light">Vaccins à jour demandés pour la jument</label>
            <input class="input is-primary" [value]="demandedVaccines != ''? demandedVaccines : 'Aucun vaccin demandé'" readonly>
        </div>

        <h4 class="subtitle is-4 has-text-weight-bold pt-4">{{messageTitle[pov]}}</h4>
        <div class="content has-text-weight-semibold is-size-5 has-text-justified">
            <span class="icon">
                <i class="fas fa-quote-left"></i>
            </span>
            <p [innerHTML]="messageFromBuyer"></p>
            <span class="icon is-pulled-right">
                <i class="fas fa-quote-right"></i>
            </span>
        </div>

        <h4 class="subtitle is-4 has-text-weight-bold pt-4">Historique des actions</h4>
        <div class="content">
            <table>
                <thead>
                <tr>
                    <th>Étape</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let timestamp of timestamps">
                    <td>{{statusMappingObject[timestamp['status']]}}</td>
                    <td>{{timestamp['timestamp']}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="is-flex is-align-items-self-start py-4">
            <h4 class="subtitle is-4 has-text-weight-bold mr-5">Notes personnelles</h4>

            <div class="control">
                <button class="button is-primary is-outlined" *ngIf="!notesAreBeingModified" (click)="askForNotesEdit()">
                    <span class="icon">
                        <i class="fas fa-pen-to-square"></i>
                    </span>
                    <span>Éditer</span>
                </button>
            </div>
        </div>
        <div class="control">
            <textarea class="textarea" rows="15" placeholder="Utilisez cet espace pour écrire des notes à propos de cette saillie." [formControl]="notesFormControl" [readonly]="!notesAreBeingModified"></textarea>
        </div>
        <p class="help" [ngClass]="updateNotesSuccess['status'] ? 'has-text-success' : 'has-text-danger'">{{ updateNotesMessage.value }}</p>
        <div class="field is-grouped py-2" *ngIf="notesAreBeingModified">
            <p class="control">
                <button class="button is-primary" (click)="updateNotes()">
                    <span class="icon">
                      <i class="fas fa-check"></i>
                    </span>
                    <span>Enregistrer les changements</span>
                </button>
            </p>
            <p class="control">
                <button class="button is-danger is-outlined" (click)="cancelNotesEdition()">
                    <span class="icon">
                      <i class="fas fa-xmark"></i>
                    </span>
                    <span>Annuler</span>
                </button>
            </p>
        </div>
    </div>
</section>

<section class="section" *ngIf="pov == 'seller' && status == 'requested'">
    <div class="container">
        <div class="box is-flex is-flex-direction-column is-align-items-center" style="background-color: #f7faf7;">
            <h4 class="subtitle is-4 has-text-weight-bold">Mettre à jour la date d'arrivée de la jument</h4>
            <label class="label has-text-weight-semibold has-text-grey-light">Date d'arrivée enregistrée</label>
            <div class="content control has-icons-right">
                <input class="input" [ngClass]="arrivalDate? 'is-success': 'is-warning'" [value]="arrivalDate? arrivalDate: 'Aucune'" readonly>
                <span class="icon is-small is-right">
                    <i class="fas" [ngClass]="arrivalDate? 'fa-check': ''"></i>
                  </span>
            </div>
            <label class="label has-text-weight-semibold has-text-grey-light">Nouvelle date d'arrivée <small>(format JJ/MM/AAAA)</small></label>
            <div class="content">
                <div class="field is-grouped is-centered">
                    <div class="control is-expanded">
                      <input class="input" type="text" placeholder="15/02/2024" [formControl]="newArrivalDate">
                    </div>
                    <div class="control">
                      <a class="button" (click)="triggerModal('arrivalDate')">
                        Enregistrer
                      </a>
                    </div>
                </div>
                <p class="help is-danger pb-6" *ngIf='arrivalDateChangeFailed["value"] && displayArrivalDateHelper["value"]'>
                    Erreur dans le format de la date, veuillez s'il vous plaît utiliser le format JJ/MM/AAAA, exemple: 15/02/2024</p>    
                <p class="help is-success pb-6" *ngIf='!arrivalDateChangeFailed["value"] && displayArrivalDateHelper["value"]'>
                    Parfait!</p>   
            </div>

            <h4 class="subtitle is-4 has-text-weight-bold">Augmenter ou baisser le prix</h4>
            <label class="label has-text-weight-semibold has-text-grey-light">Prix de base actuellement utilisé</label>
            <div class="content control has-icons-right">
                <input class="input is-success" [value]="basePrice" readonly>
                <span class="icon is-small is-right">
                    <i class="fas fa-euro"></i>
                  </span>
            </div>
            <label class="label has-text-weight-semibold has-text-grey-light">Nouveau prix <small>(Min. 10€, pas de nombre à virgule)</small></label>
            <div class="content">
                <div class="field is-grouped is-centered">
                    <div class="control is-expanded has-icons-right">
                      <input class="input" (input)="makePriceInteger()" type="text" placeholder="400" [formControl]="newBasePrice">
                      <span class="icon is-right">
                        <i class="fas fa-euro"></i>
                      </span>
                    </div>
                    <div class="control">
                      <a class="button" (click)="triggerModal('basePrice')">
                        Enregistrer
                      </a>
                    </div>
                </div>
                <p class="help is-danger pb-6" *ngIf='basePriceChangeFailed["value"] && displayBasePriceHelper["value"]'>
                    Le prix ne peut pas être inférieur à 10€.</p>    
                <p class="help is-success pb-6" *ngIf='!basePriceChangeFailed["value"] && displayBasePriceHelper["value"]'>
                    Parfait!</p>   
            </div>
        </div>
    </div>
</section>

<section class="section" *ngIf="['downpaid', 'fullypaid'].includes(status)">
    <div class="container">
        <div class="box" style="background-color: #f7faf7;">
            <div class="is-flex is-flex-direction-column is-align-items-center">
                <h4 class="subtitle is-4 has-text-weight-bold is-centered">Rédiger l'évaluation de cette saillie</h4>
                <label class="label has-text-weight-semibold has-text-success pt-4" *ngIf="alreadyReviewed">
                    {{alreadyReviewedMessage}}
                </label>
            </div>
            
            <div class="columns pb-6" *ngIf="!alreadyReviewed">
                <div class="column is-1">

                </div>
                <div class="column is-10">
                    <label class="label has-text-weight-semibold has-text-grey-light">Note:</label>
                    <div class="field is-grouped is-grouped-multiline pb-4">
                        <p class="control" *ngFor="let i of getNumberArray(5)">
                        <button class="button" [ngClass]="[reviewSelectedScore == i+1? 'is-primary': '']" (click)="updateReviewScore(i+1)">
                            {{i+1}}/5
                        </button>
                        </p>
                    </div>
                    <label class="label has-text-weight-semibold has-text-grey-light">Commentaire:</label>
    
                        <textarea class="textarea"  rows="8" [placeholder]="reviewPlaceholder" [formControl]="reviewFormControl"></textarea>
                        <div class="py-4">
                            <button class="button is-primary"[ngClass]="reviewStatus['status'] == 'loading'? 'is-loading' : ''" (click)="checkFieldsAndOpenReviewModal()">
                                <span class="icon">
                                    <i class="fas fa-pen-to-square"></i>
                                </span>
                                <span>Poster l'évaluation</span>
                            </button>
                        </div>
                        <p class="help has-text-danger" *ngIf="reviewStatus['status'] == 'noteError'">Vous devez sélectionner une note pour l'évaluation.</p>
                        <p class="help has-text-danger" *ngIf="reviewStatus['status'] == 'commentError'">Le commentaire de votre évaluation ne peut pas être vide.</p>
                        <p class="help has-text-danger" *ngIf="reviewStatus['status'] == 'backendError'">L'évaluation semble avoir échoué. C'est peut-être un problème de notre côté. Veuillez réessayer s'il vous plaît.</p>
                        <p class="help has-text-success" *ngIf="reviewStatus['status'] == 'success'">L'évaluation a bien été postée.</p>
                </div>
                <div class="column is-1">

                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="box is-flex is-flex-direction-column is-align-items-center" style="background-color: #f7faf7;">
            <h4 class="subtitle is-4 has-text-weight-bold">Statut de la saillie</h4>
 
            <div class="block">
                <span class="tag is-large" [ngClass]="statusHelperObject[status]">{{statusMappingObject[status]}}, {{statusCommentaryMappingObject[status]}}</span>
            </div>


            <h4 class="subtitle is-4 has-text-weight-bold" *ngIf="actions[pov] && (actions[pov]['green'][status] || actions[pov]['red'][status])">Actions</h4>
            <div class="field is-grouped is-centered">
                <p class="control">
                  <button class="button is-success" [ngClass]="greenButtonStatus['status'] == 'Loading'? 'is-loading':''"
                    (click)="green(status, pov)" *ngIf="actions[pov] && actions[pov]['green'][status]"
                    [disabled]="pov == 'seller' && !arrivalDate">
                    <span class="icon">
                      <i class="fas fa-check"></i>
                    </span>
                    <span>{{actions[pov]['green'][status]}}</span>
                  </button>
                </p>
                <p class="control">
                    <button class="button is-danger" [ngClass]="redButtonStatus['status'] == 'Loading'? 'is-loading':''"
                        (click)="red(status, pov)" *ngIf="actions[pov] && actions[pov]['red'][status]">
                      <span class="icon">
                        <i class="fas fa-xmark"></i>
                      </span>
                      <span>{{actions[pov]['red'][status]}}</span>
                    </button>
                  </p>
            </div>
            <label class="label has-text-weight-semibold has-text-grey"
            *ngIf="pov == 'seller' && !arrivalDate && status == 'requested'">
            Vous devez indiquer une date d'arrivée de la jument au centre avant d'accepter la saillie (juste au-dessus).
            </label>
            <label class="label has-text-weight-semibold has-text-danger">{{greenAndRedButtonFormControl.value}}</label>
        </div>
    </div>
</section>

<div class="modal" [ngClass]="newBasePriceModalIsActive? 'is-active': ''">
    <div class="modal-background" (click)="closeModal('basePrice')"></div>
    <div class="modal-content">
        <header class="modal-card-head">
            <p class="modal-card-title">Êtes-vous sûr de vouloir faire cette modification?</p>
            <button class="delete" aria-label="close" (click)="closeModal('basePrice')"></button>
        </header>
        <section class="modal-card-body">
            <p>Le prix de base de la saillie passera de {{basePrice}}€ à {{valueForPutCover}}€.</p>
            <p>Les frais de service de la plateforme seront automatiquement recalculés.</p>
        </section>
        <footer class="modal-card-foot is-justify-content-center">
            <div class="buttons">
                <a class="button is-success" (click)="saveNewBasePrice()">Valider le nouveau prix</a>
                <a class="button" (click)="closeModal('basePrice')">Annuler</a>
            </div>
        </footer>
    </div>
</div>

<div class="modal" [ngClass]="newArrivalDateModalIsActive? 'is-active': ''">
    <div class="modal-background" (click)="closeModal('arrivalDate')"></div>
    <div class="modal-content">
        <header class="modal-card-head">
            <p class="modal-card-title">Êtes-vous sûr de vouloir faire cette modification?</p>
            <button class="delete" aria-label="close" (click)="closeModal('arrivalDate')"></button>
        </header>
        <section class="modal-card-body">
            <p>La nouvelle date d'arrivée de la jument sera le {{valueForPutCover}}.</p>
        </section>
        <footer class="modal-card-foot is-justify-content-center">
            <div class="buttons">
                <a class="button is-success" (click)="saveNewArrivalDate()">Valider la nouvelle date</a>
                <a class="button" (click)="closeModal('arrivalDate')">Annuler</a>
            </div>
        </footer>
    </div>
</div>

<div class="modal" [ngClass]="reviewModalIsActive? 'is-active': ''">
    <div class="modal-background" (click)="closeModal('review')"></div>
    <div class="modal-content">
        <header class="modal-card-head">
            <p class="modal-card-title">Êtes-vous sûr de vouloir poster cette évaluation?</p>
            <button class="delete" aria-label="close" (click)="closeModal('review')"></button>
        </header>
        <section class="modal-card-body">
            <p>Vous ne pourrez évaluer cette saillie qu'une seule fois.</p>
            <p>Vous pouvez le faire dès maintenant, mais si la saillie n'est pas complètement terminée, il peut être judicieux d'attendre que ce soit le cas.</p>
        </section>
        <footer class="modal-card-foot is-justify-content-center">
            <div class="buttons">
                <a class="button is-success" (click)="postReview()">Poster l'évaluation</a>
                <a class="button" (click)="closeModal('review'); reviewStatus['status'] = ''">Annuler</a>
            </div>
        </footer>
    </div>
</div>