<h3 class="subtitle is-3 has-text-weight-semibold">Détails de la saillie</h3>

<section class="section">
    <div class="container">

        <h4 class="subtitle is-4 has-text-weight-bold">Étalon</h4>
        <div class="columns content">

            <div class="column">
                <label class="label has-text-weight-semibold has-text-grey-light">Nom </label>
                <input class="input is-medium is-primary" [value]="stallionName" readonly>
            </div>

            <div class="column">
                <label class="label has-text-weight-semibold has-text-grey-light">Race</label>
                <input class="input is-medium is-primary" [value]="stallionBreed" readonly>
            </div>

            <div class="column">
                <label class="label has-text-weight-semibold has-text-grey-light">N° SIRE</label>
                <input class="input is-medium is-primary" [value]="stallionNSIRE" readonly>
            </div>

        </div>

        <div class="content">
            <label class="label has-text-weight-semibold has-text-grey-light">Races de production</label>
            <input class="input is-medium is-primary" [value]="stallionProductionBreeds" readonly>
        </div>

        <div class="content">
            <label class="label has-text-weight-semibold has-text-grey-light">Vaccins</label>
            <input class="input is-medium is-primary" [value]="stallionVaccines != ''? stallionVaccines : 'Pas de vaccin déclaré à jour'" readonly>
        </div>

        <div class="content">
            <label class="label has-text-weight-semibold has-text-grey-light">Tests MST négatifs</label>
            <input class="input is-medium is-primary" [value]="'Pas de test MST négatif déclaré'" readonly *ngIf="stallionSTDNegativeTests.length == 0">
            <div [ngClass]="i+1 == stallionSTDNegativeTests.length? '' : 'pb-2'" *ngFor="let std of stallionSTDNegativeTests; let i = index">
                <input class="input is-medium is-primary" [value]="std" readonly>
            </div>
        </div>

        <h4 class="subtitle is-4 has-text-weight-bold pt-4">Jument</h4>
        <div class="columns content">
            <div class="column">
                <label class="label has-text-weight-semibold has-text-grey-light">Nom</label>
                <input class="input is-medium is-primary" [value]="mareName" readonly>
            </div>

            <div class="column">
                <label class="label has-text-weight-semibold has-text-grey-light">Race</label>
                <input class="input is-medium is-primary" [value]="mareBreed" readonly>
            </div>

            <div class="column">
                <label class="label has-text-weight-semibold has-text-grey-light">N° SIRE</label>
                <input class="input is-medium is-primary" [value]="mareNSIRE" readonly>
            </div>
        </div>


        <h4 class="subtitle is-4 has-text-weight-bold pt-4">{{messageContact[pov]}}</h4>

        <label class="label has-text-weight-semibold has-text-grey-light" *ngIf="['requested', 'denied'].includes(status) && pov == 'buyer'? 'Masqué' : ''">Le numéro de téléphone et l'adresse mail du vendeur restent masqués tant que la saillie n'a pas été acceptée.</label>

        <div class="columns content">
            <div class="column">
                <label class="label has-text-weight-semibold has-text-grey-light">Nom</label>
                <div class="control has-icons-left">
                    <input class="input is-medium is-primary" [value]="contactName" readonly>
                    <span class="icon is-medium is-left">
                        <i class="fa-solid fa-user" style="color: hsl(0, 0%, 71%);"></i>
                    </span>
                </div>
            </div>

            <div class="column">
                <label class="label has-text-weight-semibold has-text-grey-light">Numéro de téléphone</label>
                <div class="control has-icons-left">
                    <input class="input is-medium is-primary" [value]="contactPhoneNumber" readonly [disabled]="['requested', 'denied'].includes(status) && pov == 'buyer'">
                    <span class="icon is-medium is-left">
                        <i class="fa-solid fa-phone" style="color: hsl(0, 0%, 71%);"></i>
                    </span>
                </div>
            </div>

            <div class="column">
                <label class="label has-text-weight-semibold has-text-grey-light">Adresse mail</label>
                <div class="control has-icons-left">
                    <input class="input is-medium is-primary" [value]="contactEmail" readonly [disabled]="['requested', 'denied'].includes(status) && pov == 'buyer'">
                    <span class="icon is-medium is-left">
                        <i class="fa-solid fa-envelope" style="color: hsl(0, 0%, 71%);"></i>
                    </span>
                </div>
            </div>
        </div>

        <h4 class="subtitle is-4 has-text-weight-bold pt-4">Saillie</h4>
        <div class="columns content">
            <div class="column">
                <label class="label has-text-weight-semibold has-text-grey-light">Type</label>
                <input class="input is-medium is-primary" [value]="availableCoverTypes[coverType]" readonly>
            </div>

            <div class="column">
                <label class="label has-text-weight-semibold has-text-grey-light" *ngIf="coverPlaceNames[coverType]">{{coverPlaceNames[coverType].slice(0,1).toUpperCase()}}{{coverPlaceNames[coverType].slice(1,coverPlaceNames[coverType].length)}}</label>
                <input class="input is-medium is-primary"  [value]="coverPlace" readonly>
            </div>

            <div class="column is-2">
                <label class="label has-text-weight-semibold has-text-grey-light" *ngIf="pov == 'buyer'">Prix</label>
                <label class="label has-text-weight-semibold has-text-grey-light" *ngIf="pov == 'seller'">Revenus bruts</label>
                <div class="control has-icons-right">
                    <input class="input is-medium is-primary" [value]="price" readonly>
                    <span class="icon is-medium is-right">
                        <i class="fa-solid fa-euro" style="color: hsl(0, 0%, 71%);"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="content">
            <label class="label has-text-weight-semibold has-text-grey-light">Condition de paiement du solde</label>
            <input class="input is-medium is-primary" [value]="balancePaymentCondition" readonly>
        </div>

        <div class="content">
            <label class="label has-text-weight-semibold has-text-grey-light">Montant de l'acompte</label>
            <input class="input is-medium is-primary" [value]="advancePercentage" readonly>
        </div>

        <div class="content" *ngIf="['lib', 'hand', 'iai'].includes(coverType)">
            <label class="label has-text-weight-semibold has-text-grey-light">Nombre maximum de tentatives de saillie</label>
            <input class="input is-medium is-primary" [value]="maxNbOfAttempts" readonly>
        </div>

        <div class="content" *ngIf="['lib', 'hand'].includes(coverType)">
            <label class="label has-text-weight-semibold has-text-grey-light">Tests MST négatifs demandés pour la jument</label>
            <input class="input is-medium is-primary" [value]="'Aucun test MST à effectuer'" readonly *ngIf="demandedSTDNegativeTests.length == 0">
            <div [ngClass]="i+1 == demandedSTDNegativeTests.length? '' : 'pb-2'" *ngFor="let std of demandedSTDNegativeTests; let i = index">
                <input class="input is-medium is-primary" [value]="std" readonly>
            </div>
        </div>

        <div class="content" *ngIf="['lib', 'hand'].includes(coverType)">
            <label class="label has-text-weight-semibold has-text-grey-light">Vaccins à jour demandés pour la jument</label>
            <input class="input is-medium is-primary" [value]="demandedVaccines != ''? demandedVaccines : 'Aucun vaccin demandé'" readonly>
        </div>

        <div class="content" *ngIf="['lib', 'hand', 'iai'].includes(coverType)">
            <label class="label has-text-weight-semibold has-text-grey-light">Hébergement</label>
            <div [ngClass]="i+1 == hostingSpecs.length? '' : 'pb-2'" *ngFor="let htype of hostingSpecs; let i = index">
                <input class="input is-medium is-primary" [value]="htype" readonly>
            </div>
        </div>

        <div class="content" *ngIf="['iart', 'iac'].includes(coverType)">
            <label class="label has-text-weight-semibold has-text-grey-light">Nombre de paillettes fournies</label>
            <input class="input is-medium is-primary" [value]="nbProvidedStraws" readonly>
        </div>

        <div class="content" *ngIf="'iac' == coverType">
            <label class="label has-text-weight-semibold has-text-grey-light">Propriétaire des doses restantes</label>
            <input class="input is-medium is-primary" [value]="leftStrawsOwner" readonly>
        </div>

        <h4 class="subtitle is-4 has-text-weight-bold pt-4">{{messageTitle[pov]}}</h4>
        <div class="content content">
            <div class="content has-text-weight-semibold is-size-5 has-text-justified">
                <span class="icon">
                    <i class="fas fa-quote-left"></i>
                </span>
                <p [innerHTML]="messageFromBuyer"></p>
                <span class="icon is-pulled-right">
                    <i class="fas fa-quote-right"></i>
                </span>
            </div>
        </div>

        <h4 class="subtitle is-4 has-text-weight-bold pt-4">Historique des actions</h4>
        <div class="content">
            <table>
                <thead>
                <tr>
                    <th>Étape</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let timestamp of timestamps">
                    <td>{{statusMappingObject[timestamp['status']]}}</td>
                    <td>{{timestamp['timestamp']}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="is-flex is-align-items-self-start py-4">
            <h4 class="subtitle is-4 has-text-weight-bold mr-5">Notes personnelles</h4>

            <div class="control">
                <button class="button is-primary is-outlined" *ngIf="!notesAreBeingModified" (click)="askForNotesEdit()">
                    <span class="icon">
                        <i class="fas fa-pen-to-square"></i>
                    </span>
                    <span>Éditer</span>
                </button>
            </div>
        </div>
        <div class="control">
            <textarea class="textarea" rows="15" placeholder="Utilisez cet espace pour écrire des notes à propos de cette saillie." [formControl]="notesFormControl" [readonly]="!notesAreBeingModified"></textarea>
        </div>
        <p class="help" [ngClass]="updateNotesSuccess['status'] ? 'has-text-success' : 'has-text-danger'">{{ updateNotesMessage.value }}</p>
        <div class="field is-grouped py-2" *ngIf="notesAreBeingModified">
            <p class="control">
                <button class="button is-primary" (click)="updateNotes()">
                    <span class="icon">
                      <i class="fas fa-check"></i>
                    </span>
                    <span>Enregistrer les changements</span>
                </button>
            </p>
            <p class="control">
                <button class="button is-danger is-outlined" (click)="cancelNotesEdition()">
                    <span class="icon">
                      <i class="fas fa-xmark"></i>
                    </span>
                    <span>Annuler</span>
                </button>
            </p>
        </div>
    </div>
</section>

<section class="section" *ngIf="pov == 'seller' && ['lib', 'hand', 'iai'].includes(coverType) && status == 'requested'">
    <div class="container">
        <div class="box is-flex is-flex-direction-column is-align-items-center">
            <h4 class="subtitle is-4 has-text-weight-bold">Mettre à jour la date d'arrivée de la jument</h4>
            <label class="label has-text-weight-semibold has-text-grey-light">Date d'arrivée enregistrée</label>
            <div class="content control has-icons-right">
                <input class="input" [ngClass]="arrivalDate? 'is-success': 'is-warning'" [value]="arrivalDate? arrivalDate: 'Aucune'" readonly>
                <span class="icon is-small is-right">
                    <i class="fas" [ngClass]="arrivalDate? 'fa-check': ''"></i>
                  </span>
            </div>
            <label class="label has-text-weight-semibold has-text-grey-light">Nouvelle date d'arrivée <small>(format JJ/MM/AAAA)</small></label>
            <div class="content">
                <div class="field is-grouped is-centered">
                    <div class="control is-expanded">
                      <input class="input" type="text" placeholder="15/02/2024" [formControl]="newArrivalDate">
                    </div>
                    <div class="control">
                      <a class="button" (click)="triggerModal('arrivalDate')">
                        Enregistrer
                      </a>
                    </div>
                </div>
                <p class="help is-danger pb-6" *ngIf='arrivalDateChangeFailed["value"] && displayArrivalDateHelper["value"]'>
                    Erreur dans le format de la date, veuillez s'il vous plaît utiliser le format JJ/MM/AAAA, exemple: 15/02/2024</p>    
                <p class="help is-success pb-6" *ngIf='!arrivalDateChangeFailed["value"] && displayArrivalDateHelper["value"]'>
                    Parfait!</p>   
            </div>

            <h4 class="subtitle is-4 has-text-weight-bold">Augmenter ou baisser le prix</h4>
            <label class="label has-text-weight-semibold has-text-grey-light">Prix de base actuellement utilisé</label>
            <div class="content control has-icons-right">
                <input class="input is-success" [value]="basePrice" readonly>
                <span class="icon is-small is-right">
                    <i class="fas fa-euro"></i>
                  </span>
            </div>
            <label class="label has-text-weight-semibold has-text-grey-light">Nouveau prix <small>(pas de nombres à virgule)</small></label>
            <div class="content">
                <div class="field is-grouped is-centered">
                    <div class="control is-expanded has-icons-right">
                      <input class="input" type="text" placeholder="400" [formControl]="newBasePrice">
                      <span class="icon is-right">
                        <i class="fas fa-euro"></i>
                      </span>
                    </div>
                    <div class="control">
                      <a class="button" (click)="triggerModal('basePrice')">
                        Enregistrer
                      </a>
                    </div>
                </div>
                <p class="help is-danger pb-6" *ngIf='basePriceChangeFailed["value"] && displayBasePriceHelper["value"]'>
                    Erreur dans le format du nouveau prix, veuillez s'il vous plaît ne taper que des nombres sans virgule, exemple: 400</p>    
                <p class="help is-success pb-6" *ngIf='!basePriceChangeFailed["value"] && displayBasePriceHelper["value"]'>
                    Parfait!</p>   
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="box is-flex is-flex-direction-column is-align-items-center">
            <h4 class="subtitle is-4 has-text-weight-bold">Statut de la saillie</h4>
 
            <div class="block">
                <span class="tag is-large" [ngClass]="statusHelperObject[status]">{{statusMappingObject[status]}}, {{statusCommentaryMappingObject[status]}}</span>
            </div>


            <h4 class="subtitle is-4 has-text-weight-bold" *ngIf="actions[pov] && (actions[pov]['green'][status] || actions[pov]['red'][status])">Actions</h4>
            <div class="field is-grouped is-centered">
                <p class="control">
                  <button class="button is-success is-medium" (click)="green(status, pov)" *ngIf="actions[pov] && actions[pov]['green'][status]"
                    [disabled]="pov == 'seller' && ['lib', 'hand', 'iai'].includes(coverType) && !arrivalDate">
                    <span class="icon">
                      <i class="fas fa-check"></i>
                    </span>
                    <span>{{actions[pov]['green'][status]}}</span>
                  </button>
                </p>
                <p class="control">
                    <button class="button is-danger is-medium" (click)="red(status, pov)" *ngIf="actions[pov] && actions[pov]['red'][status]">
                      <span class="icon">
                        <i class="fas fa-xmark"></i>
                      </span>
                      <span>{{actions[pov]['red'][status]}}</span>
                    </button>
                  </p>
            </div>
            <label class="label has-text-weight-semibold has-text-grey"
            *ngIf="pov == 'seller' && ['lib', 'hand', 'iai'].includes(coverType) && !arrivalDate && status == 'requested'">
            Vous devez indiquer une date d'arrivée de la jument au centre avant d'accepter la saillie (juste au-dessus).
            </label>
        </div>
    </div>
</section>

<div class="modal" [ngClass]="newBasePriceModalIsActive? 'is-active': ''">
    <div class="modal-background" (click)="closeModal('basePrice')"></div>
    <div class="modal-content">
        <header class="modal-card-head">
            <p class="modal-card-title">Êtes-vous sûr de vouloir faire cette modification?</p>
            <button class="delete" aria-label="close" (click)="closeModal('basePrice')"></button>
        </header>
        <section class="modal-card-body">
            <p>Le prix de base de la saillie passera de {{basePrice}}€ à {{valueForPutCover}}€.</p>
            <p>Les frais de service de la plateforme seront automatiquement recalculés.</p>
        </section>
        <footer class="modal-card-foot is-justify-content-center">
            <div class="buttons">
                <a class="button is-success" (click)="saveNewBasePrice()">Valider le nouveau prix</a>
                <a class="button" (click)="closeModal('basePrice')">Annuler</a>
            </div>
        </footer>
    </div>
</div>

<div class="modal" [ngClass]="newArrivalDateModalIsActive? 'is-active': ''">
    <div class="modal-background" (click)="closeModal('arrivalDate')"></div>
    <div class="modal-content">
        <header class="modal-card-head">
            <p class="modal-card-title">Êtes-vous sûr de vouloir faire cette modification?</p>
            <button class="delete" aria-label="close" (click)="closeModal('arrivalDate')"></button>
        </header>
        <section class="modal-card-body">
            <p>La nouvelle date d'arrivée de la jument sera le {{valueForPutCover}}.</p>
        </section>
        <footer class="modal-card-foot is-justify-content-center">
            <div class="buttons">
                <a class="button is-success" (click)="saveNewArrivalDate()">Valider la nouvelle date</a>
                <a class="button" (click)="closeModal('arrivalDate')">Annuler</a>
            </div>
        </footer>
    </div>
</div>