<section class="section">
  <nav class="navbar is-fixed-top px-5" role="navigation" aria-label="main navigation" >
    <div class="navbar-brand">
      <a class="navbar-item" (click)="navigateToSearch()">
        <img [src]="objectStorageBaseUrl + photosPrefix + '/logo-black.png'" width="260" height="65">
      </a>

      <a class="navbar-item is-size-6" (click)="navigateToThisWebsite()">
        <span class="icon-text">
          <span>Qu'est-ce que c'est que ce site?</span>
        </span>
      </a>
    </div>

    <div class="navbar-menu">

      <div class="navbar-end">
        <a class="navbar-item is-size-6" (click)="navigateToSearch()">
          <span class="icon-text">
            <span class="icon">
              <img [src]="objectStorageBaseUrl + photosPrefix + '/glass.png'">
            </span>
            <span>Rechercher un étalon</span>
          </span>
        </a>

        <a class="navbar-item is-size-6" (click)="navigateToDashboard()" *ngIf="userIsLoggedIn">
          <span class="icon-text">
            <span class="icon">
              <img [src]="objectStorageBaseUrl + photosPrefix + '/monitor.png'">
            </span>
            <span>Tableau de bord</span>
          </span>
        </a>

        <a class="navbar-item" *ngIf="userIsLoggedIn">
          <span class="icon-text has-text-weight-semibold">
            <span class="icon pr-1">
              <img [src]="objectStorageBaseUrl + photosPrefix + '/user.png'">
            </span>
            <span>Bonjour, {{firstname}} {{lastname}}</span>
          </span>
        </a>
      
        <div class="navbar-item" *ngIf="!userIsLoggedIn">
          <div class="buttons">
            <a class="button is-primary" routerLink="/register">
              <strong>Créer un compte</strong>
            </a>
            <a class="button is-light" routerLink="/login">
              Se connecter
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</section>