<section class="section">
    <div class="container">
        <div class="content py-3">
            <h3 class="subtitle is-3 has-text-weight-bold mb-3">{{name}}</h3>
            <h4 class="subtitle is-4 has-text-grey-light">{{breed}}</h4>
            <div class="columns">
                <div class="column">
                    <p class="has-text-weight-semibold">
                        {{location}}
                    </p>
                </div>

                <div class="column has-text-right">
                    <div class="is-flex is-align-items-center is-justify-content-flex-end">
                        <button class="button is-rounded">
                            <span>Ajouter aux favoris</span>
                            <span class="icon is-small">
                              <i class="far fa-heart" style="color: #DC143C"></i>
                            </span>
                        </button>
                        <div class="has-text-weight-bold ml-3">
                            -
                        </div>
                        <div class="ml-3 has-text-weight-bold is-clickable">
                            15 commentaires
                        </div>
                        <div class="has-text-weight-bold ml-3">
                            -
                        </div>
                        <span class="icon-text ml-3">
                            <span class="has-text-weight-semibold">4.5</span>
                            <span class="icon">
                              <i class="fas fa-star" style="color: #FFDF00"></i>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <figure class="image py-4">
            <img [src]="photos[0]" alt="Photo">
        </figure>

        <div class="content has-text-weight-semibold is-size-5 has-text-justified">
            <p [innerHTML]="mainDesc"></p>
        </div>

        <div class="content py-4">
            <h4 class="subtitle is-4 has-text-weight-bold">Informations basiques</h4>
            <div class="content has-text-weight-semibold">
                <div class="tags are-large">
                    <span class="tag is-rounded">{{color}}</span>
                    <span class="tag is-rounded">{{age}}</span>
                    <span class="tag is-rounded">{{heightTagValue}}</span>            
                </div>
            </div>
        </div>

        <div class="content py-4">
            <h4 class="subtitle is-4 has-text-weight-bold">Conditions de saillie</h4>
            <div class="content has-text-weight-semibold">
                <div class="tags are-large">
                    <span class="tag is-rounded" *ngFor="let coverType of coverTypes">{{coverType}}</span>      
                </div>
            </div>
            <div class="content has-text-weight-semibold is-size-5 has-text-justified">
                <p [innerHTML]="coverAdditionalInfo"></p>
            </div>
        </div>

        <div class="content py-4" *ngIf="hasPedigree">
            <h4 class="subtitle is-4 has-text-weight-bold">Pedigree</h4>
            <div class="columns is-flex is-align-items-center">
                <div class="column">
                    <div class="control my-3">
                        <input class="input is-medium" value="{{pedigree[0]}}" readonly>
                    </div>
                </div>
          
                <div class="column">
                    <div class="control py-5" *ngFor="let x of getNumberArray(2)">
                        <input class="input is-medium" value="{{pedigree[2+x]}}" readonly>
                    </div>
                </div>
          
                <div class="column">
                    <div class="control my-3" *ngFor="let x of getNumberArray(4)">
                        <input class="input is-medium" value="{{pedigree[6+x]}}" readonly>
                    </div>
                </div>
              </div>

            <div class="columns is-flex is-align-items-center">
              <div class="column">
                <div class="control my-3">
                    <input class="input is-medium" value="{{pedigree[1]}}" readonly>
                </div>
            </div>
      
            <div class="column">
                <div class="control py-5" *ngFor="let x of getNumberArray(2)">
                    <input class="input is-medium" value="{{pedigree[4+x]}}" readonly>
                </div>
            </div>
      
            <div class="column">
                <div class="control my-3" *ngFor="let x of getNumberArray(4)">
                    <input class="input is-medium" value="{{pedigree[10+x]}}" readonly>
                </div>
            </div>
          </div>
        </div>

        <div class="content py-4" *ngIf="offspring">
            <h4 class="subtitle is-4 has-text-weight-bold">Autres produits de l'étalon</h4>
            <div class="content has-text-weight-semibold is-size-5 has-text-justified">
                <p [innerHTML]="offspring"></p>
            </div>
        </div>

        <div class="content py-4" *ngIf="performance">
            <h4 class="subtitle is-4 has-text-weight-bold">Performances de l'étalon</h4>
            <div class="content has-text-weight-semibold is-size-5 has-text-justified">
                <p [innerHTML]="performance"></p>
            </div>
        </div>

        <div class="content py-4" *ngIf="pedigreePO">
            <h4 class="subtitle is-4 has-text-weight-bold">Performances du pedigree de l'étalon</h4>
            <div class="content has-text-weight-semibold is-size-5 has-text-justified">
                <p [innerHTML]="pedigreePO"></p>
            </div>
        </div>

        <div class="content py-4" *ngIf="stallionAdditionalInfo">
            <h4 class="subtitle is-4 has-text-weight-bold">Informations additionnelles</h4>
            <div class="content has-text-weight-semibold is-size-5 has-text-justified">
                <p [innerHTML]="stallionAdditionalInfo"></p>
            </div>
        </div>

        <figure class="image py-4" *ngFor="let i of getNumberArray(getNbOfPhotos() - 1)">
            <img [src]="photos[i+1]" alt="Photo numéro {{i}} de l'étalon">
        </figure>
    </div>
</section>




<div class="container">
    <div class="content">
        <h4 class="title is-4">Prix</h4>
        <p>xxx€</p>
    </div>



    <div class="buttons">
        <button class="button is-primary" (click)="onClick()">
            Demander une saillie
        </button>

        <button class="button">
            Retour
        </button>
    </div>

    <form [formGroup]="askForMatingForm" *ngIf="askForMatingIsClicked">
        <h4 class="title is-4">Demande de saillie</h4>
        <div class="field">
            <label class="label">Nom de la jument</label>
            <div class="control">
            <input class="input" type="text" placeholder="" formControlName="mare_name">
            </div>
        </div>

        <div class="field">
            <label class="label">N° SIRE de la jument</label>
            <div class="control">
            <input class="input" type="text" placeholder="" formControlName="mare_nSIRE">
            </div>
        </div>

        <div class="field">
            <label class="label">Numéro de téléphone</label>
            <div class="control">
            <input class="input" type="text" placeholder="" formControlName="buyer_number">
            </div>
        </div>

        <div class="field">
            <label class="label">Message</label>
            <div class="control">
              <textarea class="textarea" placeholder="Laissez un message au vendeur, décrivant votre projet et toute information que vous jugerez utile..." formControlName="message"></textarea>
            </div>
        </div>

        <div class="buttons">
            <button class="button is-primary" (click)="sendDemandClick()">
                Envoyer la demande
            </button>
    
            <button class="button" (click)="cancelAskClick()">
                Annuler
            </button>
        </div>
    </form>

</div>