<section class="section">
    <div class="container">
        <div class="content py-3">
            <h3 class="subtitle is-3 has-text-weight-bold mb-3">{{name}}</h3>
            <h4 class="subtitle is-4 has-text-grey-light">{{breed}}</h4>
            <div class="columns">
                <div class="column">
                    <p class="has-text-weight-semibold">
                        {{location}}
                    </p>
                </div>

                <div class="column has-text-right">
                    <div class="is-flex is-align-items-center is-justify-content-flex-end">
                        <button class="button is-rounded">
                            <span>Ajouter aux favoris</span>
                            <span class="icon is-small">
                              <i class="far fa-heart" style="color: #DC143C"></i>
                            </span>
                        </button>
                        <div class="has-text-weight-bold ml-3">
                            -
                        </div>
                        <div class="ml-3 has-text-weight-bold is-clickable">
                            15 commentaires
                        </div>
                        <div class="has-text-weight-bold ml-3">
                            -
                        </div>
                        <span class="icon-text ml-3">
                            <span class="has-text-weight-semibold">4.5</span>
                            <span class="icon">
                              <i class="fas fa-star" style="color: #FFDF00"></i>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <figure class="image py-4">
            <img [src]="photos[0]" alt="Photo">
        </figure>

        <div class="content has-text-weight-semibold is-size-5 has-text-justified">
            <p [innerHTML]="mainDesc"></p>
        </div>

        <div class="content py-4">
            <h4 class="subtitle is-4 has-text-weight-bold">Informations basiques</h4>
            <div class="content has-text-weight-semibold">
                <div class="tags are-large">
                    <span class="tag is-rounded">{{color}}</span>
                    <span class="tag is-rounded">{{age}}</span>
                    <span class="tag is-rounded">{{heightTagValue}}</span>            
                </div>
            </div>
        </div>

        <div class="content py-4">
            <h4 class="subtitle is-4 has-text-weight-bold">Conditions de saillie</h4>
            <div class="content has-text-weight-semibold">
                <div class="tags are-large">
                    <span class="tag is-rounded" *ngFor="let coverType of coverTypes">{{availableCoverTypes[coverType]}}</span>      
                </div>
            </div>
            <div class="content has-text-weight-semibold is-size-5 has-text-justified">
                <p [innerHTML]="coverAdditionalInfo"></p>
            </div>
        </div>

        <div class="content py-4" *ngIf="hasPedigree">
            <h4 class="subtitle is-4 has-text-weight-bold">Pedigree</h4>
            <div class="columns is-flex is-align-items-center">
                <div class="column">
                    <div class="control my-3">
                        <input class="input is-medium" value="{{pedigree[0]}}" readonly>
                    </div>
                </div>
          
                <div class="column">
                    <div class="control py-5" *ngFor="let x of getNumberArray(2)">
                        <input class="input is-medium" value="{{pedigree[2+x]}}" readonly>
                    </div>
                </div>
          
                <div class="column">
                    <div class="control my-3" *ngFor="let x of getNumberArray(4)">
                        <input class="input is-medium" value="{{pedigree[6+x]}}" readonly>
                    </div>
                </div>
              </div>

            <div class="columns is-flex is-align-items-center">
              <div class="column">
                <div class="control my-3">
                    <input class="input is-medium" value="{{pedigree[1]}}" readonly>
                </div>
            </div>
      
            <div class="column">
                <div class="control py-5" *ngFor="let x of getNumberArray(2)">
                    <input class="input is-medium" value="{{pedigree[4+x]}}" readonly>
                </div>
            </div>
      
            <div class="column">
                <div class="control my-3" *ngFor="let x of getNumberArray(4)">
                    <input class="input is-medium" value="{{pedigree[10+x]}}" readonly>
                </div>
            </div>
          </div>
        </div>

        <div class="content py-4" *ngIf="offspring">
            <h4 class="subtitle is-4 has-text-weight-bold">Autres produits de l'étalon</h4>
            <div class="content has-text-weight-semibold is-size-5 has-text-justified">
                <p [innerHTML]="offspring"></p>
            </div>
        </div>

        <div class="content py-4" *ngIf="performance">
            <h4 class="subtitle is-4 has-text-weight-bold">Performances de l'étalon</h4>
            <div class="content has-text-weight-semibold is-size-5 has-text-justified">
                <p [innerHTML]="performance"></p>
            </div>
        </div>

        <div class="content py-4" *ngIf="pedigreePO">
            <h4 class="subtitle is-4 has-text-weight-bold">Performances du pedigree de l'étalon</h4>
            <div class="content has-text-weight-semibold is-size-5 has-text-justified">
                <p [innerHTML]="pedigreePO"></p>
            </div>
        </div>

        <div class="content py-4" *ngIf="stallionAdditionalInfo">
            <h4 class="subtitle is-4 has-text-weight-bold">Informations additionnelles</h4>
            <div class="content has-text-weight-semibold is-size-5 has-text-justified">
                <p [innerHTML]="stallionAdditionalInfo"></p>
            </div>
        </div>

        <figure class="image py-4" *ngFor="let i of getNumberArray(getNbOfPhotos() - 1)">
            <img [src]="photos[i+1]" alt="Photo numéro {{i}} de l'étalon">
        </figure>
    </div>
</section>

<section class="section">
    <div class="container">
        <form [formGroup]="askForMatingForm" class="box">
            <h4 class="subtitle is-4 has-text-weight-bold pb-4 has-text-centered">Formulaire de demande de saillie</h4>

            <div class="columns is-align-items-center">
                <div class="column is-2 has-text-right">
                    <label class="label">Pour la jument</label>
                </div>

                <div class="column">
                    <div class="field">
                        <p class="control is-expanded">
                          <input class="input" type="text" placeholder="Nom de la jument" formControlName="mareName">
                        </p>
                      </div>
                </div>

                <div class="column">
                    <div class="field">
                        <p class="control is-expanded">
                          <input class="input" type="text" placeholder="N° SIRE" formControlName="mareNSIRE">
                        </p>
                      </div>
                </div>

                <div class="column">
                    <div class="field">
                        <div class="control is-expanded">
                            <div class="select is-fullwidth">
                                <select formControlName="mareBreed">
                                    <option>Race</option>
                                    <option *ngFor="let breed of availableBreeds">{{breed}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="columns is-align-items-center">
                <div class="column is-2 has-text-right">
                    <label class="label">Type de saillie souhaité</label>
                </div>

                <div class="column">
                    <div class="field">
                        <div class="control">
                          <label class="radio has-text-weight-semibold" *ngFor="let coverType of coverTypes">
                            <input type="radio" [value]="coverType" formControlName="selectedCoverType">
                            {{availableCoverTypes[coverType]}}
                          </label>
                        </div>
                      </div>
                </div>
            </div>

            <div class="columns is-align-items-start">
                <div class="column is-2 has-text-right">
                    <label class="label">Votre message</label>
                </div>

                <div class="column">
                    <div class="field">
                        <div class="control">
                          <textarea class="textarea" placeholder="Bonjour, cet étalon m'intéresse..." formControlName="messageToVendor"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="columns is-align-items-start">
                <div class="column is-2 has-text-right">
                    <label class="label">Prix</label>
                </div>

                <div class="column">
                    <div class="columns has-text-grey">
                        <div class="column">
                            <p>Sous-total</p>
                            <p>Frais de service</p>
                        </div>

                        <div class="column has-text-right">
                            <p>{{subtotal}} €</p>
                            <p>{{serviceFees}} €</p>
                        </div>
                    </div>

                    <hr>

                    <div class="columns has-text-grey">
                        <div class="column">
                            <p>Total</p>
                            <p class="mt-4">(Aucun paiement n'est à effectuer pour le moment, ce n'est qu'une proposition.)</p>
                        </div>

                        <div class="column is-2 has-text-right">
                            <p>{{total}} €</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="columns is-align-items-center">
                <div class="column is-2 has-text-right">

                </div>

                <div class="column">
                    <div class="field">
                    <div class="control">
                      <button class="button is-primary" [ngClass]="buttonIsLoading['status']? 'is-loading' : ''" (click)="sendDemandClick()">
                        Envoyer la demande de saillie
                      </button>
                    </div>
                    <p class="help" [ngClass]="{
                        'has-text-success': !formNotValid && !backendErrorStatus['status'],
                        'has-text-danger': formNotValid || backendErrorStatus['status']
                        }">{{ sendFormMessage.value }}</p>
                  </div>
                </div>
            </div>
        </form>
    </div>
</section>