<div class="card-image is-clickable is-overflow-hidden" (click)="handleClick()">
    <figure class="image is-4by3">
      <img [src]="objectStorageBaseUrl + photosPrefix + '/' + item.photo_url" style="object-fit: cover; width: 100%; height: 100%;">
    </figure>
    <span class="icon is-small" (click)="updateFavorite($event)">
        <i class="fa-heart fa-xl" [ngClass]="item.id && favoriteStallions.includes(item.id)? 'fas': 'far'"
          [style]="item.id && favoriteStallions.includes(item.id)? 'color: #DC143C;': 'color: #ffffff;'"></i>
      </span>
</div>
<div class="card-content px-0 pt-2 is-clickable" style="background-color: #f7faf7;" (click)="handleClick()">
  <p class="has-text-weight-bold py-0 my-0">{{item.name}}</p>

  <div class="columns py-0 my-0">
    <div class="column py-0 my-0">
      <p class="has-text-grey-light">{{item.breed}}</p>
    </div>

    <div class="column is-4 py-0 my-0">
      <p class="has-text-grey-light has-text-right">{{heightFloor}}m{{heightDec}}</p>
    </div>
  </div>  


  <div class="columns py-0 my-0">
    <div class="column">
      <p class="has-text-grey-light">{{location}}</p>
    </div>

    <div class="column is-4">
      <p class="has-text-weight-bold has-text-right">{{item.price}}€</p>
    </div>
  </div>  
</div>