<div class="card-image is-clickable is-overflow-hidden" (click)="handleClick()">
    <figure class="image is-4by3">
      <img [src]="item.photo" style="object-fit: cover; width: 100%; height: 100%;">
    </figure>
    <span class="icon is-small">
        <i class="far fa-heart fa-xl" style="color: #ffffff;"></i>
      </span>
</div>
<div class="card-content px-0">
  <div class="content">
      <h6 class="subtitle is-6 mb-1 has-text-weight-bold">{{item.name}}</h6>
      <p class="has-text-grey-light is-size-6">{{item.breed}}</p>
  </div>

  <div class="columns">
    <div class="column" id="locationColumn">
      <div class="content">
          <p class="has-text-grey-light has-text-weight-semibold" style="font-size: 14px">{{location}}</p>
      </div>
    </div>

    <div class="column">
      <p class="has-text-weight-bold is-size-6 has-text-right">{{item.price}}€</p>
    </div>
  </div>  
</div>