<h3 class="subtitle is-3 has-text-weight-semibold">Ajouter un nouvel étalon</h3>

<section class="section">
  <form [formGroup]="registerNewStallionForm">
    <h4 class="subtitle is-4">Première partie: profil de l'étalon</h4>

    <h5 class="subtitle is-5 has-text-weight-bold">Identification de l'étalon</h5>

    <div class="field">
      <div class="columns">
        <div class="column is-two-thirds">
          <label class="label has-text-weight-semibold has-text-grey">Nom de l'étalon</label>
          <div class="control">
            <input class="input" [ngClass]="{
              'is-success': isFilledInForm('name') && triggerEmptyMandatoryFields['status'],
              'is-danger': !isFilledInForm('name') && triggerEmptyMandatoryFields['status']
              }" type="text" placeholder="" formControlName="name">
          </div>
        </div>
      </div>
    </div>

    <div class="field">
        <label class="label has-text-weight-semibold has-text-grey">Race</label>
        <div class="control">
          <div class="select" [ngClass]="{
            'is-success': dropdownIsSelected('breed') && triggerEmptyMandatoryFields['status'],
            'is-danger': !dropdownIsSelected('breed') && triggerEmptyMandatoryFields['status']
            }">
            <select formControlName="breed">
              <option>Sélectionner</option>
              <option *ngFor="let breed of availableBreeds">{{breed}}</option>
            </select>
          </div>
        </div>
    </div>

    <div class="field">
      <div class="columns">
        <div class="column is-two-thirds">
          <label class="label has-text-weight-semibold has-text-grey">N° SIRE</label>
          <div class="control">
            <input class="input" [ngClass]="{
              'is-success': isFilledInForm('nSIRE') && triggerEmptyMandatoryFields['status'],
              'is-danger': !isFilledInForm('nSIRE') && triggerEmptyMandatoryFields['status']
              }" type="text" placeholder="12345678X" formControlName="nSIRE">
          </div>
        </div>
      </div>
    </div>

    <div class="field mt-6">
      <h5 class="subtitle is-5 has-text-weight-bold mb-3">Photos</h5>
      <label class="label has-text-weight-normal has-text-grey-light">La première photo ajoutée, la plus à gauche de la liste, sera considérée comme la photo principale.</label>

      <div class="photo-container">
        <figure class="image" *ngFor="let i of getNumberArray(photosURLs.length)">
          <img [src]="photosURLs[i]" alt="Photo" class="is-fullwidth">
          <button class="delete is-large" (click)="deletePhoto(i)"></button>
        </figure>


        <span class="file is-large is-boxed">
          <label class="file-label">
            <input class="file-input" type="file" name="resume" (change)="fetchPhotos($event)" accept=".png,.pdf,.jpeg,.jpg">
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-plus"></i>
              </span>
            </span>
          </label>
        </span>
      </div>
      <p class="help has-text-danger">{{ photosHelper.value }}</p>
    </div>

    <div class="field">
      <h5 class="subtitle is-5 has-text-weight-bold">Description principale</h5>
      <div class="control">
        <textarea class="textarea" [ngClass]="{
          'is-success': isFilledInForm('mainDesc') && triggerEmptyMandatoryFields['status'],
          'is-danger': !isFilledInForm('mainDesc') && triggerEmptyMandatoryFields['status']
          }" placeholder="Décrivez votre étalon en quelques lignes..." formControlName="mainDesc"></textarea>
      </div>
    </div>
    
    <h5 class="subtitle is-5 has-text-weight-bold">Informations basiques</h5>
    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label has-text-weight-semibold has-text-grey">Robe</label>
          <div class="control">
            <input class="input" [ngClass]="{
              'is-success': isFilledInForm('color') && triggerEmptyMandatoryFields['status'],
              'is-danger': !isFilledInForm('color') && triggerEmptyMandatoryFields['status']
              }" type="text" placeholder="Noir pie tobiano" formControlName="color">
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <label class="label has-text-weight-semibold has-text-grey">Taille au garrot <small>(centimètres)</small></label>
          <div class="control">
          <input class="input" [ngClass]="{
            'is-success': isFilledInForm('height') && triggerEmptyMandatoryFields['status'],
            'is-danger': !isFilledInForm('height') && triggerEmptyMandatoryFields['status']
            }" type="text" placeholder="160" formControlName="height">
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <label class="label has-text-weight-semibold has-text-grey">Date de naissance <small>(JJ/MM/AAAA)</small></label>
          <div class="control">
          <input class="input" [ngClass]="{
            'is-success': isFilledInForm('birthdate') && triggerEmptyMandatoryFields['status'],
            'is-danger': !isFilledInForm('birthdate') && triggerEmptyMandatoryFields['status']
            }" type="text" placeholder="01/01/2015" formControlName="birthdate">
          </div>
        </div>
      </div>
    </div>

    <h5 class="subtitle is-5 has-text-weight-bold">Localisation de l'étalon</h5>
    <div class="columns is-align-items-self-end">
      <div class="column">
        <div class="field">
          <label class="label has-text-weight-semibold has-text-grey">Ville de résidence</label>
          <div class="control" [ngClass]="locationIsValidated? 'has-icons-right' : ''">
            <input class="input" [ngClass]="{
              'is-success': locationIsValidated,
              'is-danger': !locationIsValidated && (isLookingForLocation || triggerEmptyMandatoryFields['status'])
              }" type="text" placeholder="Toulouse" formControlName="location">
            <span class="icon is-right" *ngIf="locationIsValidated">
              <i class="fas fa-check fa-sm"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field" *ngIf="!locationIsValidated">
          <label class="label has-text-weight-semibold has-text-grey">Code postal <small>(optionnel)</small></label>
          <div class="control">
            <input class="input" [ngClass]="{
              'is-success': locationIsValidated,
              'is-danger': !locationIsValidated && (isLookingForLocation || triggerEmptyMandatoryFields['status'])
              }" type="text" placeholder="31000" formControlName="postalCode">
          </div>
      </div>
      </div>

      <div class="column">
        <div class="control" *ngIf="!locationIsValidated">
          <button class="button is-primary" (click)="findCity()">Localiser la ville</button>
        </div>
        <div class="control" *ngIf="locationIsValidated">
          <button class="button is-primary" (click)="resetCity()">
            <span class="icon">
              <i class="fas fa-arrows-rotate"></i>
            </span>
            <span>Sélectionner une autre ville</span>
          </button>
        </div>
      </div>
    </div>
    
    <p class="help has-text-danger">{{ locationHelper.value }}</p>
    <div class="tags" *ngIf="locationSearchSuccess['status'] && isLookingForLocation">
      <span class="tag is-medium is-clickable" *ngFor="let index of getNumberArray(locationTagValues.length)" (click)="confirmLocationValue(index)">{{locationTagValues[index]}}</span>
    </div>
    

    <div class="field py-3">
      <h5 class="subtitle is-5 has-text-weight-bold">Produits </h5>
      <div class="control">
        <textarea class="textarea" placeholder="Ce paragraphe concerne les produits de votre étalon, listez-les et donnez toute information à propos d'eux que vous jugez utile." formControlName="offspring"></textarea>
      </div>
    </div>

    <div class="field">
      <h5 class="subtitle is-5 has-text-weight-bold">Performances</h5>
      <div class="control">
        <textarea class="textarea" placeholder="Présentez ici les performances de votre étalon en compétition." formControlName="performance"></textarea>
      </div>
    </div>

    <h5 class="subtitle is-5 has-text-weight-bold">Pedigree</h5>

    <div class="columns is-flex is-align-items-center">
      <div class="column">
        <div class="control">
          <input type="text" class="input" placeholder="Père" formControlName="p1">
        </div>
      </div>

      <div class="column">
        <div class="control my-3">
          <input type="text" class="input" placeholder="Grand-père" formControlName="p3">
        </div>
        <div class="control my-3">
          <input type="text" class="input" placeholder="Grand-mère" formControlName="p4">
        </div>
      </div>

      <div class="column">
        <div class="control my-3">
          <input type="text" class="input" placeholder="Arrière-grand-père" formControlName="p7">
        </div>
        <div class="control my-3">
          <input type="text" class="input" placeholder="Arrière-grand-mère" formControlName="p8">
        </div>
        <div class="control my-3">
          <input type="text" class="input" placeholder="Arrière-grand-père" formControlName="p9">
        </div>
        <div class="control my-3">
          <input type="text" class="input" placeholder="Arrière-grand-mère" formControlName="p10">
        </div>
      </div>
    </div>

    <div class="columns is-flex is-align-items-center">
      <div class="column">
        <div class="control">
          <input type="text" class="input" placeholder="Mère" formControlName="p2">
        </div>
      </div>

      <div class="column">
        <div class="control my-3">
          <input type="text" class="input" placeholder="Grand-père" formControlName="p5">
        </div>
        <div class="control my-3">
          <input type="text" class="input" placeholder="Grand-mère" formControlName="p6">
        </div>
      </div>

      <div class="column">
        <div class="control my-3">
          <input type="text" class="input" placeholder="Arrière-grand-père" formControlName="p11">
        </div>
        <div class="control my-3">
          <input type="text" class="input" placeholder="Arrière-grand-mère" formControlName="p12">
        </div>
          <div class="control my-3">
          <input type="text" class="input" placeholder="Arrière-grand-père" formControlName="p13">
        </div>
          <div class="control my-3">
          <input type="text" class="input" placeholder="Arrière-grand-mère" formControlName="p14">
        </div>
      </div>
    </div>

    <div class="field">
      <h5 class="subtitle is-5 has-text-weight-bold">Pedigree: performances et produits</h5>
      <div class="control">
        <textarea class="textarea" placeholder="Dans ce paragraphe, apportez des informations concernant le pedigree de l'étalon, que ce soit à propos de leurs performances en compétition bien de leurs autres produits." formControlName="pedigreePO"></textarea>
      </div>
    </div>

    <div class="field">
      <h5 class="subtitle is-5 has-text-weight-bold">Informations additionnelles</h5>
      <div class="control">
        <textarea class="textarea" placeholder="Ajoutez ici toute information que vous jugez utile à propos de votre étalon." formControlName="stallionAdditionalInfo"></textarea>
      </div>
    </div>

    <h4 class="subtitle is-4">Seconde partie: caractéristiques de la saillie</h4>

    <div class="field">
      <h5 class="subtitle is-5 has-text-weight-bold">Races de production</h5>
      <label class="label has-text-weight-semibold has-text-grey">Indiquez les races dans lesquelles votre étalon est approuvé à produire.</label>

      <div *ngFor="let key of availableBreedTypes">
        <p class="has-text-weight-bold pt-4">{{key}}</p>

        <div class="columns">
          <div class="column">
            <div *ngFor="let productionBreed of splitListOrKeysList(breedsRecord[key], 'list', 3)[0]">
              <label class="checkbox">
                <input type="checkbox" [id]="productionBreed" (change)="updateCheckbox('productionBreeds', $event)">
                {{productionBreed}}
              </label>
            </div>
          </div>

          <div class="column">
            <div *ngFor="let productionBreed of splitListOrKeysList(breedsRecord[key], 'list', 3)[1]">
              <label class="checkbox">
                <input type="checkbox" [id]="productionBreed" (change)="updateCheckbox('productionBreeds', $event)">
                {{productionBreed}}
              </label>
            </div>
          </div>

          <div class="column">
            <div *ngFor="let productionBreed of splitListOrKeysList(breedsRecord[key], 'list', 3)[2]">
              <label class="checkbox">
                <input type="checkbox" [id]="productionBreed" (change)="updateCheckbox('productionBreeds', $event)">
                {{productionBreed}}
              </label>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="field py-4">
      <label class="label has-text-weight-semibold has-text-grey">Carnet de saillies <small>(Formats acceptés: PNG, PDF, JPEG, JPG)</small></label>
      <div class="file is-primary">
        <label class="file-label">
          <div class="control">
            <input class="file-input" type="file" name="resume" (change)="fetchCSaillies($event)" accept=".png,.pdf,.jpeg,.jpg">
          </div>
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-cloud-upload-alt"></i>
            </span>
            <span class="file-label" *ngIf="!cSaillies">
              Sélectionner un fichier 
            </span>
            <span class="file-label" *ngIf="cSaillies">
              Fichier sélectionné
            </span>
          </span>
          <span class="file-name" *ngIf="cSaillies">
            {{cSaillies.name}}
          </span>
        </label>
      </div>
      <p class="help has-text-danger">{{ cSailliesHelper.value }}</p>
    </div>

    <div class="field">
      <h5 class="subtitle is-5 has-text-weight-bold">Type de saillie</h5>
      <label class="label has-text-weight-semibold has-text-grey">Indiquez quel(s) type(s) de saillie sont proposés pour votre étalon.</label>
      <div class="columns">
        <div class="column">
          <div *ngFor="let coverType of splitListOrKeysList(coverTypes, 'obj', 2)[0]">
            <label class="checkbox">
              <input type="checkbox" [id]="coverType" (change)="updateCheckbox('coverTypes', $event)">
              {{availableCoverTypes[coverType]}}
            </label>
          </div>
        </div>

        <div class="column">
          <div *ngFor="let coverType of splitListOrKeysList(coverTypes, 'obj', 2)[1]">
            <label class="checkbox">
              <input type="checkbox" [id]="coverType" (change)="updateCheckbox('coverTypes', $event)">
              {{availableCoverTypes[coverType]}}
            </label>
          </div>
        </div>
      </div>
    </div>

    <h5 class="subtitle is-5 has-text-weight-bold mt-5">Caractéristiques des saillies</h5>
    <label class="label has-text-weight-semibold" [ngClass]="{
      'has-text-grey': getSelectedCheckboxes('coverTypes').length > 0 && triggerEmptyMandatoryFields['status'],
      'has-text-danger': !(getSelectedCheckboxes('coverTypes').length > 0) && triggerEmptyMandatoryFields['status']
      }" *ngIf="getSelectedCheckboxes('coverTypes').length === 0">
      Commencez par sélectionner un type de saillie disponible pour votre étalon.
    </label>

    <div class="box py-4" *ngFor="let coverType of getSelectedCheckboxes('coverTypes')">
      <label class="label has-text-weight-bold">Si l'acheteur choisit une {{availableCoverTypes[coverType]}} :</label>
      <div class="columns is-align-items-end">
        <div class="column">
          <div class="field">
            <label class="label has-text-weight-semibold has-text-grey">Indiquez le prix de la saillie.</label>
            <div class="control has-icons-right">
              <input class="input" type="text" placeholder="400" formControlName="{{coverType}}Price">
              <span class="icon is-small is-right">
                <i class="fas fa-euro"></i>
              </span>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="field">
            <label class="label has-text-weight-semibold has-text-grey">{{['iai', 'lib', 'hand'].includes(coverType)? "Indiquez l'adresse du " + coverPlaceNames[coverType] : "L'acheteur proposera un " + coverPlaceNames[coverType]}}</label>
            <div class="control">
              <input class="input" type="text" formControlName="{{coverType}}Place">
            </div>
          </div>
        </div>
      </div>

      <div class="field pt-4">
        <label class="label has-text-weight-semibold has-text-grey">Quel pourcentage de la saillie doit constituer l'acompte? <small>(Min. 15%, Max. 50%)</small></label>
        <div class="control has-icons-right">
          <input class="input" type="text" placeholder="50" formControlName="{{coverType}}AdvancePercentage">
          <span class="icon is-small is-right">
            <i class="fas fa-percentage"></i>
          </span>
        </div>
      </div>

      <label class="label has-text-weight-semibold has-text-grey">Dans quel cas l'acheteur doit-il payer le solde de la saillie?</label>
      <div class="control" *ngFor="let balancePaymentCondition of splitListOrKeysList(balancePaymentConditions, 'obj', 1)[0]">
        <label class="radio has-text-weight-semibold">
          <input type="radio" [value]="balancePaymentCondition" [formControlName]="coverType + 'SelectedBalancePaymentCondition'">
          {{balancePaymentConditions[balancePaymentCondition]}}
        </label>
      </div>

      <label class="label has-text-weight-semibold has-text-grey pt-4" *ngIf="['iart', 'iac'].includes(coverType)">De qui les paillettes non utilisées restent-elles la propriété?</label>
      <div class="control" *ngIf="['iart', 'iac'].includes(coverType)">
        <label class="radio has-text-weight-semibold" *ngFor="let leftStrawsOwner of ['buyer', 'seller']">
          <input type="radio" [value]="leftStrawsOwner" [formControlName]="coverType + 'SelectedLeftStrawsOwner'">
          {{leftStrawsOwner === "seller"? "Vous": "L'acheteur"}}
        </label>
      </div>
    </div>

    <div class="field mt-5">
      <h5 class="subtitle is-5 has-text-weight-bold">Informations additionnelles</h5>
      <div class="control">
        <textarea class="textarea" [ngClass]="{
          'is-success': isFilledInForm('coverAdditionalInfo') && triggerEmptyMandatoryFields['status'],
          'is-danger': !isFilledInForm('coverAdditionalInfo') && triggerEmptyMandatoryFields['status']
          }" placeholder="Ajoutez ici les informations additionnelles sur les saillies..." formControlName="coverAdditionalInfo"></textarea>
      </div>
    </div>

    <div class="field is-grouped mt-6">
      <div class="control">
        <button class="button is-primary" type="button" (click)="onSubmit()" [ngClass]="submitted['status'] ? 'is-loading' : ''">Ajouter l'étalon</button>
      </div>
      <div class="control">
        <button class="button is-light">Annuler</button>
      </div>
      <p class="help">{{ submitHelper.value }}</p>
    </div>
  </form>
</section>