<section class="section">
    <div class="container">
        <h3 class="subtitle is-3 has-text-weight-semibold">Mettre à jour le mot de passe</h3>

        <div class="columns">
            <div class="column">
                <label class="label has-text-weight-semibold has-text-grey-light">Entrez votre nouveau mot de passe</label>
                <div class="control">
                    <input class="input" type="password" [formControl]="newPassword1">
                </div>

                <p class="help has-text-weight-semibold" [ngClass]="{
                    'has-text-success': status['value'] == 'Success',
                    'has-text-danger': ['BackendError', 'UserError'].includes(status['value'])
                }">
                    {{labels[status['value']]}}
                </p>
            </div>
    
            <div class="column">
                <label class="label has-text-weight-semibold has-text-grey-light">Confirmez le nouveau mot de passe</label>
                <div class="control">
                    <input class="input" type="password" [formControl]="newPassword2">
                </div>
            </div>
        </div>        

        <button class="button is-primary" [ngClass]="{
            'is-loading': status['value'] == 'Loading'
        }" (click)="updatePassword()">
            Sauvegarder le nouveau de mot de passe
        </button>
    </div>
</section>